// Animation Mixins
@mixin waves-keyframes($keyframes, $Xstart, $Xend, $Ytop, $Ybottom, $name, $scaleX:1, $scaleY:1) {
	// keyframes
	$keysteps: percentage(1 / $keyframes);
	// X axis
	$diffX: (($Xstart - $Xend) * -1) / $keyframes;
	// add keyframe for 100%
	$keyframes: $keyframes + 1;
	
	@at-root {
		@include keyframes($name) {
			@for $i from 0 to $keyframes {
				$keyframe: ($i * $keysteps);
				$Xvalue: ($Xstart + ($i * $diffX));
				$Yvalue: if($i % 2 == 0,$Ytop,$Ybottom);
				#{$keyframe} {
					@include transform(translate($Xvalue,$Yvalue) scale($scaleX,$scaleY))
				}
			}
		}
	}
}

@mixin bkgscroll-keyframes($name, $Xstart, $Xend:0, $Y:0) {
	@include keyframes($name){
		from {
      background-position: $Xstart $Y;
    }
    to {
      background-position: $Xend $Y;
    }
	}
}

@mixin enter-keyframes($name, $Xstart, $Xend:0, $Y:0) {
	@include keyframes($name){
		from {
			opacity:0;
			@include transform(translate($Xstart,$Y))
    }
    to {
    	opacity:1;
    	@include transform(translate($Xend,$Y))
    }
	}
}

@mixin carousel-keyframes($name, $Ystart, $Yend:0, $X:0){
	@include keyframes($name){
		from {
			@include transform(translate($X,$Ystart))
    }
    to {
    	@include transform(translate($X,$Yend))
    }
	}
}

// waves animations
@include waves-keyframes(2, -4%, -4%, -21%, -20%, 'wave_xs_1', 1.5, 1.5);
@include waves-keyframes(2, 6%, 6%, -9%, -10%, 'wave_xs_2', 1.5, 1.5);
@include waves-keyframes(2, 15%, 15%, 13%, 14%, 'wave_xs_3', 1.3, 1.3);
@include waves-keyframes(2, -17%, -17%, 23%, 22%, 'wave_xs_4', 1.3, 1.3);
@include waves-keyframes(2, 2%, 2%, 35%, 34%, 'wave_xs_5', 1.2, 1.2);

@include waves-keyframes(12, -20%, 13.2%, -7%, -8.8%, 'wave_md_1');
@include waves-keyframes(10, 22%, -22%, 0%, 1.4%, 'wave_md_2');
@include waves-keyframes(8, -17%, 19%, 15%, 9%, 'wave_md_3');
@include waves-keyframes(6, 18%, -17%, 24%, 17%, 'wave_md_4');
@include waves-keyframes(6, -16%, 16%, 24%, 30%, 'wave_md_5');

@include waves-keyframes(6, -11%, 19%, -15%, -16.5%, 'wave_lg_1', .85, .85);
@include waves-keyframes(10, 17%, -7%, 0%, 2%, 'wave_lg_2', .8, .8);
@include waves-keyframes(8, -2%, 15%, 14%, 10%, 'wave_lg_3',.75,.75);
@include waves-keyframes(6, 14.5%, .5%, 21%, 17%, 'wave_lg_4',.75,.75);
@include waves-keyframes(6, 6.5%, 12.5%, 26%, 29%, 'wave_lg_5',.7,.7);

// simple background image
@include bkgscroll-keyframes('scroll_sky',1500px);
@include bkgscroll-keyframes('scroll_water',-200px);
@include bkgscroll-keyframes('scroll_red',-1000px);

// scroll-visible animations
@include enter-keyframes('enter_right',-100%);
@include enter-keyframes('enter_left',100%);

// coursel animations
@include carousel-keyframes('slide_up',100%);