// ---------------------- site colors

// ---------------------- scene colors

// scene one - waves
$blue-darkest: #006798;
$blue-dark: #0286BA;
$blue-mid:#1695C1;
$blue-light: #55D6F9;
$blue-lightest: #97E9FC;

//gradient #0286BA -> #006798