/* -----------------------------------------
*        			Module Styles
* Module blocks are defined by the .mod prefix and have child classes for
* the header (-hd) body (-bd) and footer (-ft).
*
*  - .mod-name
*  		|- .mod-name-hd
*  		|- .mod-name-bd
*  		|- .mod-name-ft
*
* Modules can be nested, and bucause of this need to maintain the named space classes.
* 
-------------------------------------------- */
.mod{
	&-main-nav{
		// @media (max-width: $screen-xs-max) {
		// 	padding-top:120px;
		// }
		.widget{
			text-align:center;
			&-hd{
				color:$blue-light;
				border-bottom:solid 1px $blue-mid;
				margin:0;
				padding:$font-size-base 0;
			}
			@include mod-navigation-list;
		}
		.navigation{
			li{
				font-size:$font-size-large;
			}
		}
	}
	&-blog_categories{
		@include mod-navigation-list;
	}
	&-navigation{
		@include mod-navigation-list;
	}
	&-member{
		@include mod-stacked;
		@include mod-stacked-arrow;
		&-ft{
			ul{
				list-style:none;
				margin:0;
				padding:0;
			}
			li{
				display:inline-block;
			}
		}
	}
	&-members{
		&-hd h2{
			text-transform:uppercase;
		}
		&-ft{
			@include mod-ft-text;
		}
	}
	&-service{
		@include mod-columns('.col-md-4',transparent);
		> img{
			height:150px;
			width:100%;
		}
		&-hd{
			text-align:center;
		}
		@media (min-width: $screen-md-min) {
			> img{
				height:250px;
			}
			&-hd,&-bd{
				padding:0 20px;
			}
		}
		@media (min-width: $screen-lg-min) {
			&-hd,&-bd{
				padding:0 40px;
			}
		}
	}
	&-services{
		&-hd h2{
			text-transform:uppercase;
		}
		&-bd {
			@extend .row;
		}
	}
	&-partner{
		@include mod-stacked;
		@media (max-width: $screen-xs-max) {
			padding-bottom:80px;
		}
		&-ft{
			a{
				float:right;
			}
		}
	}
	&-partners{
		&-hd{
			position: relative;
			h2{
				@extend .h1;
				text-transform:uppercase;
				position: absolute;
			  width: 100%;
			  top: -85px;
			  background-color:#fff;
			  margin:0;
			  color:$brand-red;
			}
			p{
				color:#fff;
				padding:40px ($gutters / 2) 70px;
				margin-bottom:0;
				text-align:center;
				@extend .lead;
				a{color:inherit;}
				@media (min-width: $screen-sm-min) {
					padding:80px $gutters;
				}
			}
		}
		&-ft{
			@include mod-ft-text;
			@media (max-width: $screen-sm-min){
				margin-bottom:40px;
			}
		}
	}
	&-form{
		// styles are in screen.scss
	}
	&-testimonials{
		margin-bottom:20px;
		&-hd{
			position: relative;
			h2{
				@extend .h1;
				text-transform:uppercase;
				position: absolute;
			  width: 100%;
			  margin-top: -80px;
			  background-color:#fff;
			  color:$brand-red;
			}
			p{
				color:#fff;
				padding:40px ($gutters / 2) 70px;
				margin-bottom:0;
				text-align:center;
				@extend .lead;

				@media (min-width: $screen-sm-min) {
					padding:80px $gutters;
				}
			}
		}
		// &-bd{
		// 	@include mod-carousel;
		// }
		// &-ft{
		// 	@include mod-ft-text;
		// }
	}
	&-testimonial{
		@include mod-stacked;
		@include mod-stacked-arrow;
		&-bd{
			position: relative;
			q{
				display:block;
				p{
					text-indent:50px;
				}
				&::before,&::after{
					font-size:80px;
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
					line-height:40px;
					position:absolute;
					opacity:.2;
				}
				&::after{
					right:0px;
				}
			}
		}
	}
	&-clients{
		&-bd{
			@extend .row;
		}
		&-ft{
			@include mod-ft-text;
		}
	}
	&-client{
		@extend .col-sm-3;
		@extend .col-xs-4;
		position: relative;
		overflow:hidden;
		margin-bottom:20px;
		img{
			width:100%;
		}
		// a{
		// 	display:block;
		// 	border:none;
		// }
		// &-hd{
		// 	color:#fff;
		// 	position: absolute;
		// 	width:100%;
		// 	background:rgba(0,0,0,.6);
		// 	text-align:center;
		// 	padding:20px;
		// 	bottom:0;
		// 	h4 {
		// 		color:#fff;
		// 		margin:0;
		// 	}
		// 	strong{
		// 		display:none;
		// 	}
		// }
		// &-ft{
		// 	position: absolute;
		// 	width:100%;
		// 	height:100%;
		// 	top:0;
		// 	a{
		// 		display:block;
		// 		height:inherit;
		// 		color:transparent;
		// 	}
		// }
		// @media (min-width: $screen-md-min) {
		// 	&-hd{
		// 		bottom:-100px;
		// 		@include transition( bottom .4s );
		// 		h4{
		// 			position: relative;
		// 			left:100%;
		// 			@include transition( left 0.5s 0.1s ease-in );
		// 		}
		// 		strong {
		// 			position: relative;
		// 			display: block;
		// 			right:100%;
		// 			@include transition( right 0.5s 0.1s ease-in );
		// 		}
		// 	}
		// 	&:hover .mod-client-hd{
		// 		bottom:0;
		// 		h4{
		// 			left:0;
		// 		}
		// 		strong{
		// 			right:0;
		// 		}
		// 	}
		// }
	}
	&-posts{
		.mod-post{
			border-bottom: solid 2px rgba(white,.5);
			margin-bottom: 120px;
			padding-bottom: 120px;

			&::last-child{
				margin-bottom:50px;
			}
			.mod-post-bd{
				@extend .lead;
			}
		}
	}
	&-post{
		&-hd{
			border-bottom: solid 1px rgba(white,.2);
			margin-bottom: 2em;
			.post-headline{
				color:#fff;
				font-size:64px;
				font-weight:600;
			}
			.post-meta{
				text-align:center;
				margin:1em 0;
				.author,.date{
					font-style:italic;
				}
			}
			.post-image{
				img{
					max-width:100%;
				}
				margin-bottom:1.2em;
			}
		}
		&-bd{
			
		}
		&-ft{
			
		}
	}
	&-author{
		@extend .row;
		&-hd{
			@extend .col-sm-2;
			img{
				width:100%;
				@extend .img-circle;
			}
		}
		&-bd{
			@extend .col-sm-10;
		}
	}
}