/* -----------------------------------------
*        			Module Styles
* Module blocks are defined by the .mod prefix and have child classes for
* the header (-hd) body (-bd) and footer (-ft).
*
*  - .mod-name
*  		|- .mod-name-hd
*  		|- .mod-name-bd
*  		|- .mod-name-ft
*
* Modules can be nested, and bucause of this need to maintain the named space classes.
* 
-------------------------------------------- */
$img-small: 250px;
$img-reg: 300px;

@mixin mod-stacked($color1:#fff,$color2:$gray-lighter){
	
	background-color:$color1;
	position: relative;
	padding: 10px ($gutters / 2);

	@media (max-width: $screen-xs-max) {
		padding-bottom:50px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  	height:$img-small;
		padding:30px ($img-small + 40px) 0 40px;
  }
	@media (min-width: $screen-md-min) {
		height:$img-reg;
		padding:50px ($img-reg + $gutters) 0 $gutters;
	}

	> img{
		max-width:100%;
		@media (max-width: $screen-xs-max) {
			@include border-radius(100%);
			display:block;
			margin:-50px auto ($line-height-computed / 2);
		}
		@media (min-width: $screen-sm-min) {
			width:$img-reg;
			height:$img-reg;
			position: absolute;
			right:0;
			top:0;
		}
		@media (max-width: $screen-sm-max) { //TODO replace with JS opperation
    	width:$img-small;
    	height:$img-small;
    }
	}
	&-hd{
		h4{
			@extend .h5;
			margin:0;
			font-weight:300;
		}
		strong{
			font-weight:300;
		}
		margin-bottom:$line-height-computed;
		@media (max-width: $screen-sm-max) {
    	margin-bottom:($line-height-computed / 2);
    }
	}
	&-bd{
		@media (max-width: $screen-sm-max) {
    	font-size:$font-size-small;
    }
	}
	&-ft{

	}
	&:nth-child(even){
		background-color:$color2;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			padding-left:($img-small + 40px);
			padding-right:40px;
		}
		@media (min-width: $screen-md-min) {
			padding-left:($img-reg + $gutters);
			padding-right:$gutters;
		}

		> img{
			@media (min-width: $screen-sm-min) {
				left:0;
			}
		}
	}
}

@mixin mod-style-red(){
	//background-color:$brand-red;
	background-color:#d53b24;
	@media (min-width: $screen-sm-min) {
		.px-density-2x &{
			background-image: url(../img/orange_2x.jpg);
			background-size: 1000px;
		}
		.px-density-1x &{
			background-image: url(../img/orange_1x.jpg);
		}
		padding-bottom:140px;
		background-position:center bottom;
		background-repeat: repeat-x;
	}
}

@mixin mod-carousel($color1:#fff){
	position: relative;
	
	@media (max-width: $screen-xs-max) {
		> div{
			background-color:$color1!important;
		}
	}
	@media (min-width: $screen-sm-min) {
		background-color:$color1;
		overflow:hidden;
		> div{
			position: absolute;
			@include transition(transform 500ms ease-in);
			@include transform(translate(0,-100%));
			&.active{
				@include transform(translate(0,0));
			}
		}
		// &.event-visible-active{
		// 	> div{
		// 		@include animation(slide_up 400ms ease-out 0s infinite alternate paused);
		// 		&.play {
		// 			@include animation-play-state(running);
		// 		}
		// 	}
		// }
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  	height: $img-small;
  }
	@media (min-width: $screen-md-min) {
		height: $img-reg;
	}
}

@mixin mod-navigation-list(){
	.navigation{
		margin:0;
		padding:0;
		list-style:none;
	}
	li{
		background-color:transparent;
		@include transition(background-color 600ms);
		&:hover{
			background-color:rgba($blue-darkest,.2);
		}
	}
	a{
		display:block;
		padding:6px 10px;
		text-decoration:none;
	}
	.first{

	}
	.last{

	}
	.current,.current:hover{
		background-color:rgba(#fff,.2);
		a{
			cursor:default;
			color:#fff;
		}
	}
	.parent{

	}
}

.mod{
	&-main-nav{
		@media (max-width: $screen-xs-max) {
			padding-top:120px;
		}
		.widget{
			border-bottom:solid 1px $blue-mid;
			text-align:center;
			&-hd{
				border-bottom:solid 1px $blue-mid;
				margin:0;
				padding:$font-size-base 0;
			}
			@include mod-navigation-list;
		}
		.navigation{
			li{
				font-size:$font-size-large;
			}
		}
	}
	&-navigation{
		&-hd{
		}
		&-bd{

		}
		@include mod-navigation-list;
	}
	&-member{
		$arrow-size: 30px;
		@include mod-stacked;
		&-ft{
			ul{
				list-style:none;
				margin:0;
				padding:0;
			}
			li{
				display:inline-block;
			}
		}
		&::before{
			@media (min-width: $screen-sm-min){
				display:block;
				position: absolute;
				content:'';
				width:0;
				height:0;
				margin-top:-$arrow-size;
				border:solid transparent $arrow-size;
				border-left-color:#fff;
				z-index:1;
			}
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		  	top: $img-small / 2;
		  	right: $img-small - ($arrow-size * 2);
		  }
			@media (min-width: $screen-md-min) {
				top: $img-reg / 2;
		  	right: $img-reg - ($arrow-size * 2);
			}
		}
		&:nth-child(even)::before{
			@media (min-width: $screen-sm-min){
				border-left-color:transparent;
				border-right-color:$gray-lighter;
			}
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	  		left: $img-small - ($arrow-size * 2);
		  }
			@media (min-width: $screen-md-min) {
		  	left: $img-reg - ($arrow-size * 2);
			}
		}
	}
	&-members{
		&-hd h2{
			text-transform:uppercase;
		}
	}
	&-partner{
		@include mod-stacked;
		@media (max-width: $screen-xs-max) {
			padding-bottom:80px;
		}
		&-ft{
			a{
				float:right;
			}
		}
	}
	&-partners{
		&-hd{
			position: relative;
			h2{
				@extend .h1;
				text-transform:uppercase;
				position: absolute;
			  width: 100%;
			  top: -85px;
			  background-color:#fff;
			  margin:0;
			}
			p{
				color:#fff;
				padding:40px ($gutters / 2) 70px;
				margin-bottom:0;
				text-align:center;
				@extend .lead;
				a{color:inherit;}
				@media (min-width: $screen-sm-min) {
					padding:80px $gutters;
				}
			}

		}
	}
	&-form{
		// styles are in screen.scss
	}
	&-testimonials{
		margin-bottom:120px;
		&-hd{
			position: relative;
			h2{
				@extend .h1;
				text-transform:uppercase;
				position: absolute;
			  width: 100%;
			  margin-top: -80px;
			  background-color:#fff;
			}
			p{
				color:#fff;
				padding:40px ($gutters / 2) 70px;
				margin-bottom:0;
				text-align:center;
				@extend .lead;

				@media (min-width: $screen-sm-min) {
					padding:80px $gutters;
				}
			}
		}
		&-bd{
			@include mod-carousel;
		}
	}
	&-testimonial{
		@include mod-stacked(transparent,transparent);
	}
	&-clients{
		&-bd{
			@extend .row;
		}
	}
	&-client{
		@extend .col-md-4;
		@extend .col-xs-6;
		position: relative;
		overflow:hidden;
		img{
			width:100%;
		}
		&-hd{
			color:#fff;
			position: absolute;
			width:100%;
			background:rgba(0,0,0,.6);
			text-align:center;
			padding:20px;
			bottom:0;
			h4 {
				color:#fff;
				margin:0;
			}
			strong{
				display:none;
			}
		}
		&-ft{
			position: absolute;
			width:100%;
			height:100%;
			top:0;
			a{
				display:block;
				height:inherit;
				color:transparent;
			}
		}
		@media (min-width: $screen-md-min) {
			&-hd{
				bottom:-100px;
				@include transition( bottom .4s );
				h4{
					position: relative;
					left:100%;
					@include transition( left 0.5s 0.1s ease-in );
				}
				strong {
					position: relative;
					display: block;
					right:100%;
					@include transition( right 0.5s 0.1s ease-in );
				}
			}
			&:hover .mod-client-hd{
				bottom:0;
				h4{
					left:0;
				}
				strong{
					right:0;
				}
			}
		}
	}
}