/* -----------------------------------------
         Custom Site Variables
-------------------------------------------- */

// site top margin
$topSpace: 240px !default;

// site gutter size
$gutters: 60px !default;

// site colors
$blue-darkest: #006798 !default;
$blue-dark: #0286BA !default;
$blue-mid:#1695C1 !default;
$blue-light: #55D6F9 !default;
$blue-lightest: #97E9FC !default;

// mod-stacked mixin image sizes
$img-small: 250px !default;
$img-reg: 300px !default;