// Import Bootstrap Compass integration
@import "bootstrap_custom/bootstrap";
@import "compass/css3";
@import "colors";

/* -----------------------------------------
         Web Fonts
-------------------------------------------- */
@include font-face("Mono Social Icons Font",font-files("MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff", "MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf", "MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot", normal, normal);

// // extra small
// @media (max-width: $screen-xs-max) {
// }
// // small
// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
// }
// // medium
// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
// }
// // large
// @media (min-width: $screen-lg-min) {
// }


/* -----------------------------------------
         Site Variables
-------------------------------------------- */
$gutters: 60px;
$topSpace: 240px;

/* -----------------------------------------
         Site Structure Styles
-------------------------------------------- */
.site-wrapper{
	position: relative;
	@include transition(transform 800ms);
	.active-main-nav &{
		@include transform(translateX(80%));
	}
	@media (min-width: $screen-sm-min){
		.active-main-nav &{
			@include transform(translateX(30%));
		}
	}
}
.site-header{
	position: relative;
	
	> svg{
		display:block;
		width:100px;
		height:100px;
		position: fixed;
		left:50%;
		top:10px;
		margin-left:-50px;
		z-index:$zindex-navbar;
	}
	> nav{
		position:fixed;
		z-index:$zindex-navbar - 1;
		height:100%;
		background-color:$blue-light;
		box-shadow:inset -18px 0 18px -18px rgba(0,0,0,.7);
		width:80%;
		@include transform(translateX(-100%));
		@include transition(transform 800ms);

		@media (min-width: $screen-sm-min){
			width:30%;
		}
		.active-main-nav &{
			@include transform(translateX(0%));
		}
	}
}
.site-content{
	position: relative;
	padding-top:$topSpace;
}
.site-footer{
	position: absolute;
	bottom:0;
	width:100%;
	text-align:center;
	@extend .small;
	color:#fff;
	padding:10px 0;
	a{
		color:#fff;
		border-bottom: dotted 1px rgba(255,255,255,.2);
	}
	ul{
		list-style:none;
		margin:0;
		padding:0;
		li{
			display:inline;
			padding-left:10px;
			&::first-child{
				padding-left:0;
			}
		}
	}
}
/* -----------------------------------------
         Site Layout Styles
-------------------------------------------- */
.block-wrapper{
	padding-bottom:100px;
	> .block{
		@extend .container;
		background-color:#fff;
		@media (max-width: $screen-xs-max)  {
			margin-left:8px;
			margin-right:8px;
		}
	}
	&.intro-section{
		h1{
			text-transform:uppercase;
		}
		.lead{
			text-align:center;
		}
		> .block{
			.block-inner{
				padding:20px ($gutters / 2);
				@media (min-width: $screen-sm-min) {
					padding:45px $gutters;
				}
			}
		}
	}
	&.two-column{
		
		.block-inner{
			@extend .row;
			padding-top:20px;
			padding-bottom:20px;
			@media (min-width: $screen-sm-min) {
				padding-top:45px;
				padding-bottom:45px;
			}
		}
		.main-column{
			@extend .col-md-8;

			padding-left: ($gutters / 2);
			@media (min-width: $screen-sm-min) {
				padding-left:$gutters;
			}
		}
		.side-column{
			@extend .col-md-3;
			@extend .col-md-offset-1;
			padding-right: ($gutters / 2);
			@media (min-width: $screen-sm-min) {
				padding-right:$gutters;
			}
		}
	}
}

/* -----------------------------------------
         				Form Styles
-------------------------------------------- */
.capture-form{
	@extend .form-horizontal;
	.mod-form{
		@extend .form-group;
		> label{
			padding-right:20px;
			@extend .control-label;
			@extend .col-sm-4;
		}
		.mod-form-input,
		.mod-form-textarea,
		.mod-form-file{
			@extend .col-sm-7;
			input,textarea,select{
				@extend .form-control;
			}
		}
		.mod-form-checkbox{
			@extend .col-sm-7;
			.checkbox-stacked{
				@extend .checkbox;
				width:50%;
				float:left;
				+ .checkbox-stacked{
					margin-top:0;
				}
			}
		}
		.mod-form-btn{
			@extend .col-sm-7;
			@extend .col-sm-offset-4;
		}
		.mod-form-help{
			@extend .help-block;
			@extend .small;
			margin-bottom:0;
		}
	}
	.flag-required{
		position: absolute;
	  right: -30px;
	  top: 10px;
	  font-size: 40px;
	  line-height: 39px;
	  color: $brand-danger;
	  cursor:default;
	}
}

/* -----------------------------------------
         			Module Styles
-------------------------------------------- */

@import "modules";


/* -----------------------------------------
         				Page Styles
-------------------------------------------- */
h1,h2{
	text-align:center;
}
img{
	color:transparent;
}
.columns {
	@media (min-width: $screen-sm-min) {
		@include columns(auto 2);
		@include column-gap(40px);
  }
}
a{
	border-bottom-style:dotted;
	border-bottom-width:1px;
	&:hover{
		text-decoration:none;
	}
}
a.social-icon {
	-webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
	font-family: 'Mono Social Icons Font';
  font-size: 2em;
  line-height:1em;
  border-bottom:none;
  &:hover{
  	text-decoration:none;
  }
}


@import "pages/about";
@import "pages/contact";
@import "pages/work";

/* -----------------------------------------
         				SVG & animations
-------------------------------------------- */

#waves {
	position: absolute;
	display:block;
	background-position: center top;
	background-repeat: repeat-x;
	opacity:0;
	@include animation(scroll_sky 45s linear infinite);
	@include transition(opacity 1.5s ease-in);
	.px-density-2x &{
		background: url(../img/watercolorTextureFade_2x.jpg);
		background-size: 1500px;
	}
	.px-density-1x &{
		background: url(../img/watercolorTextureFade_1x.jpg);
	}
	&.active{
		opacity:1;
	}
}

.site-header-logo{
	.aniCircle{
		fill:rgba($blue-darkest,.2);
		stroke: $blue-lightest;
		stroke-width:5px;
		stroke-dasharray: 300;
		stroke-dashoffset: 300;
		@include transition(stroke-dashoffset 800ms ease-out 100ms);
	}
	.logo-path-group{
		stroke:#fff;
		stroke-width:1px;
		fill:transparent;
		stroke-dasharray: 150;
		stroke-dashoffset: 150;
	}
	.hamburger-x{
		stroke:#fff;
		stroke-width:20px;
		fill:transparent;
		.path-x{
			stroke-dasharray: 380;//250
    	stroke-dashoffset: 380;
    	@include transition(stroke-dashoffset 800ms ease-out 100ms);
		}
		.path-2{
			stroke-dasharray: 135; //good
			stroke-dashoffset: 135;
			@include transition(stroke-dashoffset 800ms ease-out 100ms);
		}
	}
	.logo-path-1{
		@include transition(all 400ms ease-out 800ms);
	}
	.logo-path-2{
		@include transition(all 800ms ease-out 400ms);
	}
	.logo-path-3{
		@include transition(all 1200ms ease-out 0ms);
	}
	&.active{
		.logo-path-group{
			stroke-dashoffset: 0;
			stroke-width:7px;
		}
	}
	&.hover{
		cursor:pointer;
		.logo-path-1{
			@include transition(all 400ms ease-out 0ms);
		}
		.logo-path-2{
			@include transition(all 400ms ease-out 0ms);
		}
		.logo-path-3{
			@include transition(all 400ms ease-out 0ms);
		}
		.aniCircle{
			stroke-dashoffset: 0;
		}
		.hamburger-x .path-x{
			stroke-dashoffset: 245;
		}
		.hamburger-x .path-2{
			stroke-dashoffset: 0;
		}
	}
	&.selected{
		.hamburger-x .path-x{
			stroke-dashoffset: -245;
		}
		.hamburger-x .path-2{
			stroke-dashoffset: -135;
		}
		.logo-path-group{
			stroke-dashoffset: 150;
		}
	}
}

.wetumka_logo_wrapper{
	height:0;
	opacity:0;
	overflow:hidden;
	@include transition(height 500ms ease-in, opacity 500ms ease-in 500ms);
	#wetumka_logo {
		display:block;
		width:100%;
		min-height:200px;
	}
	&.active{
		height:250px;
		opacity:1;
	}
}


@import "animations";

.wave{
	.fill{fill:#006798};
	&_5{ //TODO: enable in future
		@include animation(wave_5 14s linear infinite);
	}
	&_4{
		@include animation(wave_4 7s linear infinite);
	}
	&_3{
		@include animation(wave_3 12s linear infinite);
	}
	&_2{
		@include animation(wave_2 8s linear infinite);
	}
	&_1{
		@include animation(wave_1 15s linear infinite);
	}
}
