// Import Bootstrap Compass integration
@import "bootstrap_custom/bootstrap";
@import "compass/css3";
@import "mixins";
@import "animations";

/* -----------------------------------------
         Web Fonts
-------------------------------------------- */
@include font-face("Mono Social Icons Font",font-files("MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff", "MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf", "MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot", normal, normal);

// // extra small
// @media (max-width: $screen-xs-max) {
// }
// // small
// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
// }
// // medium
// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
// }
// // large
// @media (min-width: $screen-lg-min) {
// }
/* -----------------------------------------
         Site Structure Styles
-------------------------------------------- */
.active-main-nav{
	@media (max-width: $screen-sm-min) {
		overflow:hidden;
	}
}
.site-wrapper{
	position: relative;
	overflow: hidden;
}
.site-header{
	$nav-height: 300px;
	$nav-mobile-height: 100%;

	position: fixed;
	z-index:$zindex-navbar;
	width:100%;

	@include background-image(linear-gradient(to top, $blue-darkest, $blue-dark));
	@include transition(transform 500ms);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);

	.site-header-toggle{
		display:block;
		width:100px;
		height:100px;
		position: absolute;
		// left:50%;
		bottom:-95px;
		// margin-left:-50px;
	}
	.mod-main-nav{
		overflow:hidden;
		@extend .row;
	}
	.widget{
		&.hideNavList{
			display:none;
		}
		&.showNavList{
			display:block;
		}
		@extend .col-sm-3;
	}
	&-wrapper{
		@extend .container; 
	}
	@media (max-width: $screen-xs-max) {
		height:$nav-mobile-height;
		top:-$nav-mobile-height;
		&-wrapper{
			height:inherit;
			padding-bottom:80px;
		}
		.mod-main-nav{
			height:$nav-mobile-height;
			overflow:scroll;
			border-bottom:solid 2px $blue-light;
			box-shadow:inset 0 -18px 18px -18px rgba(0,0,0,.7);
		}
		.site-header-toggle{
			@include transition(transform 500ms);
		}
		.active-main-nav & .site-header-toggle{
			@include transform(translateY(-85px) scale(.7,.7));
		}
	}
	@media (min-width: $screen-sm-min) {
		height:$nav-height;
		top:-$nav-height;
		&::after{
			display:block;
			content:'';
			width:100%;
			height:20px;
			background-position: 0 -10px;
			background-repeat: no-repeat;
			@include background-image(radial-gradient(50% 10px, rgba(black,.6) 0, rgba(black,0) 90%));
		}
		.mod-main-nav{
			height:$nav-height;
		}
	}
	.active-main-nav &{
		@include transform(translateY(100%));
	}
}
.site-content{
	position: relative;
	// padding-top:$topSpace / 2;
	// @media (min-width: $screen-sm-min) {
	// 	padding-top:$topSpace;
	// }
}
.site-footer{
	font-family:$font-family-sans-serif;
	position: absolute;
	bottom:0;
	width:100%;
	text-align:center;
	@extend .small;
	color:rgba(white,.5);
	padding:10px 0;
	a{
		color:inherit;
		//border-bottom: dotted 1px rgba(255,255,255,.2);
	}
	ul{
		list-style:none;
		margin:0;
		padding:0;
	}
	li{
		display:inline;
		padding-left:10px;
		&::first-child{
			padding-left:0;
		}
		&.copy{
			@media (max-width: $screen-sm-min){
				display:block;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		font-size:12px;
	}
}
/* -----------------------------------------
         Site Layout Styles
-------------------------------------------- */
.block-wrapper{
	padding-bottom:100px;
	&.fit-window{
		padding:0;
		margin:0;
	}
	> .block{
		@extend .container;
	}
	&.intro-section{
		padding-top:75px;
		text-align:center;
		p{
			@extend .lead;
		}
		@media (min-width: $screen-md-min) {
			padding-top:200px;
		}
	}
	&.two-column{
		.block-inner{
			@extend .row;
		}
		.main-column{
			@extend .col-sm-8;
		}
		.side-column{
			@extend .col-sm-3;
			@extend .col-sm-offset-1;
		}
	}
}

/* -----------------------------------------
         				Form Styles
-------------------------------------------- */
.capture-form{
	@extend .form-inline;
	.mod-form{
		@extend .form-group;
	}
	input,textarea,select{
		@extend .form-control;
	}
	.cta{
		vertical-align:middle;
		@media (max-width: $screen-xs-max) {
			width:40%;
		}
	}
}

.contact-form{
	@extend .form-horizontal;
	.mod-form{
		@extend .form-group;
		> label{
			padding-right:20px;
			@extend .control-label;
			@extend .col-sm-4;
			@extend .col-xs-12;
		}
		.mod-form-input,
		.mod-form-textarea,
		.mod-form-file{
			@extend .col-sm-7;
			@extend .col-xs-11;
			input,textarea,select{
				@extend .form-control;
			}
		}
		.mod-form-checkbox{
			@extend .col-sm-7;
			.checkbox-stacked{
				@extend .checkbox;
				width:50%;
				float:left;
				+ .checkbox-stacked{
					margin-top:0;
				}
			}
		}
		.mod-form-btn{
			@extend .col-sm-7;
			@extend .col-sm-offset-4;
		}
		.mod-form-help{
			@extend .help-block;
			@extend .small;
			margin-bottom:0;
		}
	}
}
form{
	select{
		-webkit-appearance: none;
		option{
			color:black;
			&[disabled]{ //fix windows font color issue
				color:$gray-light;
			}
		}
	}
	.flag-required{
		position: absolute;
	  right:-15px;
	  top: 10px;
	  font-size: 40px;
	  line-height: 39px;
	  color: $brand-danger;
	  cursor:default;
	  text-shadow:0 2px 3px rgba(0,0,0,.5);
	  @media (min-width: $screen-sm-min){
	  	right: -30px;
	  }
	}
}

/* -----------------------------------------
         			Module Styles
-------------------------------------------- */

@import "modules";

/* -----------------------------------------
         				Page Styles
-------------------------------------------- */
img{
	color:transparent;
}
strong{
	color:#fff;
}
.cta{
	//font-size:inherit;
	vertical-align:baseline;
	border-radius: 30px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	@extend .btn;
	@extend .btn-primary;
	&-lg{
		@extend .cta;
		@extend .btn-lg;
	}
}
.columns {
	@media (min-width: $screen-sm-min) {
		text-align:left;
		@include columns(auto 2);
		@include column-gap(40px);
  }
}
a{
	text-decoration:underline;
}
a.social-icon {
	-webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -ms-font-feature-settings:"liga" 1;
	font-family: 'Mono Social Icons Font';
  font-size: 2em;
  line-height:1em;
  border-bottom:none;
	text-decoration:none;
}
.browser-alert-box{
	text-align:left;
	cursor:pointer;
	@extend .alert;
	@extend .alert-warning;
}

@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/work";
@import "pages/campaign";
@import "pages/blog";

/* -----------------------------------------
         				SVG & animations
-------------------------------------------- */
.site-header-toggle{
	@include transform(scale(.6,.6));
	.aniCircle{
		fill:rgba($blue-dark,.2);
		stroke: $blue-lightest;
		stroke-width:5px;
		stroke-dasharray: 300;
		stroke-dashoffset: 300;
		@include transition(stroke-dashoffset 800ms ease-out 100ms);
	}
	.hamburger-x{
		stroke:#fff;
		stroke-width:20px;
		stroke-linecap:square;
		fill:transparent;
		.path-x{
			stroke-dasharray: 135 400;
    	stroke-dashoffset: 135;
    	@include transition(stroke-dashoffset 800ms ease-out 100ms);
		}
		.path-2{
			stroke-dasharray: 135;
			stroke-dashoffset: 405;
			@include transition(stroke-dashoffset 800ms ease-out 100ms);
		}
	}
	.svg-menu-hover &,.svg-menu-active &{
		cursor:pointer;
		.hamburger-x .path-x{
			stroke-dashoffset: 0;
		}
		.hamburger-x .path-2{
			stroke-dashoffset: 270;
		}
	}
	.svg-menu-hover &{
		.aniCircle{
			stroke-dashoffset: 0;
		}
	}
	.svg-menu-selected &{
		.hamburger-x .path-x{
			stroke-dashoffset: -245;
		}
		.hamburger-x .path-2{
			stroke-dashoffset: 135;
		}
		.logo-path-group{
			stroke-dashoffset: 150;
		}
	}
}

.wetumka_logo_wrapper{
	opacity:0;
	overflow:hidden;
	width:100%;
	position: absolute;
	top:15px;
	height:70px;

	@include transition(opacity 500ms ease-in 500ms);
	.logo_group{
		fill: rgba(white,.4);
	}
	#wetumka_logo {
		display:block;
		width:100%;
		height:70px;
	}
	.svg-logo-active &{
		opacity:1;
	}
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		top:30px;
		height:90px;
		#wetumka_logo {
			height:90px;
		}
	}
	@media (min-width: $screen-md-min) {
		top:60px;
		height:100px;
		#wetumka_logo {
			height:100px;
		}
	}
}

#waves {
	position: absolute;
	display:block;
	background-position: center top;
	background-repeat: repeat-x;
	opacity:0;
	@include transition(opacity 1.5s ease-in);
	
	@media (max-width: $screen-xs-max) {
		background-color:$blue-mid;
	}
	@media (min-width: $screen-sm-min) {
		.px-density-2x &{
			background-image: url(../img/watercolorTextureFade_2x.jpg);
			background-size: 1500px;
		}
		.px-density-1x &{
			background-image: url(../img/watercolorTextureFade_1x.jpg);
		}
		.animation-speed-med &, .animation-speed-fast &, .animation-speed-slow &{
			@include animation(scroll_sky 60s linear infinite);
		}
		.animation-speed-slow &, .animation-speed-pause &{
			@include animation-play-state(paused);
		}
	}
	.animation-speed-slow &,.animation-speed-med &,.animation-speed-fast &, .animation-speed-stopped &{
		opacity:1;
	}
}
.wave {
	.fill{fill:#006798};
	.animation-speed-slow &, .animation-speed-med &, .animation-speed-fast &{
		@media (max-width: $screen-xs-max) {
			&_5{
				@include animation(wave_xs_5 900ms ease-in-out infinite alternate);
			}
			&_4{
				@include animation(wave_xs_4 600ms ease-in-out infinite alternate);
			}
			&_3{
				@include animation(wave_xs_3 500ms ease-in-out infinite alternate);
			}
			&_2{
				@include animation(wave_xs_2 600ms ease-in-out infinite alternate);
			}
			&_1{
				@include animation(wave_xs_1 400ms ease-in-out infinite alternate);
			}
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
			&_5{
				@include animation(wave_md_5 14s ease-in-out infinite alternate);
			}
			&_4{
				@include animation(wave_md_4 12s ease-in-out infinite alternate);
			}
			&_3{
				@include animation(wave_md_3 12s ease-in-out infinite alternate);
			}
			&_2{
				@include animation(wave_md_2 10s ease-in-out infinite alternate);
			}
			&_1{
				@include animation(wave_md_1 15s ease-in-out infinite alternate);
			}
		}
		@media (min-width: $screen-lg-min) {
			&_5{
				@include animation(wave_lg_5 14s ease-in-out infinite alternate);
			}
			&_4{
				@include animation(wave_lg_4 12s ease-in-out infinite alternate);
			}
			&_3{
				@include animation(wave_lg_3 12s ease-in-out infinite alternate);
			}
			&_2{
				@include animation(wave_lg_2 10s ease-in-out infinite alternate);
			}
			&_1{
				@include animation(wave_lg_1 15s ease-in-out infinite alternate);
			}
		}
	}
	.svg-waves-ready &{
		@media (max-width: $screen-xs-max) {
			&_5{
				@include transform(translate(2%,35%) scale(1.2));
			}
			&_4{
				@include transform(translate(-17%,23%) scale(1.3));
			}
			&_3{
				@include transform(translate(15%,13%) scale(1.3));
			}
			&_2{
				@include transform(translate(6%,-9%) scale(1.5));
			}
			&_1{
				@include transform(translate(-4%,-21%) scale(1.5));
			}
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
			&_5{
				@include transform(translate(-16%,24%));
			}
			&_4{
				@include transform(translate(18%,24%));
			}
			&_3{
				@include transform(translate(-17%,15%));
			}
			&_2{
				@include transform(translate(22%,0%));
			}
			&_1{
				@include transform(translate(-20%,-7%));
			}
		}
		@media (min-width: $screen-lg-min) {
			&_5{
				@include transform(translate(6.5%,26%) scale(0.7));
			}
			&_4{
				@include transform(translate(14.5%,21%) scale(0.75));
			}
			&_3{
				@include transform(translate(-2%,14%) scale(0.75));
			}
			&_2{
				@include transform(translate(17%,0%) scale(0.8));
			}
			&_1{
				@include transform(translate(-11%,-15%) scale(0.85));
			}
		}
	}
	&_5{
		.animation-speed-slow &, .animation-speed-pause &{
			@include animation-play-state(paused);
		}
	}
	&_4{
		.animation-speed-med &, .animation-speed-pause &{
			@include animation-play-state(paused);
		}
	}
	&_3{
		.animation-speed-slow &, .animation-speed-pause &{
			@include animation-play-state(paused);
		}
	}
	&_2{
		.animation-speed-med &, .animation-speed-pause &{
			@include animation-play-state(paused);
		}
	}
	&_1{
		.animation-speed-slow &, .animation-speed-pause &{
			@include animation-play-state(paused);
		}
	}
}
