@import "compass/reset";
@import "compass/css3";

@import "story/animations";
@import "story/colors";

body,html{
	height:100%;
	min-height:100%;
};
.scene{
	height:100%;
	width:100%;
	overflow:hidden;
	position: relative;
	display:none;
	&_svg{
		display: inline-block;
		//height: 100%;
		//width: 100%;
	}
	&.active{
		display:block;
	}

}

@import "story/scene_splash";

.scene_1{
	background-color:black;
}
.scene_2{
	background-color:pink;
}
.scene_3{
	background-color:blue;
}
.scene_4{
	background-color:orange;
}
.scene_5{
	background-color:green;
}


.st0{fill:#BE1E2D;}
.st1{fill:#DC3D26;}
.st2{fill:#3B2314;}
.st3{fill:#F16522;}
.st4{fill:#EF4D23;}
.st5{fill:#59F4FC;}
