@import "../../../../../libraries/bootstrap/less/mixins.less";
@import "../../../../../libraries/bootstrap/less/reset.less";
@import "../../../../../libraries/bootstrap/less/scaffolding.less";
@import "../../../../../libraries/bootstrap/less/grid.less";
@import "../../../../../libraries/bootstrap/less/layouts.less";
@import "../../../../../libraries/bootstrap/less/forms.less";
@import "../../../../../libraries/bootstrap/less/utilities.less";
@import "../../../../../libraries/bootstrap/less/responsive-utilities.less";
@import "../../../../../libraries/bootstrap/less/responsive-1200px-min.less";
p {
  margin: 0 0 27px 0;
}
.lead {
  margin-bottom: 27px;
  font-size: 27px;
  font-weight: 200;
  line-height: 40.5px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.rgba.textshadow .text-shadow {
  text-shadow: 0px 2px 1px rgba(0,0,0,0.8);
}
.no-rgba.textshadow .text-shadow {
  text-shadow: 0px 2px 1px #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "proxima-nova-alt", sans-serif;
  font-weight: 400;
  line-height: 27px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999;
}
h1 {
  font-size: 4em;
  line-height: 1.125em;
  text-transform: uppercase;
  letter-spacing: -3px;
}
.rgba.textshadow h1 {
  text-shadow: 0px 2px 1px rgba(0,0,0,0.8);
}
.no-rgba.textshadow h1 {
  text-shadow: 0px 2px 1px #666;
}
h2,
h3 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 100;
  margin-bottom: .5em;
}
.rgba.textshadow h2,
.rgba.textshadow h3 {
  text-shadow: 0px 2px 1px rgba(0,0,0,0.8);
}
.no-rgba.textshadow h2,
.no-rgba.textshadow h3 {
  text-shadow: 0px 2px 1px #666;
}
h4 {
  font-size: 22.5px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15.3px;
}
h1 small {
  font-size: 31.5px;
}
h2 small {
  font-size: 22.5px;
}
h3 small {
  font-size: 18px;
}
h4 small {
  font-size: 18px;
}
.page-header {
  padding-bottom: 12.5px;
  margin: 27px 0 40.5px;
  border-bottom: 1px solid #eee;
}
ul,
ol {
  padding: 0;
  margin: 0 0 13.5px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 27px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 27px;
}
dt,
dd {
  line-height: 27px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 13.5px;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 27px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 27px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 22.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 27px;
  color: #999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 27px;
  font-style: normal;
  line-height: 27px;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 27px;
  vertical-align: bottom;
  background-image: url("../img/jasc-site-sprites.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-arrow-down {
  background-position: -97px -222px;
}
.icon-arrow {
  background-position: -126px -222px;
}
.icon-instagram {
  background-position: -63px -222px;
  margin-left: 5px;
}
.icon-bullet-box {
  background-position: -313px -222px;
}
.icon-bullet {
  background-position: -287px -252px;
}
.btn {
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "proxima-nova-alt", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  background-color: rgba(210,74,38,0.8);
  border: none;
}
.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
  background-color: #d24a26;
}
.btn.active,
.btn:active {
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 22.5px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 15.3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 13.5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn-primary {
  background-color: rgba(10,120,171,0.8);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #0a78ab;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #08c;
}
.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
.wrapper {
  height: inherit;
}
ul {
  margin-bottom: 1.5em;
  list-style: none;
}
ul.bullet {
  margin-left: 0;
}
ul.bullet li {
  padding-left: 25px;
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: no-repeat;
  background-position: -292px -252px;
}
ul.bullet-box {
  margin-left: 0;
}
ul.bullet-box li {
  padding-left: 25px;
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: no-repeat;
  background-position: -317px -222px;
}
ul.bullet-box-link {
  margin-left: 0;
}
ul.bullet-box-link a {
  padding-left: 25px;
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: no-repeat;
  background-position: -317px -222px;
  display: inline-block;
}
.gc-cs-link {
  color: #fff !important;
}
header.site-header {
  position: fixed;
  height: 100%;
  width: 200px;
  left: -200px;
  font-family: "proxima-nova-alt", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  z-index: 100;
}
header.site-header.active1 {
  left: 0;
}
header.site-header.active2 {
  width: 400px;
}
header.site-header nav {
  height: 100%;
}
header.site-header .site-nav-control {
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: none;
  background-position: 0px -220px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -40px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
}
header.site-header .site-nav-control.active {
  background-position: -30px -220px;
  right: -30px;
}
header.site-header .site-nav {
  height: 100%;
  width: 200px;
  position: absolute;
  background-image: url(../img/jasc-nav-bk.jpg);
  background-repeat: repeat-y;
}
header.site-header .site-nav:after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  right: -16px;
  display: block;
  width: 16px;
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.6)),color-stop(70%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at center,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#00000000',GradientType=1);
  background-repeat: no-repeat;
  background-position: -8px 0;
  background-size: 100% 100%;
  z-index: 100;
}
header.site-header .site-nav .phone {
  margin: 25px;
  position: absolute;
  bottom: 0;
}
header.site-header .site-nav .phone span {
  display: block;
}
header.site-header .site-nav.site-nav-1 {
  background-position: 0 0;
  background-color: #75655A;
  z-index: 100;
}
header.site-header .site-nav.site-nav-2 {
  background-position: -200px 0;
  background-color: black;
  z-index: 50;
  right: 0;
}
header.site-header .site-nav.site-nav-2 ul.nav {
  margin: 141px 0 0 18px;
}
header.site-header .site-nav ul.nav {
  margin: 25px;
}
header.site-header .site-nav ul.nav a {
  color: #fff;
  display: block;
  outline: none;
}
.rgba.textshadow header.site-header .site-nav ul.nav a {
  text-shadow: 0px 2px 1px rgba(0,0,0,0.8);
}
.no-rgba.textshadow header.site-header .site-nav ul.nav a {
  text-shadow: 0px 2px 1px #666;
}
header.site-header .site-nav ul.nav li {
  margin-bottom: 14px;
}
header.site-header .site-nav ul.nav li.active a {
  text-decoration: underline;
  cursor: default;
}
header.site-header .site-nav ul.nav li.last {
  margin-bottom: 0;
}
header.site-header .site-nav ul.nav li.cta {
  margin-top: 60px;
  text-align: center;
}
header.site-header .site-nav ul.nav li.cta a {
  border: solid 1px #0A78AB;
  padding: 5px;
}
header.site-header .site-nav ul.nav li.submenu a {
  display: inline-block;
}
header.site-header .site-nav ul.nav li.submenu i.icon-bullet-box {
  margin-left: 20px;
  cursor: pointer;
}
header.site-header .site-nav ul.nav li.submenu i.icon-bullet-box:hover {
  background-color: rgba(0,0,0,0.5);
}
header.site-header .logo {
  padding-left: 20px;
}
header.site-header .logo a {
  display: block;
  height: 75px;
  width: 160px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: none;
  background-position: 0 -140px;
  background-color: rgba(0,0,0,0);
}
header.site-header .logo a:hover {
  background-color: rgba(0,0,0,0.5);
}
footer.site-footer {
  font-family: "proxima-nova-alt", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: .75em;
  height: 65px;
  margin-top: -65px;
  background-color: rgba(0,0,0,0.7);
  line-height: 1.2em;
  clear: both;
  position: relative;
  z-index: 20;
}
footer.site-footer .container {
  padding-top: 5px;
}
footer.site-footer a {
  display: inline-block;
  padding: 2px 4px;
  line-height: 1em;
}
footer.site-footer ul {
  margin: 0;
}
footer.site-footer ul li {
  display: inline-block;
  line-height: 1em;
  margin-right: 2px;
}
footer.site-footer ul li.last {
  margin-right: 0;
}
.page-logo {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 75px;
  width: 160px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: none;
  background-position: 0 -140px;
  background-color: rgba(0,0,0,0);
  z-index: 1;
  opacity: .4;
}
.page-logo:hover {
  background-color: rgba(0,0,0,0.5);
}
div.site-content {
  height: inherit;
}
div.site-content section.section-block {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Contact-Panel.jpg);
  width: 100%;
  min-height: 110%;
  position: relative;
}
div.site-content section.section-block a {
  color: #fff;
  text-decoration: underline;
}
div.site-content section.section-block a.btn {
  text-decoration: none;
}
div.site-content section.section-block > .container > .row {
  padding-top: 75px;
  padding-bottom: 100px;
}
div.site-content section.section-block.home {
  background-color: #fff;
  background-image: none;
  padding-top: 200px;
  padding-bottom: 10px;
}
div.site-content section.section-block.home button.btn {
  width: 200px;
  margin: 2em auto 0;
  display: block;
}
div.site-content section.section-block.home:after {
  content: '';
  height: 30px;
  position: absolute;
  top: 600px;
  display: block;
  width: 100%;
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.6)),color-stop(70%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at center,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#00000000',GradientType=1);
  background-repeat: no-repeat;
  background-position: 0 -15px;
  background-size: 100% 100%;
}
div.site-content section.section-block.home .block {
  background-image: url(../img/lava-background.jpg);
  background-repeat: repeat;
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
div.site-content section.section-block.home .block h1 {
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 366px;
  height: 130px;
  right: 20px;
  top: -3px;
  position: absolute;
  visibility: hidden;
}
div.site-content section.section-block.gallery {
  background-color: #fff;
}
div.site-content section.section-block.gallery > .container {
  position: relative;
  z-index: 20;
}
div.site-content section.section-block.gallery .grid-mask {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
div.site-content section.section-block.gallery .grid-mask .grid {
  z-index: 10;
  width: 150%;
}
div.site-content section.section-block.gallery .grid-mask .grid .grid-item {
  width: 306px;
  height: 306px;
  background-repeat: none;
  background-position: 0 0;
  float: left;
}
div.site-content section.section-block.gallery .grid-mask .grid .grid-item.clear {
  clear: left;
}
div.site-content section.section-block.contact {
  min-height: 100%;
}
div.site-content div.section-slides {
  height: inherit;
  position: relative;
}
div.site-content div.section-slides .slide-wrapper {
  height: inherit;
  position: relative;
  overflow: hidden;
}
div.site-content div.section-slides .slide-wrapper section.section-block {
  position: absolute;
  margin-left: 100%;
}
div.site-content div.section-slides .slide-wrapper section.section-block:first-child {
  margin-left: 0;
}
div.site-content div.section-slides .slide-nav {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}
div.site-content div.section-slides .slide-nav li {
  width: 20px;
  height: 20px;
  background-color: rgba(0,0,0,0.5);
  border: solid 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-indent: 100%;
  margin-bottom: 10px;
}
div.site-content div.section-slides .slide-nav li.active,
div.site-content div.section-slides .slide-nav li.active:hover {
  background-color: #0A78AB;
  cursor: default;
}
div.site-content div.section-slides .slide-nav li:hover {
  cursor: pointer;
  border-color: #0A78AB;
}
div.site-content form {
  font-family: "proxima-nova-alt", sans-serif;
}
div.site-content form input,
div.site-content form select,
div.site-content form textarea {
  font-family: "proxima-nova-alt", sans-serif;
}
div.site-content form legend {
  color: #fff;
}
div.site-content .box {
  background-color: rgba(0,0,0,0.49);
}
div.site-content .box h2,
div.site-content .box h3,
div.site-content .box h4,
div.site-content .box h5 {
  clear: both;
}
div.site-content .pyro-image.alignment-left {
  margin-right: 2em;
  margin-bottom: 1em;
}
.social-links {
  text-align: right;
}
.social-links a {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  margin-right: 24px;
  text-align: left;
}
.social-links a:hover {
  background-color: #000000;
}
.social-links a.big-facebook span {
  background-position: -231px -145px;
  width: 37px;
  margin-left: 25px;
}
.social-links a.big-instagram span {
  background-position: -160px -145px;
  width: inherit;
}
.social-links a.big-google span {
  background-position: -268px -145px;
  width: inherit;
}
.social-links a span {
  background-image: url(../img/jasc-site-sprites.png);
  background-repeat: none;
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;
  height: inherit;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-10px);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  80% {
    -moz-transform: translateY(-30px);
  }
  100% {
    -moz-transform: translateY(-10px);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  80% {
    -o-transform: translateY(-30px);
  }
  100% {
    -o-transform: translateY(-10px);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.animated.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
  visibility: visible !important;
}
@media (max-width: 979px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
  section > .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  div.site-content section.section-block.home {
    padding-top: 150px;
  }
  div.site-content section.section-block.home:after {
    top: 400px;
  }
  div.site-content section.section-block.home .block {
    height: 250px;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0,0,0);
  }
  .page-header h1 small {
    display: block;
    line-height: 27px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.1em;
    letter-spacing: normal;
  }
  h2,
  h3 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .social-links {
    text-align: left;
  }
  .social-links a {
    margin-right: 0;
    margin-bottom: 5px;
  }
  footer.site-footer {
    background-color: transparent;
  }
  footer.site-footer .container {
    background-color: rgba(0,0,0,0.7);
  }
  header.site-header {
    left: -100%;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.9);
  }
  header.site-header .site-nav-control {
    z-index: 1000;
    transition: none;
    right: auto;
    left: 10px;
    position: fixed;
  }
  header.site-header .site-nav {
    background-image: none;
    width: 100%;
    height: auto;
    position: static;
  }
  header.site-header .site-nav:after {
    display: none;
  }
  header.site-header .site-nav.site-nav-1 {
    background: none;
  }
  header.site-header .site-nav.site-nav-2 {
    background: none;
    position: absolute;
    top: 75px;
    right: -150px;
  }
  header.site-header .site-nav.site-nav-2 ul.nav {
    margin: 0;
  }
  header.site-header .site-nav .phone {
    position: static;
    margin: 0 25px;
    padding: 15px 0;
  }
  header.site-header .site-nav .phone span {
    display: inline;
  }
  header.site-header .site-nav ul.nav {
    margin: 0 25px;
    padding-top: 15px;
    font-size: .85em;
  }
  header.site-header .site-nav ul.nav li {
    margin-bottom: 2px;
  }
  header.site-header .site-nav ul.nav li a {
    display: inline;
  }
  header.site-header .site-nav ul.nav li.submenu i {
    display: none;
  }
  header.site-header .site-nav ul.nav li.cta {
    margin-top: 0;
    text-align: left;
  }
  header.site-header .site-nav ul.nav li.cta a {
    border: none;
    padding: 0;
  }
  header.site-header .logo {
    padding-left: 55px;
  }
  div.site-content section.section-block {
    background-position: top center;
    background-size: contain;
    min-height: none;
  }
  div.site-content section.section-block.home {
    padding-top: 70px;
    min-height: 110%;
  }
  div.site-content section.section-block.home:after {
    top: 220px;
  }
  div.site-content section.section-block.home .block {
    height: 150px;
  }
  div.site-content section.section-block.home .block h1 {
    position: static;
    width: 100%;
    height: 95px;
    background-size: 230px auto;
    background-position: top center;
  }
  div.site-content div.section-slides {
    height: auto;
  }
  div.site-content div.section-slides .slide-nav {
    display: none;
  }
  div.site-content div.section-slides .slide-wrapper section.section-block {
    margin: 0 !important;
    position: static;
  }
  div.site-content div.section-slides .slide-wrapper section.section-block .btn {
    display: none;
  }
}
