<!-- Begin footer -->
<footer id="footer" class="bot1">
	<div class="main2">
		<nav class="menu">
			<ul id="menu">
				<li id="nav1">
					<span><img src="images/bb1.png"></span>
					<a href="#!/page_HOME"><span></span> home <b>start here</b></a>
				</li>

				<li id="nav2">
					<span><img src="images/bb2.png"></span>
					<a href="#!/page_SERVICES"><span></span> services <b>services overview</b></a>
				</li>

				<li id="nav3">
					<span><img src="images/bb3.png"></span>
					<a href="#!/page_ABOUT"><span></span> about <b>little about us</b></a>

					<div class="submenu">
						<ul>
							<li>
								<a href="#!/page_MORE">who we are</a>
							</li>
							<li>
								<a href="#!/page_MORE">Our team</a>
							</li>
							<li>
								<a href="#!/page_MORE">Company info</a>
							</li>
						</ul>
					</div>
				</li>

				<li id="nav4">
					<span><img src="images/bb4.png"></span>
					<a href="#!/page_SOLUTIONS"><span></span> solutions <b>best solutions</b></a>
				</li>

				<li id="nav5">
					<span><img src="images/bb5.png"></span>
					<a href="#!/page_PARTNERS"><span></span> partners <b>clients & partners</b></a>
				</li>

				<li id="nav6">
					<span><img src="images/bb6.png"></span>
					<a href="#!/page_CONTACTS"><span></span> CONTACTS <b>contact information</b></a>
				</li>
			</ul>
		</nav>

	</div>
	<div class="bot2">
		<div class="copyright">
			Copyright © {{ helper:date format="Y" }}. All rights reserved. <a href="#!/page_PRIVACY">Privacy policy</a>
		</div>
	</div>
</footer>