<!-- Begin footer -->
<footer id="footer" class="bot1">
	<div class="main2">
		<nav class="menu">
			<ul id="menu">
				<li id="nav1">
					<span><img src="/{{theme:path}}/img/bb1.png" alt=""></span>
					<a href="{{ pages:url id="1" }}"><span></span> home <b>start here</b></a>
				</li>

				<li id="nav2">
					<span><img src="/{{theme:path}}/img/bb2.png" alt=""></span>
					<a href="{{ pages:url id="5" }}"><span></span> services <b>services overview</b></a>
				</li>

				<li id="nav3">
					<span><img src="/{{theme:path}}/img/bb3.png" alt=""></span>
					<a href="{{ pages:url id="6" }}"><span></span> about <b>little about us</b></a>
					<!--
					<div class="submenu">
						<ul>
							<li>
								<a href="{{ pages:url id="6" }}">who we are</a>
							</li>
							<li>
								<a href="{{ pages:url id="6" }}">Our team</a>
							</li>
							<li>
								<a href="{{ pages:url id="6" }}">Company info</a>
							</li>
						</ul>
					</div>
					-->
				</li>

				<li id="nav4">
					<span><img src="/{{theme:path}}/img/bb4.png" alt=""></span>
					<a href="{{ pages:url id="7" }}"><span></span> solutions <b>best solutions</b></a>
				</li>

				<li id="nav5">
					<span><img src="/{{theme:path}}/img/bb5.png" alt=""></span>
					<a href="{{ pages:url id="8" }}"><span></span> partners <b>clients &amp; partners</b></a>
				</li>

				<li id="nav6">
					<span><img src="/{{theme:path}}/img/bb6.png" alt=""></span>
					<a href="{{ pages:url id="3" }}"><span></span> CONTACT <b>contact information</b></a>
				</li>
			</ul>
		</nav>

	</div>
	<div class="bot2">
		<div class="copyright">
			Copyright &copy; {{ helper:date format="Y" }}. All rights reserved. <a href="#!/page_PRIVACY">Privacy policy</a>
		</div>
	</div>
</footer>