<!-- JS Docs -->

<!-- scripts concatenated and minified via build script -->
<script src="/{{theme:path}}/js/html5.js"></script>
<script src="/{{theme:path}}/js/jquery.easing.1.3.js"></script>
<script src="/{{theme:path}}/js/script.js"></script>
<script src="/{{theme:path}}/js/bg.js"></script>

<script src="/{{theme:path}}/js/superfish.js"></script>
<script src="/{{theme:path}}/js/content_switch.js"></script>

<script src="/{{theme:path}}/js/cScroll.js"></script>
<script src="/{{theme:path}}/js/jquery-ui-1.8.11.custom.min.js"></script>
<script src="/{{theme:path}}/js/jquery.mousewheel.js"></script>

<script src="/{{theme:path}}/js/jquery.prettyPhoto.js"></script>

<script src="/{{theme:path}}/js/default.js"></script>
<!-- end scripts -->
<script src="/{{theme:path}}/js/libs/cufon.js"></script>
<script src="/{{theme:path}}/js/libs/cufon-replace.js"></script>
<script src="/{{theme:path}}/js/libs/Europe_Ext_400.font.js"></script>
<script src="/{{theme:path}}/js/libs/Myriad_Web_Pro_400.font.js"></script>


<script>
    Cufon.now();
    $(window).load(function() {
        $('.spinner').fadeOut();
        $('body').css({
            overflow : 'inherit'
        })
    })
</script>