<!-- JS Docs -->

<!-- scripts concatenated and minified via build script -->
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/html5.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/script.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/bg.js"></script>

<script type="text/javascript" src="/{{theme:path}}/js/mylibs/superfish.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/content_switch.js"></script>

<script type="text/javascript" src="/{{theme:path}}/js/mylibs/cufon.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/cufon-replace.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/Europe_Ext_400.font.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/Myriad_Web_Pro_400.font.js"></script>

<script type="text/javascript" src="/{{theme:path}}/js/mylibs/cScroll.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/{{theme:path}}/js/mylibs/jquery.mousewheel.js"></script>

<script src="/{{theme:path}}/js/mylibs/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="/{{theme:path}}/js/default.js"></script>
<!-- end scripts -->

<script type="text/javascript">
    Cufon.now();
    $(window).load(function() {
        $('.spinner').fadeOut();
        $('body').css({
            overflow : 'inherit'
        })
    })
</script>