<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'development' }}
    <!-- DEVELOPMENT FILES -->              
    {{theme:partial name="metadata"}}
{{ else }}
    <!-- PRODUCTION FILES -->
    {{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body>
    {{ if global:environment == 'production' }}
    <script type="text/javascript">
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] ||
			function() {
				(i[r].q = i[r].q || []).push(arguments);
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m);
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', '{{ settings:ga_tracking }}', 'wetumka.net');
		ga('send', 'pageview');
	</script>
    {{ endif }}
    <div class="wrapper">  
        {{ theme:partial name="header" }}
        <!-- Content -->
        <div id="content" class="site-content">
            {{session:messages success="alert alert-success" notice="alert alert-info" error="alert"}}
            <!-- view > default -->
            <!-- {{ template:body }} -->
            <section id="about" class="about-section">
            	<div class="splash bottom-up">
            		<div class="container">
            			<div class="row">
	            			<div class="col-md-7">
	            				<h1 class="impact">Taking your business beyond the website</h1>
	            			</div>
            			</div>
            			<div class="row">
            				<div class="col-md-12">
            					<img class="img-responsive big-image" src="{{ asset:image_url file="theme::HP-devices.png" }}" />
            				</div>
            			</div>
            		</div>
            	</div>
            	<div class="block text-center">
            		<div class="container">
            			<div class="row">
	            			<div class="col-xs-12">
		            			<p class="lead">Wetumka Interactive specializes in web and mobile development for digital marketing, applications and e-commerce.</p>
		            			<p>We bridge the gap between the concept for your project and its execution. Want to develop a useful app or boost your online products? Our team of skilled developers writes awesome code to produce the amazing results you're looking for.</p>
		            			<a class="btn btn-primary" href="">Learn More }</a>
	            			</div>
            			</div>
            		</div>
            	</div>
            </section>
            <section id="service" class="service-section">
            	<div class="splash bottom-dn top-up">
            		<div class="container">
            			<div class="col-md-7 col-xs-12">
            				<p class="lead text-center">Let us enhance your business by building custom applications suited to your specific goals.</p>
            			</div>
            		</div>
            	</div>
            	<div class="block text-center">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12">
		            			<h2 class="impact">Our Services</h2>
		            			<p class="lead">We partner with our clients to build lasting online solutions.</p>
		            			<p>We are committed to the success of your business, so we thrive on crafting customized applications to help you achieve your goals. How do we do this? By learning about your business and customers, communicating with your marketing team, and brainstorming with your creative team.</p>
		            			<p>Our three main development services are:</p>
	            			</div>
            			</div>
            			<div class="row">
            				<div class="col-xs-4">
            					<h4 class="service-icon marketing-dev">Digital Marketing Development</h4>
            				</div>
            				<div class="col-xs-4">
            					<h4 class="service-icon application-dev">Web &amp; Mobile Application Development</h4>
            				</div>
            				<div class="col-xs-4">
            					<h4 class="service-icon ecom-dev">E-Commerce Development</h4>
            				</div>
            			</div>
            			<div class="row">
            				<div class="col-xs-12">
		            			<p>Are you interested in learning more about our services?</p>
		            			<a class="btn btn-primary" href="">Learn More }</a>
	            			</div>
            			</div>
            		</div>
            	</div>
            </section>
            <section id="technology" class="technology-section">
            	<div class="splash bottom-up top-dn">
            		<div class="container">
            			<div class="col-md-7">
            				<p class="lead">We're fluent in the technology practices needed to build your online presence.</p>
            			</div>
            		</div>
            	</div>
            	<div class="block text-center">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12">
		            			<h2 class="impact tech-icon">Technology</h2>
		            			<p>Objects, methods, and arrays, oh my! We're wizards of front-end development so you don't have to be. We cover:</p>
	            			</div>
            			</div>
            			<div class="row">
            				<div class="col-xs-4">
            					<ul>
            						<li>CSS3</li>
            						<li>LESS</li>
            						<li>SASS</li>
            					</ul>
            				</div>
            				<div class="col-xs-4">
            					<ul>
            						<li>HTML5</li>
            						<li>Bootstrap</li>
            						<li>Foundation</li>
            						<li>Code Ignitor</li>
            					</ul>
            				</div>
            				<div class="col-xs-4">
            					<ul>
            						<li>Javascript</li>
            						<li>jQuery</li>
            						<li>Sencha</li>
            						<li>Backbone</li>
            						<li>Knockout</li>
            					</ul>
            				</div>
            			</div>
            			<div class="row">
            				<div class="col-xs-12">
		            			<p>So do you want to know just how nerdy we are?</p>
		            			<a class="btn btn-primary" href="">Learn More }</a>
	            			</div>
            			</div>
            		</div>
            	</div>
            </section>
            <section id="work" class="work-section">
            	<div class="splash bottom-dn top-dn">
            		<p>&nbsp;</p>
            	</div>
            	<div class="block text-center">
            		<div class="container">
            			<h2 class="impact">Our Work</h2>
            			<p>We’ve done enough talking. Take a look at our past work and let it speak for itself.</p>
            			<div class="row">
            				<div class="col-sm-6">
            					<div class="mod work-thumb">
            						<div class="bd">
            							<img class="img-responsive" src="http://placehold.it/555x300" alt="" />
            						</div>
            						<div class="fd">
            							This is the title here
            						</div>
            					</div>
            				</div>
            				<div class="col-sm-6 col-md-3">
								<div class="mod work-thumb">
            						<div class="bd">
            							<img class="img-responsive" src="http://placehold.it/555x300" alt="" />
            						</div>
            						<div class="fd">
            							This is the title here
            						</div>
            					</div>
            				</div>
            				<div class="col-sm-6  col-md-3">
 								<div class="mod work-thumb">
            						<div class="bd">
            							<img class="img-responsive" src="http://placehold.it/555x300" alt="" />
            						</div>
            						<div class="fd">
            							This is the title here
            						</div>
            					</div>
            				</div>
            			</div>
            			<a class="btn btn-primary" href="">Learn More }</a>
            		</div>
            	</div>
            </section>
        </div>
        <!-- Footer -->
    	{{ theme:partial name="footer" }}
    </div>
    {{ if global:environment == 'development' }}
        <!-- DEVELOPMENT FILES -->              
        {{theme:partial name="footer-scripts"}}
    {{ else }}
        <!-- PRODUCTION FILES -->
        {{theme:partial name="publish/footer-scripts"}}
    {{ endif }}
</body>
</html>