<!DOCTYPE html>
<html class="" lang="en">
<head>
<link rel="stylesheet" href="/{{theme:path}}/css/screen.css" />


<script type="text/javascript" src="/{{theme:path}}/js/svg-injector.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <section class="scene scene-1">
        <img id="scene-1" class="scene-svg" src="/{{theme:path}}/img/svg/scn-1-waves.svg" />
    </section>
    

    <script>
    // Elements to inject
    var mySVGsToInject = document.querySelectorAll('img.scene-svg');

    // Options
    var injectorOptions = {
      each: function (svg) {
        //debugger;
        if(svg.id === 'scene-1'){
          var s,w1,p;
          s = Snap('#scene-1');
          w1 = s.select('.wave-1');
          w1f = w1.select('.fill');

          w2 = s.select('.wave-2');
          w2f = w2.select('.fill');

          w2f.attr({fill:"l(.5, 0, .5, 1)#0286BA-#006798:90"});
          w1f.attr({fill:"l(.5, 0, .5, 1)#0286BA-#006798:40"});
        }
      }
    };

    function sucker (hello) {
      lets go
      if (what) {
            
      } else{};
    }

    // Do the injection
    SVGInjector(mySVGsToInject,injectorOptions,function(totalSVGsInjected){
      console.log('We injected ' + totalSVGsInjected + ' SVG(s)!');
    });

    // Set pixel density class
    if (window.devicePixelRatio > 1) {
      $('body').addClass('px-density-2x');
    } else {
      $('body').addClass('px-density-1x');
    }
    </script>
</body>
</html>