<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'production' }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/metadata"}}
{{ else }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="metadata"}}
{{ endif }}
</head>
<body>
<div id="wrapper">
	<div id="container" class="container">
		<!-- Header -->
		<div id="header" class="site-header">
			{{theme:partial name="header"}}
			{{if page:id == 1}}
			<div id="header-scroller" class="scrollable"></div>
			{{endif}}
		</div>
		<!-- Content -->
		<div id="content" class="site-content">
			{{theme:partial name="breadcrumbs"}}
			{{session:messages success="success" notice="notice" error="error"}}
			{{template:body}}
		</div>
	</div>
	<div class="footer-bkg">
		<!-- Footer -->
		<div class="container">
			<div id="footer" class="site-footer">
				{{theme:partial name="footer"}}
			</div>
		</div>
	</div>
</div>
{{ if global:environment == 'production' }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/footer-scripts"}}
{{ else }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="footer-scripts"}}
{{ endif }}
</body>
</html>
