<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery||document.write('<script src="/libraries/jquery/jquery-1.9.1.min.js" type="text/javascript"><\/script>');</script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">WebFontConfig={google:{families:["Lato:100,400:latin"]}};(function(){var a=document.createElement("script");a.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";a.type="text/javascript";a.async="true";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
<script type="text/javascript" src="//use.typekit.net/kvr6xcj.js"></script>
<script type="text/javascript">try{Typekit.load()}catch(e){};</script>
<script src='/{{theme:path}}/publish/js/0d95944.js'></script>
{{ asset:render_js }}
{{ asset:render_js_inline }}