<meta name="author" content="WetumkaInteractive"/>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="{{ url:base }}"/>
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>

{{ if global:environment == 'development' }}

{{ less:compile file="build.less" output="style.css" }}
{{ else }}

<link rel="stylesheet" href='/{{theme:path}}/publish/css/7308465.css'/>
{{ endif }}

{{ asset:render_css }}
{{ asset:render_css_inline }}


<script src="/libraries/modernizr/modernizr-2.6.2.min.js" type="text/javascript"></script>

<script type="text/javascript" src="//use.typekit.net/kvr6xcj.js"></script>
<script type="text/javascript">try{Typekit.load()}catch(e){};</script>

{{template:metadata}}