/* ---------------------
         Main Styles
--------------------- */
body{margin:0px;font-family:Arial, Helvetica, sans-serif; background-color:#385E09;}
img{border:0px;}
a{outline:none;}
h1,h2,h3,h4,h5,h6{color:#fff; line-height:1.2em;}
h1{font-size:2.2em;color:#ddd;}
h3{}
h4{}

#wraper{float:left;margin:0px;padding:0px;width:100%;background:url(../img/bodybg.png) repeat-x  top left #385e09;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}
.clear {clear:both;}
hr {background:#637a46;color:#637a46;clear:both;float:none;width:100%;height:1px;margin:0 0 23px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
a {color: #7CB434;}
a:hover {color:#618E25}
a.cta { background: #244001; float: left;text-align: center;text-decoration: none; font-size: 11px;padding: 2px 10px;}
a.cta:hover {color:#F6D201}
/* ---------------------
         Header
--------------------- */
.site-header{width:100%;background:url(../img/headerbg.png) repeat-x left bottom;}
.site-header .header-graphic{width:100%;}
.site-header .bd{margin:0px auto;width:990px;}
.site-header .site-logo{float:left; width:350px; height:110px;}
.site-header .site-logo h1{ margin: 18px 0 0 35px;}
.site-header .site-logo a {background:url(../img/logo.png) no-repeat 6px 6px; text-indent:-9999px; width:185px; height: 71px; display:block; padding:6px; border:solid 1px #355808; border-radius:5px;}
.site-header .site-logo a:hover {border-color:#274106;}
.site-header .site-login{float:left; width:390px; padding-left:240px; height:110px;}
.site-header .site-login .input-fields .text {background:#4D7B13; border:1px solid #365B08; display:inline; width:170px; margin:7px 2px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow:0 1px 1px #111 inset; -moz-box-shadow:0 1px 1px #111 inset; -webkit-box-shadow:0 1px 1px #111 inset;}
.site-header .site-login .input-fields .text::-webkit-input-placeholder {color:#2C4B05;} .site-header .site-login .input-fields .text:-moz-placeholder {color:#2C4B05;}
.site-header .site-login .input-fields .text:focus {background:#CFF79B;box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.site-header .site-login form{margin-top:16px;}
.site-header .site-login .login-options {float:left; margin:4px 0 0 8px; width:270px;}
.site-header .site-login .login-options a{color:#fff;border-bottom: 1px dotted #CCCCCC; text-decoration:none;}
.site-header .site-login .login-options label{color:#fff; float:right;}
.site-header .site-login .login-options input{vertical-align:sub;}
.site-header .site-login .login-submit {float:right; margin-right:20px;}
.site-header .site-login .login-submit .button{padding:4px 18px;}
.site-header .user {margin-top:25px;}
.site-header .user .user-name{font-size:18px; text-align:right;margin:0 13px 10px 0;}
.site-header .user ul{list-style:none; padding:0; margin:0;}
.site-header .user li{float:right; margin-right:13px;}
.site-header .user a{color:#fff;border-bottom: 1px dotted #CCCCCC; text-decoration:none;}
.site-header .user a.button {border:solid 1px #C3D81A;color:#244001;}
.site-header .navigation{margin:0; clear:both;padding:0 0 0 21px;background:url(../img/navigationbg.png) no-repeat;width:969px;height:50px;}
.site-header .navigation li{float:left;margin:0;padding:0 5px 0 0;background:url(../img/separaters.png) no-repeat top right;display:block}
.site-header .navigation li a{float:left;height:50px;line-height:50px;padding:0 39px;font-weight:bold;font-size:14px;color: #fff;text-decoration:none;}
.site-header .navigation li a:hover,.site-header .navigation li.current a{background: #8dc546;color: #375c09;}
/* Top Banner */
.banner-area{height: 314px;padding: 0 20px 0;width: 950px;background:url(../img/banner.png) no-repeat;clear:both;}
.banner-area .scrollable {position:relative; overflow:hidden; width:950px; height:314px;}
.banner-area .scrollable .items {position:absolute; margin:0; padding:0; width:3500px;}
.banner-area .scrollable .items li {float:left; width:910px; padding:20px;height:274px; list-style:none; margin:0;}
/* ---------------------
        Content
--------------------- */
.container{background:url(../img/bodyemboss.png) no-repeat top center;font-size:14px; line-height:21px;}
#col-1{float:left;padding:0 0 0 26px;width:266px; color:#B3C3A0;}
#col-2{float:left;padding:0 0 34px 61px;width:566px; color:#86C065;}
#col-full {padding:0 0 34px 26px; width:893px; color:#86C065;}
.block {margin:0 auto;width:950px;}
.block-top {background: #2c4b05;border-left:1px solid #446d11;border-right:1px solid #446d11;width:948px;padding:32px 0 0 0;}

.col-headline {padding:0 0 5px 0;border-bottom:1px solid #637a46;color: #fff; font-weight:bold; margin-bottom:1em; font-size:18px; line-height:22px;}
/* ---------------------
         Footer
--------------------- */
.site-footer{background: url(../img/footerembos.png) no-repeat top center;width:100%;padding:60px 0 0;}
.site-footer p{text-align:center;font-size:11px;color: #b3c3a0;}
.site-footer p a{text-decoration:none; color:#b3c3a0; border-bottom:dotted 1px #637a46;}
.site-footer p a:hover{color: #fff;}
/* ---------------------
         Modules
--------------------- */
.mod.block-footer {}
.block-footer {width:970px; margin:0 auto; background:#244001; color:#B3C3A0; font-size: 12px;line-height: 18px; border: 1px solid #446D11; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.block-footer .headline {font-size:18px; color:#fff;}
.block-footer .bd .box{float:left;margin:20px 0 4px;padding:0 30px 0 40px;width:252px;}
.mod.gallery {margin-bottom:40px; width:420px; float:left;}
.gallery.clear-row {margin-right:40px;clear:left;}
.gallery .hd {float:left; width:150px; margin-right:20px;}
.gallery .hd a,.gallery .hd img {display:block;}
.gallery .bd {float:left; width:250px;}
.mod.gallery-image {}
.gallery-thumb .hd{}
.gallery-thumb .bd{margin:0; padding:0;}
.gallery-thumb .bd li{float:left; width:178px; list-style:none; margin-bottom:25px;}
.gallery-thumb .bd img{display:block;}
.gallery-thumb .bd a{display:block;}
.gallery-thumb .bd a:hover img {box-shadow:0 0 4px 1px #fff;}
.gallery-thumb .bd .clear-row {clear:left;}
.mod.widget {}
.widget .hd {}
.widget .bd {}
.widget .bd ul {padding:0;}
.widget .bd li {list-style:none;}
.widget .bd li a{display:block;padding-left:1em; background: url(../img/readmoreicon.png) top left no-repeat; text-decoration:none;}
.mod.block-post {margin-bottom:2em; padding-bottom:1em; border-bottom:1px solid #637A46;}
.mod .post-date,.mod .author {color:#fff; font-size:10px; font-family:Verdana,Helvetica,sans-serif; margin:0;}
.block-post h2 a{text-decoration:none;}
.mod.page-post .hd{margin-bottom:1em;}
/* ---------------------
         Meal Plan Table
--------------------- */
.meal-set { background:#315107; border:solid 1px #2A4704; border-top:none; border-bottom:none;}
.meal-set caption {background:#2A4704;}
.meal-set tr {}
.meal-set th { }
.meal-set td { vertical-align:top; font-size:12px; color:#fff; font-size:10px; font-family:	Verdana,Helvetica,sans-serif}
.meal-set td, .meal-set th {border: solid 1px #2A4704; border-top:none; border-left:none; width:32.5%;}
.meal-set *.last {border-right:none;}
.meal-set ul {margin:0;}
.meal-set li {}
.meal-set .meal-1 td, .meal-set .meal-2 td { border-bottom: solid 1px #2C4B05;}
.meal-set .label {font-size:18px; text-align:right; width:130px; padding:15px;}
.meal-set .items { padding:15px;}

/* ---------------------
         Form
--------------------- */
label, input.text {display:block;}
.button {border:solid 1px #C3D81A; cursor:pointer;font-family:Arial, Helvetica, sans-serif; background:#A9BD0B; color:#244001; font-size:12px; font-weight:bold; padding:4px 12px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;box-shadow:0 1px 2px #333; -moz-box-shadow:0 1px 2px #333; -webkit-box-shadow:0 1px 2px #333;}
.contact-button {display:block;}