/* ---------------------
         Main Styles
--------------------- */
html, body { height:100%;}
#wrapper { position:relative; min-height:100%;}
#wrapper > .footer-bkg { position:absolute; bottom: 0; width: 100%; height:160px; z-index:120; background:url(../img/footer_bkg.jpg) #A2D0E8 repeat-x;}
#container { z-index:100; position:relative;}
#footer { position:absolute; bottom: 0; height:360px;}
#content { padding-bottom:360px;}

body.tall-header { background: url(../img/tall_header_bkg.jpg) repeat-x top left #EBF4FD;}
.tall-header .site-header { background: url(../img/tall_header_cnt.jpg) no-repeat top left; height:310px;}
body.short-header { background: url(../img/short_header_bkg.jpg) repeat-x top left #EBF4FD;}
.short-header .site-header { background: url(../img/short_header_cnt.jpg) no-repeat top left; height:150px;}

h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration:none;}

/* ---------------------
         Header
--------------------- */
.site-header {}
.site-header .logo { margin-bottom:0; margin-left:30px; position:relative; z-index:120;}
.site-header .logo a{ background: url(../img/site_logo.png) no-repeat top center; width: 224px; height: 124px; text-indent:-9999px; overflow:hidden; outline:none; display:block; }
.site-header .header-nav {text-align:right; margin-top:20px;}
.site-header .header-nav li a { display:inline-block; color:#000; text-decoration:none; padding:2px; margin:0 15px; border-bottom: solid 3px #80BFE0;}
.site-header .header-nav li a:hover { color:#39C; border-bottom-color: #39C;}
.site-header .header-nav li.current a, .site-header .header-nav li.current a:hover{border-bottom-color: #000; cursor: default; color:#000}

.site-header .scrollable{position: absolute;overflow:hidden; height:200px; width:910px; clear:both; z-index:110; margin:90px 20px 0}
.site-header .scrollable .items { width:5700px; position:absolute; margin:0; padding:0;}
.site-header .scrollable .items li{ list-style:none; float:left; width:910px; height:175px;}
.site-header .scrollable h3 {}
.site-header .scrollable p {}
.site-header .scrollable .navi { text-align:center; margin-top:175px;}
.site-header .scrollable .navi a { display:inline-block; margin-right:10px; background:#fff; height:13px; width:13px; -moz-box-shadow: 1px 1px 0 #666; -webkit-box-shadow: 1px 1px 0 #666; box-shadow: 1px 1px 0 #666;}
.site-header .scrollable .navi a:hover { background-color:#CCC;}
.site-header .scrollable .navi a.active, #banner .navi a.active:hover{ background-color:#39C; cursor:default;}
/* ---------------------
        Content
--------------------- */
.site-content ul { list-style:none; padding-left:1em;}
.site-content ul li { background: url(../img/list-dot.gif) no-repeat 0 11px; padding-left:10px;}
/* tall header banners */
#header-scroller li h3{ text-shadow:none; font-size:3em; line-height:1em; margin-top:.5em; color:#fff;}
#header-scroller li p{ text-shadow: 1px 1px 1px #666; font-size:1.375em; color:#fff; line-height:1.09em; margin-bottom:0; }
#header-scroller li p.small { text-shadow:none; font-size:0.75em; line-height:2em;}
/* Home page project scroller */
#projects-scroller { position:relative;}
#projects-scroller .next, #projects-scroller .prev { position:absolute; cursor:pointer; background: url(../img/slider_controls.png) no-repeat; width:40px; height:40px; text-indent:-9999px; top:88px;}
#projects-scroller .next { background-position: 6px -3px; left:0;}
#projects-scroller .prev { background-position: -53px -3px; right:0;}
#projects-scroller .next:hover { background-position: 6px -53px; left:0;}
#projects-scroller .prev:hover { background-position: -53px -53px; right:0;}
#projects-scroller .next.disabled, #projects-scroller .prev.disabled { display:none;}
#projects-scroller .scrollable { position:relative; overflow:hidden; height:216px; width:550px; margin:0 40px; background:#ccc;}
#projects-scroller .scrollable .items{ margin:0; padding:0; position:absolute; width:3300px;}
#projects-scroller .scrollable .items li{ list-style:none; float: left; width:550px; height:200px; padding:0; background-image:none;}

.annoucment-post h3 { float:left;}
.annoucment-post .post-date { float:right; display:block; margin-left:20px; font-size:0.75em; line-height:2em; color:#000;}

#newsletter-form .submit { float:right;}
#newsletter-form .error { position:absolute; margin-top:-90px;}

/* ---------------------
         Footer
--------------------- */
.site-footer .box-info {}
.site-footer .box-info p, .site-footer .box-info h3 {color:#fff; text-shadow: 1px 1px 1px #666;}
.site-footer .company-info > div { padding-right:15px; }
.site-footer .service-info > div { padding:0 15px;}
.site-footer .newsletter-info > div { padding-left:15px;}
.site-footer .newsletter-info label.error { width:150px; text-align:left; line-height:1em;}
.site-footer .footer-nav { text-align:center; margin-bottom:1.5em;}
.site-footer .footer-nav a { display:inline-block; margin:0 15px;}
.site-footer .footer-nav .client-links a { color:#39C; text-decoration:none; padding-left:4px;}
.site-footer .footer-nav .client-links a:hover { color:#000;}
.site-footer .footer-nav .legal-links a { color:#FFF;}
.site-footer .footer-nav .legal-links a:hover { color:#000;}
.site-footer .copyright {text-align:center; font-family:Verdana,sans-serif; font-size:10px; color:#FFF; margin-bottom:0;}

/* ---------------------
       Module Styles
--------------------- */
.mod {} /* generic style, not used */

.mod.box-style-1 {}
.mod.box-style-1 > .bd { background:url(../img/footer_box.png) no-repeat top center; padding-top:16px;}
.mod.box-style-1 > .fd { background:url(../img/footer_box.png) no-repeat bottom center; height:36px;}
.mod.box-style-1 .border { border-right-color:#A1D0E9}
/* 12 column only */
.mod.box-style-2 {}
.mod.box-style-2 > .bd { background:url(../img/green-box.png) no-repeat top center; padding:24px 24px 0;}
.mod.box-style-2 > .bd h2, .mod.box-style-2 > .bd h3,  .mod.box-style-2 > .bd p { color:#FFF; text-shadow: 1px 1px 1px #999;}
.mod.box-style-2 > .fd { background:url(../img/green-box.png) no-repeat bottom center; height:19px; margin-bottom:5px}
/* used in services area */
.mod.product-table {}
.mod.product-table .tag { position:absolute; margin:-30px 0 0 116px; font-size:19px; line-height:24px; font-weight:bold;}
.mod.product-table .discount { color:#900;}
.mod.product-table .detail-col { width:320px; min-width:320px;}
.mod.product-table .info-col { width:160px; min-width:160px; position:relative;}
.mod.product-table .info-col h3 { margin-left:16px;}
.mod.product-table tr .last {width:150px; min-width:150px;}
.mod.product-table td p{line-height:36px; margin:0 10px 2px 0; padding-left:1em;}
.mod.product-table .col-1 p{ background:#F2F8FD;}
.mod.product-table .col-2 p{ background:#FFF; color:#000;}
.mod.product-table .col-3 p{ background:#C6E2F2; color:#000;}
.mod.product-table .col-4 p{ background:#F63; color:#fff;}
.mod.product-table .col-5 p{ background:#8FC6E4; color:#000;}
.mod.product-table tr .last p{ margin-right:0;}
.mod.product-table tr.last p{ margin-bottom:0;}
.mod.product-table tr.features td{ vertical-align:top; padding-top:4px;}
.mod.product-table tr.features .col-1 p{ background:none;}
.mod.product-table tr.features strong { padding-left:1em}
.mod.product-table tr.features .col-4 { background:url(../img/frame-4-shadow.png) no-repeat top left;}
.mod.product-table ul { margin:0 0 0 1em; padding:0;}
.mod.product-table ul li{ padding:0; margin:0; background:none; font-size:.875em; }
.mod.product-table ul.added-features li{background: url(../img/list-cross.gif) no-repeat 0 8px; padding-left:10px;}

.maintenance-credits {background:url(../img/frame-4-shadow.png) no-repeat right 98px;}

.hosting-addons th.last h3{ display:inline;}
.hosting-addons th.last span{ font-weight:normal;}

.mod.toolbox {-moz-box-shadow: 0 0 3px #999; -webkit-box-shadow: 0 0 3px #999; box-shadow: 0 0 3px #999; -moz-border-radius: 8px; border-radius: 8px; background-color:#ddd;}
.mod.toolbox .hd{ padding:12px 20px 0;}
.mod.toolbox .hd h2, .mod.toolbox .hd h3 { color:#000; margin-bottom:0;}
.mod.toolbox .bd{}
.mod.toolbox .fd{padding:6px 20px;}

.webservices-logos, .hostingservices-logos { text-align:center;}
.webservices-logos a{ display:inline-block; margin:2px 18px;}
.hostingservices-logos a{ display:inline-block; margin:2px 8px;}
.webservices-logos a img, .hostingservices-logos a img{ display:block}

/* ---------------------
        widgets
--------------------- */
.widget { padding-bottom:23px;}
.widget > hr {margin-bottom:0px;}
.widget ul { padding-left:0;}

ul.twitter-feed {margin:0; padding:0;list-style:none;}
ul.twitter-feed li{ background: none; padding:0; position: relative;}
ul.twitter-feed li > a { position:absolute; border: solid 2px #fff; left:20px;}
ul.twitter-feed li > a img{ display:block; width:36px; height:36px;}
ul.twitter-feed li .text { margin:0 0 0 80px; background:#D0E6F4; color:#46A3D1; font-style:italic; padding:12px 20px; font-size:14px; line-height:24px;}
ul.twitter-feed li .date {margin-bottom:0; text-align:right;font-size:12px; line-height:24px; color:#000;}
ul.twitter-feed li .arrow {display: block; border:solid transparent 8px; border-right-color:#D0E6F4; width:0; height:0; position:absolute; left:64px; top:16px}

.widget .navigation{ list-style:none; margin-bottom:1.375em; margin-right:1.375em; padding-left:1em;}
.widget .navigation li.current a { text-decoration:none; cursor:default; color:#666;}
/* ---------------------
       CTA & Tags
--------------------- */
.cta, .tag { background:url(../img/link_tag_body.png) repeat-x; display: inline-block; text-decoration: none; height:28px; font-weight:bold; color:#fff; }
.cta {padding-left:12px; margin-bottom:20px;} .tag {padding-right:12px;}
.cta span{ background:url(../img/link_head.png) no-repeat;  display: inline-block; width:12px; height:28px; position: relative; text-indent:-9999px; right:-12px }
.tag span{ background:url(../img/tag_head.png) no-repeat;  display: inline-block; width:12px; height:28px; position: relative; text-indent:-9999px; left:-12px}
.type-1, .type-1 span{background-position: 0 -12px }
.type-2, .type-2 span{background-position: 0 -60px;}
.type-3, .type-3 span{background-position: 0 -108px;}
.type-4, .type-4 span{background-position: 0 -156px;}
a.type-3:hover { color:#000;}

/* ---------------------
       Image Frame & Shadow box
--------------------- */
.frame-8 { padding-bottom:16px; background: url(../img/frame-8-shadow.png) center bottom no-repeat; margin-bottom:28px; }
.frame-8 img{ border:solid 1px #fff; display:block;}

/* ---------------------
      Forms 
--------------------- */
.input-wrapper { background:url(../img/text-input-field.gif) top left; padding-left:5px; margin-top:8px; margin-bottom:8px;}
.input-wrapper input { background:url(../img/text-input-field.gif) top right; height:1.5em; line-height:1.5em; padding:4px 0; width:100%; color:#666;}
.input-wrapper.active { background-position:bottom left;}
.input-wrapper.active input{ background-position:bottom right; color:#000;}
.label-wrapper {margin-top:8px; margin-bottom:8px;}
.label-wrapper label { line-height:32px;}
.select-wrapper {margin-top:7px; margin-bottom:8px;}
input.submit {font-family:Calibri, Helvetica, Arial, sans-serif; font-weight:bold; cursor:pointer; padding:4px 8px; font-size:1em; background-color:#F63; border: solid 1px #FF9B79; color:#fff; -moz-box-shadow: 0 4px 0 #954A00; -webkit-box-shadow: 0 4px 0 #954A00; box-shadow: 0 4px 0 #954A00; -moz-border-radius: 4px; border-radius: 4px;}
input.submit.alt {background-color:#A1D0E9; border: solid 1px #C2E7F9; color:#fff; -moz-box-shadow: 0 4px 0 #3486B0; -webkit-box-shadow: 0 4px 0 #3486B0; box-shadow: 0 4px 0 #3486B0;}
.form-submit { text-align:right;}
/* Form Validation */
label.error { position:absolute;  color:#8a1f11; }
.input-wrapper label.error {}
.textarea-wrapper label.error {width:378px; text-align:right}
.select-wrapper label.error {margin:32px 0 0 5px}
input.error {}
textarea.error {}


/* ---------------------
        Styles
--------------------- */
.mini-gallery {}
.mini-gallery a{float:left; display:block; margin-right:10px;}
.mini-gallery a.last{ margin-right:0;}

.pyro-image.left { margin:0 10px 1em 0}
.pyro-image.right {margin:0 0 1em 10px}
.pyro-image.last { margin-left:0; margin-right:0;}

ul.horz-list {margin:0; padding:0;} ul.horz-list li{list-style:none; display:inline;}
ul.vert-list {margin:0; padding:0;} ul.vert-list li{list-style:none;}


.tooltip { background-color:#fff; color:#000; z-index:300; display:none; width:150px;font-size:.8em; line-height:1.375em; padding:8px; text-align:center; -moz-box-shadow: 0px 12px 20px #444; box-shadow: 0px 12px 20px #444;}
.tooltip span{ display: block; border:solid transparent 8px; border-top-color:#fff; width:0; height:0; position:absolute; bottom:0;left:75px; margin-bottom:-16px;}

/* ---------------------
        Icons
--------------------- */
.faq-icon { background:url(../img/clientarea_icons.png) no-repeat 0 -17px;}
.key-icon { background:url(../img/clientarea_icons.png) no-repeat 0 -64px;}
.support-icon { background:url(../img/clientarea_icons.png) no-repeat 0 -114px;}

/* ---------------------
        Overlay Model
--------------------- */
.image_overlay {
	display:none;
	/*background-image:url(../img/overlay/white.png);
	width:640px;		
	padding:35px;	
	font-size:11px;*/
}

/* default close button positioned on upper right corner */
.image_overlay .close {
	/*background-image:url(../img/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;*/
}