<!DOCTYPE HTML>
<html>
<head>{{theme:partial name="metadata"}}
{{theme:partial name="google_analytics"}}
</head>
<body class="tall-header">
<div id="wrapper">
	<div id="container" class="container">
		<!-- Header -->
		<div id="header" class="site-header">
			{{theme:partial name="header"}}
			<div id="header-scroller" class="scrollable">
			</div>
		</div>
		<!-- Content -->
		<div id="content" class="site-content prepend-top">
			{{session:messages success="success" notice="notice" error="error"}}
			{{template:body}}
		</div>
	</div>
	<div class="footer-bkg">
		<!-- Footer -->
		<div class="container">
			<div id="footer" class="site-footer">
				{{theme:partial name="footer"}}
			</div>
		</div>
	</div>
</div>
</body>
</html>
