<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'development' }}
  <!-- DEVELOPMENT FILES -->        
  {{theme:partial name="metadata"}}
{{ else }}
  {{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body class="{{page.slug}}-page">
  <div id="wrapper" class="site-wrapper">     
    {{ theme:partial name="header" }}
    <div id="content" class="site-content">
      {{ template:body }}
    </div>
    {{ theme:partial name="footer" }}
  </div>  
</body>
</html>