<!DOCTYPE html>
<html lang="en">
<head>
{{ if global:environment == 'development' }}
  <!-- DEVELOPMENT FILES -->        
  {{theme:partial name="metadata"}}
{{ else }}
  {{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body class="{{ url:segments segment="1" default="home" }}-page">
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K26HK3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K26HK3');</script>
  <!-- End Google Tag Manager -->
  
  {{ theme:partial name="header" }}
  <div id="wrapper" class="site-wrapper">
    <div id="content" class="site-content">
      <div class="wetumka_logo_wrapper" id="wetumka_logo_wrapper"></div>
      {{ template:body }}
    </div>
    {{ theme:partial name="footer" }}
  </div>
</body>
</html>