.DS_Store
.buildpath
.project
.settings
assets/cache/*
assets/page_types/*
system/cms/cache/*
system/cms/config/database.php
system/cms/logs/log-*.php
nbproject/
uploads/*

!wetumka custom below
*.bak
*.orig
dbv/data/meta/revision
node_modules
.sass-cache
.htaccess
Vagrantfile
vagrant-provision

database_dump/stage/*.sql
database_dump/dev/project_db_*.sql
database_dump/dev/project_tables_db_*.sql