.DS_Store
.buildpath
.project
.settings
assets/cache/*
assets/page_types/*
system/cms/cache/*
system/cms/config/database.php
system/cms/logs/log-*.php
nbproject/
uploads/*

!wetumka custom below
Capfile
config/