.DS_Store
.buildpath
.project
.settings
assets/cache/*
assets/page_types/*
system/cms/cache/*
system/cms/config/database.php
system/cms/logs/log-*.php
nbproject/
uploads/*

!wetumka custom below
*.bak
*.orig
node_modules
.sass-cache
.htaccess
Vagrantfile
vagrant-provision
Capfile
config/*
lib/capistrano/*

database_dump/stage/*.sql
database_dump/dev/*.sql