{{ contact:form
	name="text|required"
	phone="text"
	email="text|required|valid_email"
	subject="text|required"
	message="textarea|required"
	success-redirect="/contact?tg=form-contact"
}}
<fieldset>
<div class="row">
	<div class="columns six">
		<label><span class="required-field">*</span>Full Name</label>
		{{ name }}
	</div>
	<div class="columns six">
		<label><span class="required-field">*</span>E-Mail Address</label>
		{{ email }}
	</div>
</div>
<div class="row">
	<div class="columns six">
		<label><span class="required-field">*</span>Subject</label>
		{{ subject }}
	</div>
	<div class="columns six">
		<label><span class="required-field">&nbsp;</span>Phone Number</label>
		{{ phone }}
	</div>	
</div>
<div class="row">
	
	<div class="columns eleven">
		<label><span class="required-field">*</span>Your Message</label>
		{{ message }}
	</div>
</div>
</fieldset>
{{ /contact:form }}