<!-- Start Product Pods -->
<div class="row" id="product-pods">
	<div class="columns four">
		<div class="product-pod mod auto">
			<a href="{{ pages:url id="7" }}" id="auto_pod" title="">
				<span class="title">Auto Wraps</span>
				<span class="cta banner">View auto wraps &raquo;</span>
			</a>
		</div>
	</div>
	<div class="columns four">
		<div class="product-pod mod truck">
			<a href="{{ pages:url id="8" }}" id="truck_van_pod" title="">
				<span class="title">Truck &amp; Van Wraps</span>
				<span class="cta banner">View truck &amp; van wraps &raquo;</span>
			</a>
		</div>
	</div>
	<div class="columns four">
		<div class="product-pod mod boat">
			<a href="{{ pages:url id="9" }}" id="boat_pod" title="">
				<span class="title">Boat Wraps</span>
				<span class="cta banner">View boat wraps &raquo;</span>
			</a>
		</div>
	</div>
</div>
<!-- End Product Pods -->