<div class="row" id="splash-slider">
	<div class="columns twelve">
		<div class="slider mod">
			<div class="bd">
				<div style="background-image:url(/files/large/6)" class="slide">
                    <h1>Auto Wraps</h1><br>
                    <h3>Check out our car wrap options and examples</h3><br>
                    <a class="nice radius large green button" href="{{pages:url id="7"}}">Learn More</a>
</div>
<div style="background-image:url(/files/large/1)" class="slide ">
                    <h1>Truck &amp; Van Wraps</h1><br>
                    <h3>Work trucks, lunch wagons, panel trucks, we wrap them all!</h3><br>
                    <a class="nice radius large green button" href="{{pages:url id="8"}}">Learn More</a>
</div>
<div style="background-image:url(/files/large/7)" class="slide coming-soon">
                    <h1>Boat Wraps</h1><br>
                    <h3>Examples coming soon!</h3><br>
                    <a class="nice radius large green button" href="{{pages:url id="9"}}">Get Details</a>
</div>
<div style="background-image:url(/files/large/8)" class="slide coming-soon">
                    <h1>Bus Wraps</h1><br>
                    <h3>Examples coming soon!</h3><br>
                    <a class="nice radius large green button" href="{{pages:url id="10"}}">Get Details</a>
</div>
			</div>
			<div class="fd"></div>
		</div>
	</div>
</div>