<!-- Start Upsell Pods -->
<div id="box" class="row three-box-zone top-spacer">
	<div class="columns four">
		<div class="mod king-kam">
    <div class="hd">
        <h4>Servicing businesses in Hawaii since 1991</h4>
    </div>
    <div class="bd">
        <p>We are locally owned and operated too!</p>
<div>&nbsp;</div>
        <!--<a href="{{pages:url id='5'}}">About Us &raquo;</a>-->
    </div>
    <div class="fd"></div>
</div>
	</div>
	<div class="columns four">
		&nbsp;
	</div>
	<div class="columns four">
		<!-- <div class="mod panel recent-posts">
			<div class="hd">
				<h4>Latest News</h4>
			</div>
			<div class="bd">
				<ul>
				{{ blog:posts limit="3" order="desc" }}
					<li>
						<a href="/blog/view/{{ slug }}">{{ title }}</a>
					</li>
				{{ /blog:posts }}
				</ul>
			</div>
			<div class="fd">
				<a class="cta banner" href="/blog">View more articles &raquo;</a>
			</div>
		</div> -->
	</div>
</div>
<!-- End Upsell Pods -->
<!--
<div class="panel mod newsletter">
    <h4>Be the first to know!</h4>
    <p>Join our mailing list to learn about new vehicle wrap options, discounts and other promotions.</p>
    <a href="/newsletters/subscribe" class="cta banner">Join Now!</a>
</div>
-->