<!-- Begin footer -->
<footer id="footer" class="site-footer">
	<div class="container">
		<div class="row-fluid">
			<ul class="span2">
				{{ navigation:links group="footer-1" }}
			</ul>
			<ul class="span2">
				{{ navigation:links group="footer-2" }}
			</ul>
			<ul class="span2">
				{{ navigation:links group="footer-3" }}
			</ul>
			<div class="span6">
				<div class="social">
					<a class="icon-youtube" href="">YouTube</a>
					<a class="icon-vimeo" href="">Vimeo</a>
					<a class="icon-facebook" href="">Facebook</a>
				</div>
				<h4>MX Track Builders, LLC.</h4>
				<p>We specializes in the design and development of private, public, and indoor Motocross tracks worldwide. The team is credited for their creative design concepts matched by reliable &amp; efficient service unparalleled in the industry.</p>
			</div>
		</div>
	</div>
	<div class="copy">
		MX Track Builders, LLC. &copy; 2006 - {{helper:date format="Y"}}
	</div>
</footer>