<!-- Begin footer -->
<footer id="footer" class="site-footer container">
	<div class="wrapper">
		<div class="row-fluid">
			<ul class="span2">
				{{ navigation:links group="footer-1" }}
			</ul>
			<ul class="span2">
				{{ navigation:links group="footer-2" }}
			</ul>
			<ul class="span2">
				{{ navigation:links group="footer-3" }}
			</ul>
			<div class="span6">
				<div class="social">
					<a class="icon-youtube" href="{{ variables:youtube }}">YouTube</a>
					<a class="icon-vimeo" href="{{ variables:vimeo }}">Vimeo</a>
					<a class="icon-facebook" href="{{ variables:facebook }}">Facebook</a>
					<a class="icon-instagram" href="{{ variables:instagram }}">Instagram</a>
				</div>
				<h4>MX Track Builders, LLC.</h4>
				{{ widgets:instance id="27"}}
			</div>
		</div>
	</div>
	<div class="copy">
		MX Track Builders, LLC. &copy; 2006 - {{helper:date format="Y"}}<br/><a href="http://www.wetumka.net" title="A small web design studio dedicated to helping your business make an impact on the web.">Wetumka Built</a>
	</div>
</footer>
<!-- Modal Window -->
<div id="media-lightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-header'>
        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class='lightbox-content'>
        
        <div class="lightbox-caption"></div>
    </div>
</div>