<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script>$().carousel || document.write('<script src="/{{theme:path}}/js/libs/bootstrap.min.js" type="text/javascript"><\/script>')</script>
<script src="/{{theme:path}}/js/libs/bootstrap-lightbox.js"></script>
<!-- scripts concatenated and minified via build script -->

<script src="/{{theme:path}}/js/jquery.imagesloaded.js"></script>
<script src="/{{theme:path}}/js/default.js"></script>
<!-- end scripts -->
{{ asset:render_js }}
