{{ asset:js file="libs/jquery-ui-1.10.1.custom.js" file_min="libs/jquery-ui-1.10.1.custom.min.js" }}
{{ asset:css file="datepicker.css" }}

{{ 
    streams:form
    stream="quote_request_v2"
    mode="new"
    
    notify_a=settings:contact_email
    notify_template_a="request_notice"
    
    return="/contact/thank-you?tg=form-quote-v2"
}}

{{ form_open }}
<div class="tab-content">
    <div class="tab-pane active" id="contact">
        <fieldset>
            <legend>Contact Information</legend>
            <div class="control-group">
                <label class="control-label">Full Name <span class="required">*</span></label>
                <div class="controls">
                    {{full_name:input }}
                    <span class="help-inline">{{ full_name:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">E-Mail Address <span class="required">*</span></label>
                <div class="controls">{{email:input }}
                    <span class="help-inline">{{ email:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Phone Number <span class="required">*</span></label>
                <div class="controls">
                    {{phone:input}}
                    <span class="help-inline">{{ phone:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Address <span class="required">*</span></label>
                <div class="controls">
                    {{address:input}}
                    <span class="help-inline">{{ address:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">City <span class="required">*</span></label>
                <div class="controls">
                    {{address_city:input}}
                    <span class="help-inline">{{ address_city:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">State <span class="required">*</span></label>
                <div class="controls">
                    {{address_state:input}}
                    <span class="help-inline">{{ address_state:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Zip Code <span class="required">*</span></label>
                <div class="controls">
                    {{address_zip:input}}
                    <span class="help-inline">{{ address_zip:error }}</span>
                </div>
            </div>
        </fieldset>
        <hr />
        <a class='btn btn-primary pull-right' data-target="#track" data-toggle="tab">Continue <i class="icon-arrow-right icon-white"></i></a>
    </div>
    <div class="tab-pane" id="track">
        <fieldset>
            <legend>Track Information</legend>
            <div class="control-group">
                <label class="control-label">Track address same as contact address <span class="required">*</span></label>
                <div class="controls">
                    <label class="radio"><input type="radio" value="0" name="same_address">No</label>
                    <label class="radio"><input type="radio" value="1" name="same_address">Yes</label>
                </div>
            </div>
            <div class="track-address">
                <div class="control-group">
                    <label class="control-label">Address <span class="required">*</span></label>
                    <div class="controls">
                        {{track_address:input}}
                        <span class="help-inline">{{ track_address:error }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">City <span class="required">*</span></label>
                    <div class="controls">
                        {{track_address_city:input}}
                        <span class="help-inline">{{ track_address_city:error }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">State <span class="required">*</span></label>
                    <div class="controls">
                        {{track_address_state:input}}
                        <span class="help-inline">{{ track_address_state:error }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Zip Code <span class="required">*</span></label>
                    <div class="controls">
                        {{track_address_zip:input}}
                        <span class="help-inline">{{ track_address_zip:error }}</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Public or private <span class="required">*</span></label>
                <div class="controls">
                    {{track_type:input}}
                    <span class="help-inline">{{ track_type:error }}</span>
                </div>
            </div>
            <div class="track-permits">
                <div class="control-group">
                    <label class="control-label">Proper permits acquired</label>
                    <div class="controls">
                        {{track_permits:input}}
                        <span class="help-inline">{{ track_permits:error }}</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Acreage <span class="required">*</span></label>
                <div class="controls">
                    {{track_lot_size:input}}
                    <span class="help-inline">{{ track_lot_size:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Fuel on-site <span class="required">*</span></label>
                <div class="controls">
                    {{expenses_fuel:input}}
                    <span class="help-inline">{{ expenses_fuel:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Existing track <span class="required">*</span></label>
                <div class="controls">
                    {{existing_track:input}}
                    <span class="help-inline">{{ existing_track:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Irrigation system <span class="required">*</span></label>
                <div class="controls">
                    {{irrigation_system:input}}
                    <span class="help-inline">{{ irrigation_system:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Soil composition <span class="required">*</span></label>
                <div class="controls">
                    {{soil_comp:input}}
                    <span class="help-inline">{{ soil_comp:error }}<span class="help-inline">Select all that apply</span></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Soil composition contains rocks <span class="required">*</span></label>
                <div class="controls">
                    {{soil_comp_rocks:input}}
                    <span class="help-inline">{{ soil_comp_rocks:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Tree removal <span class="required">*</span></label>
                <div class="controls">
                    {{tree_removal:input}}
                    <span class="help-inline">{{ tree_removal:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Topography <span class="required">*</span></label>
                <div class="controls">
                    {{topography:input}}
                    <span class="help-inline">{{ topography:error }}</span>
                </div>
            </div>
           
        </fieldset>
        <hr />
        <a class='btn pull-left btn-inverse' data-target="#contact" data-toggle="tab"><i class="icon-arrow-left icon-white"></i> Back</a>
        <a class='btn pull-right btn-primary' data-target="#additional" data-toggle="tab">Continue <i class="icon-arrow-right icon-white"></i></a>
    </div>
    <div class="tab-pane" id="additional">
        <fieldset>
            <legend>Additional Information</legend>
            <div class="control-group">
                <label class="control-label">Upload Site Image</label>
                <div class="controls">
                    {{lot_photograph:input}}
                    <span class="help-inline">{{ lot_photograph:error }}<span class="help-inline">JPG, PNG, TIFF, GIF file formats</span></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Start date</label>
                <div class="controls">
                    {{project_start_date:input }}
                    <span class="help-inline">{{ project_start_date:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Budget</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">$</span>{{project_budget:input}}
                    </div>
                    <span class="help-inline">{{ project_budget:error }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">How did you hear about us</label>
                <div class="controls">
                    {{marketing:input}}
                    <span class="help-inline">{{ marketing:error }}</span>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
            	<div class="span6">
                    {{more_information:input}}
            	</div>
            	<div class="span4">
            	    <p class="small">Any additional information not requested in this form that you can provide may be mutually beneficial. There are many variables that can change the cost of your project so please be specific.</p>
            	</div>
            </div>
            
        </fieldset>
        <hr />
        <a class='btn pull-left btn-inverse' data-target="#conditions" data-toggle="tab"><i class="icon-arrow-left icon-white"></i> Back</a>
        <button class='btn btn-large btn-primary pull-right' type="submit">Send Form <icon class="icon-ok-sign icon-white"></icon></button>
    </div>
</div>

      
{{ form_close }}

{{ /streams:form }}