<div class="siderail_posts">
{{ blog:posts limit="3" order-dir="desc" }}
    <div class="blog-post">
        <div class="row-fluid">
            <div class="span4 post-image">
                <a href="{{ url }}" title="Read - {{ title }}"><img alt="{{ field_slug:filename }}" src="{{ post_image:thumb }}/114/134/fit" /></a>
            </div>
            <div class="span8 post-content">
                <h4><a href="{{ url }}" title="Read - {{ title }}">{{ title }}</a></h4>
                <div class="intro">{{ intro }}</div>
                <a href="{{ url }}" title="Read - {{ title }}">Read more</a>
            </div>
        </div>
    </div>
{{ /blog:posts }}
</div>