<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content="noarchive" name="googlebot" />
<meta content="none" name="robots" />
<meta content="noindex, nofollow" name="robots">
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />
<meta charset="utf-8" />
<base href="{{ url:base }}" />
<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
{{ template:metadata }}
</head>
<body>
{{ template:body }}
</body>
</html>