<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="metadata"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body>
	<div class="wrapper">
		<div id="container" class="container">
			<div id="header">
				{{theme:partial name="header"}}
			</div>
			<div id="content" class="clearfix">
				<div id="scroller" class="mod site-banner scrollable">
					<ul class="items">
					{{ if page:id == '1' }}
						<li>{{ snippet:banner_1 }}</li>
						<li>{{ snippet:product_1 }}</li>
						<li>{{ snippet:gallery_1 }}</li>
					{{ elseif {url:segments segment="1"} == 'products' }}
						<li>{{ snippet:banner_1 }}</li>
					{{ else }}
						<li>{{ snippet:gallery_1 }}</li>
					{{ endif }}
					</ul>
					<div class="banner-nav"></div>
				</div>
				<div class="span-8">
					<div class="mod sidebar">
						{{ if page:id == '1' }}
							{{ widgets:area slug="default-sidebar" }}
							<div class="widget html">
								<div class="facebookframe">
									<div class="fb-like-box" data-href="http://www.facebook.com/pages/John-Allen-Sign-Company/180376958693320" data-width="270" data-colorscheme="dark" data-show-faces="true" data-border-color="#080808" data-stream="false" data-header="false"></div>
								</div>
							</div>			
							<hr class="space"/>
						{{ elseif {url:segments segment="1"} == 'products' }}
							{{ widgets:area slug="products-sidebar" }}
						{{ elseif {url:segments segment="1"} == 'services'}}
							{{ widgets:area slug="services-sidebar" }}
						{{ else }}
							{{ widgets:area slug="default-sidebar" }}
						{{ endif }}
					</div>
				</div>
				<div class="span-16 last">
					<div class="mod maincontent">
						<div class="box page-header">
							{{ session:messages success="success" notice="notice" error="error" }}
							{{ theme:partial name="breadcrumbs" }}
							<hr/>
						</div>
						{{template:body}}
					</div>
				</div>
			</div>
			<div id="footer">
				{{theme:partial name="footer"}}
			</div>
		</div>
	</div>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="footer-scripts"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/footer-scripts"}}
	<script type="text/javascript">  (function() {
    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
	</script>
{{ endif }}
<div id="fb-root"></div>
</body>
</html>