<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="metadata"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body>
<div class="wrapper">
	<div id="container" class="container">
		<div id="header">
			{{theme:partial name="header"}}
		</div>
		<div id="content" class="clearfix">
			<div id="scroller" class="mod site-banner scrollable">
				<ul class="items">
					<li>{{snippet:product_1}}</li>
				</ul>
				<div class="banner-nav">
				</div>
			</div>
			<div class="span-8">
				<div class="mod sidebar">
					{{widgets:area slug="gallery-sidebar"}}
				</div>
			</div>
			<div class="span-16 last">
				<div class="mod maincontent">
					{{session:messages success="success-box" notice="notice-box" error="error-box"}}
					{{template:body}}
				</div>
			</div>
		</div>
		<div id="footer">
			{{theme:partial name="footer"}}
		</div>
	</div>
</div>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="footer-scripts"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/footer-scripts"}}
	<script type="text/javascript">  (function() {
    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
	</script>
{{ endif }}
</body>
</html>
