<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="metadata"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body>
	<?php /*
			{{ theme:partial name="breadcrumbs" }}
            {{session:messages success="success" notice="notice" error="error"}}
            <!-- view > default -->
            {{ template:body }}
    */ ?>
    
    {{ theme:partial name="header" }}
    <div class="container">
	{{ template:body }}
	</div>
	
	{{ if page:id == 1 }}
    {{ theme:partial name="carousel" }}
    <div class="container marketing">
		<!-- <section class="row">
			<div class="col-lg-6">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Heading</h2>
				<p>
					Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
				</p>
			</div>
			<div class="col-lg-6">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Heading</h2>
				<p>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
				</p>
			</div>
		</section>


		<hr class="featurette-divider"> -->

		<section class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
				<p class="lead">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</section>

		<hr class="featurette-divider">

		<section class="row featurette">
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
				<p class="lead">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
		</section>

		<hr class="featurette-divider">

		<section class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
				<p class="lead">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</section>

		<hr class="featurette-divider">
		{{ endif }}
		
		{{ theme:partial name="footer" }}
	</div>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="footer-scripts"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/footer-scripts"}}
	<script type="text/javascript">  (function() {
    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
	</script>
{{ endif }}
</body>
</html>