<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="metadata"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/metadata"}}
{{ endif }}
</head>
<body>
    
    {{ theme:partial name="header" }}

	{{ if page:id == 1 }}
    {{ theme:partial name="carousel" }}
    <div class="container">
    	{{session:messages success="success" notice="notice" error="error"}}
		<!-- <section class="row">
			<div class="col-lg-6">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Heading</h2>
				<p>
					Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
				</p>
			</div>
			<div class="col-lg-6">
				<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
				<h2>Heading</h2>
				<p>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
				</p>
			</div>
		</section>


		<hr class="featurette-divider"> -->

		<section class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
				<p class="lead">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</section>

		<hr class="featurette-divider">

		<section class="row featurette">
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
				<p class="lead">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
		</section>

		<hr class="featurette-divider">

		<section class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
				<p class="lead">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</section>

		<hr class="featurette-divider">
	</div>
	{{ elseif page:id == 10 }}
	<div class="container" style="margin-top:75px;">
		{{session:messages success="success" notice="notice" error="error"}}
		
		<form method="get" id="membership" class="form-membership" >
			<h1>{{ page:page_title }}</h1>
			<hr />
			
			<h3>What water temp wax do you want?</h3>
			<section class="row">
				<div class="col-md-4 col-md-offset-4">
					<label class="sr-only" for="water-temp">Select water tempature</label>
					<select class="form-control" name="water-temp" id="water-temp" required>
						<option value="">Select your temp</option>
						<option value="tropical">Tropical</option>
						<option value="warm">Warm</option>
						<option value="cool">Cool</option>
						<option value="cold">Cold</option>
					</select>
				</div>
			</section>
			
			
			<hr />
			<h3>How many bars of wax do you want shipped to you?</h3>
			
			<section class="row">
				<div class="col-md-4 col-md-offset-2">
					<div class="panel panel-info">
						<div class="panel-heading">
							2 Bars of wax
						</div>
						<div class="panel-body">
							For short boarders
							<h1>$5</h1>
							<p>Shipping &amp; handling included.</p>
							<button formaction="{{ pages:url id="11" }}" class="btn btn-primary btn-block">Select 2 bars</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							3 Bars of wax
						</div>
						<div class="panel-body">
							For long boarders
							<h1>$7</h1>
							<p>Shipping &amp; handling included.</p>
							<button formaction="{{ pages:url id="12" }}" class="btn btn-primary btn-block">Select 3 bars</button>
						</div>
					</div>
				</div>
			</section>
			
			<p>Memebership renews automatically, you can cancel at any time.</p>
		</form>
	</div>
	{{ elseif page:id == 11 || page:id == 12 }}
	<?php if(!@$_GET["water-temp"]) : // check for water temp param ?>
		{{ url:redirect to="membership" }}
	<?php endif; ?>
	
	<div class="container" style="margin-top:75px;">
		{{session:messages success="success" notice="notice" error="error"}}
		
		<form method="get" id="frequency" class="form-frequency" >
			<input type="hidden" name="water-temp" value="<?php echo $_GET["water-temp"];?>" id="water-temp"/>
			<input type="hidden" name="product" value="{{ url:segments segment="2" }}" id="product"/>
			
			<h1 id="">{{ page:page_title }}</h1>
			<hr />
			<h3>How often do you want your items shipped to you?</h3>
			
			<section class="row">
				<div class="col-md-4 col-md-offset-2">
					<div class="panel panel-info">
						<div class="panel-heading">
							Every other month
						</div>
						<div class="panel-body">
							<p>For the weekend warrior</p>
							<button formaction="/register" name="frequency" value="bi-monthly" class="btn btn-primary btn-block">Select bi-monthly</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Every month
						</div>
						<div class="panel-body">
							<p>For the hardcore daily surfer</p>
							<button formaction="/register" name="frequency" value="monthly" class="btn btn-primary btn-block">Select monthly</button>
						</div>
					</div>
				</div>
			</section>
			
			<p>Memebership renews automatically, you can cancel at any time.</p>
		</form>
	</div>
	{{ else }}
	<div class="container" style="margin-top:75px;">
		{{session:messages success="success" notice="notice" error="error"}}
		{{ theme:partial name="breadcrumbs" }}
		{{ template:body }}
	</div>
	{{ endif }}
	
	{{ theme:partial name="footer" }}
	
{{ if global:environment == 'development' }}
	<!-- DEVELOPMENT FILES -->				
	{{theme:partial name="footer-scripts"}}
{{ else }}
	<!-- PRODUCTION FILES -->
	{{theme:partial name="publish/footer-scripts"}}
	<script type="text/javascript">  (function() {
    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
	</script>
{{ endif }}
</body>
</html>