/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {background:url(../img/big-bkg-1.jpg) repeat-x top center #fff; }
a { cursor:pointer; color:#71B460;}
a:hover { color:#11639D}
p { font-size:1.23em; line-height:1.5em; margin-bottom:1em;}
sup {font-size: 0.5em;line-height: 1em;padding: 2px;vertical-align: text-top;}
hr.space {margin: 0 0 2em; border:none; background:none;}
header {background-color: rgba(255,255,255,0.4); height:60px; margin-bottom:50px;}
header .logo { margin:0; float:left;}
header .logo a { display:block; height:48px; width:135px; text-indent:-9999px; margin:6px 0 6px 20px; background:url(../img/sprites-core-ui.png) no-repeat 3px 3px; }
header .logo a:hover {}
header nav { margin:0;}
header nav ul {margin:0 0 0 20px; height:60px; float:left}
header nav li {display:block; float:left; margin:0; border-left:solid 1px #CAE5FF;}
header nav li.last {border-right:solid 1px #CAE5FF;}
header nav li .arrow {border: transparent solid 6px; position:absolute; margin:0 50%; left:-6px; bottom:-12px;}
header nav li a {font-size: 1.4em;padding:15px; margin:0; line-height:30px; display:block; color:#666; position:relative; z-index:100;}
header nav li ul { left: 0;margin: 0;position: absolute;width: 100%; background:rgba(56, 142, 231,.4); height:0px; z-index:50; overflow:hidden;
		-webkit-transition: height .35s ease-in-out;
		-moz-transition: height .35s ease-in-out;
		-o-transition: height .35s ease-in-out;}
header nav li:hover ul, header nav li.current ul, header nav li.has_current ul {height:40px;}
header nav li.current ul,header nav li.has_current ul{overflow:visible;}
header nav li.current .arrow,header nav li.has_current .arrow  {border-top-color:#fff;}
header nav li:hover > a, header nav li.hover > a, header nav>ul>li.current>a, header nav>ul>li.has_current>a  {
		background: #FFF;
		background: -moz-linear-gradient(top, #DAECFD 0%, #FFFFFF 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DAECFD), color-stop(100%,#FFFFFF));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DAECFD', endColorstr='#FFFFFF',GradientType=0 );}
/* nested list */
header nav li.child {border-color:#ADD1F2;}
header nav li.child.first {border:none;}
header nav li.child a{font-size:1.2em; padding:5px 14px; color:#000; background:none;}
header nav li.child:hover a{color:#fff;}
header nav li.child.current a,header nav li.child.has_current a{color:#fff; cursor:default;}
header nav li.child .arrow  {display:none;}
header nav li.child.current .arrow, header nav li.child.has_current .arrow   { display:block; border-top-color:rgba(56, 142, 231, 0.4);}
header .phone {float:right; text-align:center; height:40px; padding:10px 30px; background:#fff; font-weight:bold;}
header .phone .phone-number {font-size:1.8em; line-height:1em;}
img.right {float:right;}
footer {margin-top:30px; margin-bottom:30px; border: solid #ccc 1px; border-left:none; border-right:none; padding-top:30px; padding-bottom:30px;}
.legal {text-align:center; font-size:.8em;}
.subnav { height:34px; background-color:#eee;}
.subnav li { float:left;}
.subnav li a{display:block; font-size:1.3em; padding:8px 14px;}
.top-spacer {margin-top:2em;}
.page-wrapper {background-color:rgba(255,255,255,.8); padding:1.5em;}
ul.bullets { list-style:square; margin-left:15px;}
img.left {padding-right:18px;}
img.right {padding-left:18px;}
/* -----------------------------------------
   Home Page
----------------------------------------- */

/* -----------------------------------------
   Services
----------------------------------------- */
.page-header {background:#fff center center; height:262px; position:relative;}
.page-header h1 {margin:0;  padding:10px; color:#fff; display:inline-block;background:rgba(0,0,0,.8); position:absolute; bottom:0;}

/* -----------------------------------------
   Blog Section
----------------------------------------- */
.blog-layout .breadcrumbs {border-bottom:1px dashed #eee; font-size:11px; line-height:16px; padding-bottom:15px; margin-bottom:1.5em;}
.blog-layout .blog-latest .bd .post-wrapper {margin-bottom:50px; border-bottom: 1px dashed #999;}
.comments-layout {}
.comments-layout .comments{ margin-bottom:50px;}
/* -----------------------------------------
   Modules
----------------------------------------- */
.mod.blog-latest {position:relative;}
.blog-latest .hd  a{ position:absolute; top:0; right:0; font-weight:bold;}
.blog-latest .bd .post-wrapper { margin-bottom:25px;}
.blog-latest .bd .post-wrapper .image-loader{ width:180px; height:180px; float:right; background: url(../img/ajax-loader.gif) #fff no-repeat center center;}
.blog-latest .bd .post-wrapper div.image-injected {width:100%; height:100%; background-position: center center; background-repeat:no-repeat;}
.blog-latest .bd .post-title {font-size:2.3em; line-height:30px; margin-bottom:10px;}
.blog-latest .bd .post-title a {color:#000;}
.blog-latest .bd .post-title a:hover {}
.blog-latest .bd .post-date {}
.blog-latest .bd .post-intro { min-height:100px;}
.blog-latest .bd .post-intro p{padding-right:200px; margin-bottom:0;}
.blog-latest .bd .post-link { padding-right: 190px;}
.blog-latest .bd .post-meta {font-size:8px; line-height:14px; font-family: verdana, sans-sarif; margin:0 0 20px 16px; color:#999;}
.blog-latest .bd .post-meta p {margin-bottom:0;}
.blog-latest .fd {}

.mod.blog-post {}
.blog-post .hd{}
.blog-post .hd .post-meta{font-size:8px; line-height:14px; font-family: verdana, sans-sarif; margin:0 0 20px 16px; color:#999;}
.blog-post .hd .post-meta p{margin-bottom:0;}
.blog-post .bd{margin-bottom:50px; border-bottom: 1px dashed #999;}
.blog-post .fd{}

.mod.comment {}
.comment .hd{margin-top:20px;}
.comment .hd .user-avatar {float:left;}
.comment .hd .user-avatar img {display:block; border-radius: 4px;}
.comment .hd .user-meta {float:left;}
.comment .hd .user-meta .name { line-height:40px; margin-bottom:0; padding-left:20px; float:left;}
.comment .hd .user-meta .date {float:left; line-height:40px; font-size:11px; padding-left:20px;}
.comment .bd{clear:both; padding-left:60px;}
.comment .fd{border-bottom:dashed 1px #eee;}

.mod.slider { height:310px; border:solid 20px rgba(255,255,255,0.5); position:relative; overflow:hidden; box-shadow:0 0 2px rgba(0,0,0,.3)}
.slider .bd {position:absolute; width:9000px; background:url(../img/ajax-loader.gif) no-repeat 10px 10px #FFF;}
.slider .bd .slide { float:none; width:940px; height:260px; padding-top:50px; text-align:right; cursor:default;}
.slider .bd .slide  h1,.mod.slider .bd .slide  h3 { padding:10px; color:#fff; margin:0; display:inline-block;}
.slider .bd .slide  h1 { background:rgba(0,0,0,.8)}
.slider .bd .slide  h3 { background:rgba(0,0,0,.5)}
.slider .bd .slide a.button { margin:20px 20px 0 0;}
.slider .fd {position:absolute; bottom:10px; left:10px; z-index:100;}
.slider .fd a {background:#fff; display:block; width:14px; height:14px; float:left; border:solid 1px #ccc; margin-right:8px; box-shadow: 0 0 2px #000;}
.slider .fd a:hover {border-color:#333;}
.slider .fd a.active, .slider.product .fd a.active:hover{background-color:#388EE7; border-color:#388EE7; cursor:default;}

.mod.product-pod {margin-top:32px; margin-bottom:32px;}
.product-pod a{display:block; height:200px; position:relative;}
.product-pod a .title {font-size:1.53em; color:#000; line-height:20px; padding:10px; background-color:rgba(255,255,255,.5); display:block;}
.product-pod a .cta { height: 0; overflow:hidden; line-height:40px; padding:0; width:95%; padding-left:5%; position:absolute; bottom:0;-webkit-transition: height .35s ease-in-out;-moz-transition: height .35s ease-in-out;-o-transition: height .35s ease-in-out;}
.product-pod a .cta:hover {color:#fff;}
.product-pod.auto a{ background: url(../img/car-hover-action.jpg) no-repeat top center;}
.product-pod.truck a{ background: url(../img/truck-hover-action.jpg) no-repeat top center;}
.product-pod.boat a{ background: url(../img/boat-hover-action.jpg) no-repeat top center;}
.product-pod a:hover {background-position: bottom center;}
.product-pod a:hover .cta {height:40px;}

.mod.king-kam {background:url(../img/color-box.png) no-repeat top center; margin-bottom:25px; box-shadow:0 0 2px rgba(0,0,0,.3); padding:10px 10px 10px 80px; position:relative;}
.king-kam .hd  h4{font-size:24px; line-height:1em;}
.king-kam .bd  p{line-height:1.3em;}
.king-kam .bd  a{font-weight:bold; font-size:16px; color:#000;}
.king-kam .fd {background:url(../img/king-kam.png) no-repeat top left; position:absolute; width:90px; height:230px; top:-30px; left:-20px;}

.mod.quote-leadin {background:url(../img/color-box-2.png) #D0E0FD no-repeat top center; padding:10px; margin-bottom:25px; box-shadow:0 0 2px rgba(0,0,0,.3);}
.quote-leadin .hd {}
.quote-leadin .bd {}
.quote-leadin .bd ul{margin:15px;}
.quote-leadin .bd li{font-size:20px; text-align:right; position:relative;}
.quote-leadin .bd li a {display:block; border:solid 1px #999; border-radius:5px; color:#666; padding:12px 10px;}
.quote-leadin .bd li a:hover {color:#000; border-color:#000;}
.quote-leadin .bd li .icon-auto {position:absolute;}
.quote-leadin .bd li .auto-1 {top:4px; left:8px;}
.quote-leadin .bd li .auto-2 {top:4px; left:8px;}
.quote-leadin .bd li .auto-3 {top:2px; left:8px;}
.quote-leadin .bd li .auto-4 {top:2px; left:8px;}
.quote-leadin .bd li .auto-5 {top:4px; left:8px;}
.quote-leadin .bd li .auto-6 {top:4px; left:8px;}
.quote-leadin .bd li .auto-7 {top:2px; left:8px;}
.quote-leadin .bd li .auto-8 {top:2px; left:8px;}
.quote-leadin .bd li .auto-9 {top:4px; left:8px;}
.quote-leadin .fd {}

.mod.big-list {background-color:#f6f6f6; border: solid 10px #fff; border-radius: 10px; padding:15px;box-shadow:0 0 2px rgba(0,0,0,.3); }
.big-list ul{margin:0; font-family:"Trebuchent MS",Arial, sans-serif; font-size:1.54em;}
.big-list li {line-height: 1em; margin: 10px 0; padding:10px 0 10px 70px; color:#666; background:url(../img/sprites-core-ui.png) no-repeat;}
.big-list li.icon-customers {background-position:0px -140px;}
.big-list li.icon-mobile {background-position:0px -217px;}
.big-list li.icon-advertise {background-position:0px -293px;}
.big-list li.icon-photo {background-position:0px -371px;}
.big-list li.last {border:none;}

.mod.recent-posts {position:relative;}
.recent-posts .hd {}
.recent-posts .bd {margin-bottom:34px;}
.recent-posts .bd ul {margin-bottom:4px;}
.recent-posts .bd li{font-size:16px;border-bottom: 1px dashed #EEEEEE;font-size: 16px;margin: 0;padding: 4px;}
.recent-posts .fd {}

.mod.panel  a.banner {margin:0 0 -2px -20px;padding: 10px 20px;width: 100%;}

.page-chunk.disclaimer {}
.disclaimer ol {font-size:10px; color:#ccc;}
.disclaimer ol li {margin:0;}
.page-chunk .half-block {width:50%; float:left;}
.page-chunk .half-block ul {margin:0 15px; list-style:square; color:#ccc;}
.page-chunk .half-block ul span {color:#555;}
.page-chunk .half-block .icon-partial {background:url(../img/sprites-core-ui.png) no-repeat 145px -445px;padding:7px 0; margin-bottom:.5em;}
.page-chunk .half-block .icon-full {background:url(../img/sprites-core-ui.png) no-repeat right -518px; padding:7px 0; margin-bottom:.5em;}
/* -----------------------------------------
   Forms & Buttons
----------------------------------------- */
.button.nice,.nice.blue.button { background: #00a6fc url(../img/button-gloss.png) no-repeat center -34px;-moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .3);-webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .3);box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .3);border: 5px solid #0593dc;}
.nice.small.button 		{ background-position: center -36px; }
.nice.large.button 		{ background-position: center bottom; }

.green.button			{ background-color: #6ECA57;}
.nice.green.button		{ border-color:#B8DBB5;}
.green.button:hover		{ background-color: #519640;}
.blue.button			{ background-color: #49A4FF;}
.nice.blue.button		{ border-color:#8FC2F5;}
.blue.button:hover		{ background-color: #388EE7;}

.cta {}
.cta.banner { background-image:url(../img/sprites-core-ui.png); background-position: 0 -45px; display:block;color: #FFFFFF;display: block;font-size: 1.38em;line-height: 20px;padding: 10px;}
.cta.banner.lite {background-position: 0 -85px; color:#71B460;}
.cta.banner.lite:hover, .cta.banner:hover {color:#11639D}

.icon {}
.icon-auto {background:url(../img/auto-icons.png) no-repeat; display:block;}
.icon-auto.auto-1{background-position: -260px -10px;height: 38px;width: 80px;} /* hatchback */
.icon-auto.auto-2{width: 96px; height: 39px; background-position: -5px -10px;} /* coupe */
.icon-auto.auto-3{width: 117px; height: 40px; background-position: -3px -71px;} /* sedan */
.icon-auto.auto-4{width: 108px; height: 40px; background-position: -383px -71px;} /* wagon */
.icon-auto.auto-5{width: 100px; height: 35px; background-position: -380px -14px;} /* convertible */
.icon-auto.auto-6{width: 105px; height: 37px; background-position: -133px -72px;} /* truck */
.icon-auto.auto-7{width: 94px; height: 40px; background-position: -134px -4px;} /* suv */
.icon-auto.auto-8{width: 100px; height: 40px; background-position: -260px -68px;} /* passenger van */
.icon-auto.auto-9{width: 91px; height: 40px; background-position: -6px -136px;} /* panel van */

.contact-button input {font-size:18px;}
.required-field {color:#B91F24; font-size:30px; position:relative; top:8px; vertical-align:text-bottom;}
.validation-error {font-size:10px; color:#B91F24; position:absolute; bottom:-10px;}
span.error {font-size:10px; color:#B91F24; position:absolute; bottom:-12px; text-transform:uppercase;}

form label {font-size:12px;margin-bottom:0;}
form fieldset {background-color:rgba(255,255,255,.8); padding:15px 20px;}
form legend {font-size:18px; font-weight:bold; padding:0 5px;}
form textarea {width:100%; max-width:100%; min-width:100%}
form textarea, form input{font-size:20px!important; margin-top:0!important;}
form .columns {margin-bottom:14px; position:relative;}
input.input-text, textarea { width: 96%; }
/* -----------------------------------------
   Message Bar
----------------------------------------- */
div.error, div.alert, div.notice, div.success, div.info {padding:.65em 1em;margin-bottom:1.5em;border:2px solid #ddd;}
div.error p, div.alert p, div.notice p, div.success p, div.info p{ margin-bottom:0;}
div.error, div.alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
div.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
div.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
div.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
div.error a, div.alert a {color:#8a1f11;}
div.notice a {color:#514721;}
div.success a {color:#264409;}
div.info a {color:#205791;}
/* -----------------------------------------
   UI Elements
----------------------------------------- */
div.panel {box-shadow:0 0 2px rgba(0,0,0,.3);}
.nice.tabs {border-bottom: 1px solid #ddd; margin:0;}
.nice.tabs dd a { color:#71B460; font-weight:bold;}
.nice.tabs dd a.active, .nice.tabs dd a.current { border-top-color:#71B460;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;}
.tabs-content img {display:block; margin: 0 0 20px 20px; border: solid 10px #fff; box-shadow: 0 0 2px #ccc; float:right;}
/* -----------------------------------------
	IE Styles
------------------------------------------*/
.lt-ie9 .required-field {top:17px;}
.lt-ie9 div.panel { border: 1px solid #ccc; }