<?php /*
<div id="block-2" class="mod block-footer clearfix">
	<div class="bd">
		<div class="box">
			<h4 class="headline">Who We Are?</h4>
			<p><strong>Lorem ipsum dolor</strong> sit amet, cons ectur adipiscing elit. Nunc acsem nibhusce sit.</p>
			<p>Senean sed purus vel lacus cone iaculis non sed sem. Ut accu huomsan mollis orci. Fusce eleifend mi sapi euis tempor arcused feugiat porta, dui metus condi mentum nieu pulvinar est liber loroem sed, dictum.</p>
			<p><a href="more.html">read more</a></p>
		</div>
		<div class="box">
			<h4 class="headline">How We Work?</h4>
			<p><strong>Lorem ipsum dolor</strong> sit amet, cons ectur adipiscing elit. Nunc acsem nibhusce sit.</p>
			<p>Senean sed purus vel lacus cone iaculis non sed sem. Ut accu huomsan mollis orci. Fusce eleifend mi sapi euis tempor arcused feugiat porta, dui metus condi mentum nieu pulvinar est liber loroem sed, dictum.</p>
			<p><a href="more.html">read more</a></p>
		</div>
		<div class="box">
			<h4 class="headline">Why Choose Us?</h4>
			<p><strong>Lorem ipsum dolor</strong> sit amet, cons ectur adipiscing elit. Nunc acsem nibhusce sit.</p>
			<p>Senean sed purus vel lacus cone iaculis non sed sem. Ut accu huomsan mollis orci. Fusce eleifend mi sapi euis tempor arcused feugiat porta, dui metus condi mentum nieu pulvinar est liber loroem sed, dictum.</p>
			<p><a href="more.html">read more</a></p>
		</div>
	</div>
</div>
*/ ?>