<!-- Begin header -->
<header id="header" class="site-header">
	<div class="header-graphic">
		<div class="bd">
			<div class="site-logo">
				<h1><a href="{{ pages:url id="1" }}">{{ settings:site_name }}</a></h1>
			</div>
			<!-- Begin user meta -->
			<div class="site-login" id="user-meta">
			{{ if user:logged_in }}
				<div class="user">
					<div class="user-name">
					{{ if settings:enable_profiles }}
						<a href="{{ url:site uri='my-profile' }}">{{ user:display_name }}</a>
					{{ else }}
						{{ user:display_name }}
					{{ endif }}
					</div>
					<ul>
						<li>
							<a class="button" href="{{ url:site uri='users/logout' }}">{{ helper:lang line="logout_label" }}</a>
						</li>
						{{ if settings:enable_profiles }}
						<li>
							<a href="{{ url:site uri='edit-profile' }}">{{ helper:lang line="edit_profile_label" }}</a>
						</li>
						{{ endif }}
						{{ if user:has_cp_permissions }}
						<li>
							<a href="{{ url:site uri='admin' }}" target="_blank">{{ helper:lang line="global:control-panel" }}</a>
						</li>
						{{ endif }}
						
					</ul>
				</div>
			{{ else }}
				<form action="{{ url:site uri='users/login' }}" method="post" accept-charset="utf-8" id="header-login">
					<input type="hidden" name="redirect_to" value="{{ url:current }}" />
					<div class="input-fields">
						<input class="text" type="text" id="login-email" name="email" maxlength="120" placeholder="Email..." />
						<input class="text" type="password" id="login-password" name="password" maxlength="20" placeholder="Password..." />
					</div>
					<div class="login-options">
						<a href="{{ url:site }}register">{{ helper:lang line='user_register_btn' }}</a>
						<label><input type="checkbox" id="remember-checksidebar" name="remember" value="1"  /> Remember Me</label>
					</div>
					<div class="login-submit">
						<input class="button" type="submit" value="{{ helper:lang line='user_login_btn' }}" name="btnLogin" />
					</div>
				</form>
			{{ endif }}
			</div>
			{{ if page:id == '1' }}
				{{ theme:partial name="home-banners" }}
			{{ endif }}
			<nav id="top-nav">
				<ul class="navigation">
					{{ navigation:links group="header" }}
				</ul>
			</nav>
		</div>
	</div>
</header>
<!-- End header -->