.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
}
.clearfix:after { clear:both; }
.hidden {
  display:none;
  visibility:hidden;
}
@media (max-width: 480px) {
  .nav-collapse { -webkit-transform:translate3d(0,0,0); }
  .page-header h1 small {
    display:block;
    line-height:21px;
  }
  input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display:block;
    width:100%;
    min-height:28px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
  }
  .input-prepend input[class*="span"], .input-append input[class*="span"] { width:auto; }
  input[type="checkbox"], input[type="radio"] { border:1px solid #cccccc; }
  .form-horizontal .control-group > label {
    float:none;
    width:auto;
    padding-top:0;
    text-align:left;
  }
  .form-horizontal .controls { margin-left:0; }
  .form-horizontal .control-list { padding-top:0; }
  .form-horizontal .form-actions {
    padding-left:10px;
    padding-right:10px;
  }
  .modal {
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    width:auto;
    margin:0;
  }
  .modal.fade.in { top:auto; }
  .modal-header .close {
    padding:10px;
    margin:-10px;
  }
  .carousel-caption { position:static; }
}
@media (max-width: 767px) {
  .container {
    width:auto;
    padding:0 20px;
  }
  .row-fluid { width:100%; }
  .row { margin-left:0; }
  .row > [class*="span"], .row-fluid > [class*="span"] {
    float:none;
    display:block;
    width:auto;
    margin:0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left:-10px;
    *zoom:1;
  }
  .row:before, .row:after {
    display:table;
    content:"";
  }
  .row:after { clear:both; }
  [class*="span"] {
    float:left;
    margin-left:10px;
  }
  .span1 { width:22px; }
  .span2 { width:54px; }
  .span3 { width:86px; }
  .span4 { width:118px; }
  .span5 { width:150px; }
  .span6 { width:182px; }
  .span7 { width:214px; }
  .span8 { width:246px; }
  .span9 { width:278px; }
  .span10 { width:310px; }
  .span11 { width:342px; }
  .span12 { width:374px; }
  .span13 { width:406px; }
  .span14 { width:438px; }
  .span15 { width:470px; }
  .span16 { width:502px; }
  .span17 { width:534px; }
  .span18 { width:566px; }
  .span19 { width:598px; }
  .span20 { width:630px; }
  .span21 { width:662px; }
  .span22 { width:694px; }
  .span23 { width:726px; }
  .span24, .container { width:758px; }
  .offset1 { margin-left:42px; }
  .offset2 { margin-left:74px; }
  .offset3 { margin-left:106px; }
  .offset4 { margin-left:138px; }
  .offset5 { margin-left:170px; }
  .offset6 { margin-left:202px; }
  .offset7 { margin-left:234px; }
  .offset8 { margin-left:266px; }
  .offset9 { margin-left:298px; }
  .offset10 { margin-left:330px; }
  .offset11 { margin-left:362px; }
  .offset12 { margin-left:394px; }
  .offset13 { margin-left:426px; }
  .offset14 { margin-left:458px; }
  .offset15 { margin-left:490px; }
  .offset16 { margin-left:522px; }
  .offset17 { margin-left:554px; }
  .offset18 { margin-left:586px; }
  .offset19 { margin-left:618px; }
  .offset20 { margin-left:650px; }
  .offset21 { margin-left:682px; }
  .offset22 { margin-left:714px; }
  .offset23 { margin-left:746px; }
  .row-fluid {
    width:100%;
    *zoom:1;
  }
  .row-fluid:before, .row-fluid:after {
    display:table;
    content:"";
  }
  .row-fluid:after { clear:both; }
  .row-fluid > [class*="span"] {
    float:left;
    margin-left:1.319261213%;
  }
  .row-fluid > [class*="span"]:first-child { margin-left:0; }
  .row-fluid > .span1 { width:2.90237467%; }
  .row-fluid > .span2 { width:7.124010553%; }
  .row-fluid > .span3 { width:11.345646436%; }
  .row-fluid > .span4 { width:15.567282319%; }
  .row-fluid > .span5 { width:19.788918202%; }
  .row-fluid > .span6 { width:24.010554085%; }
  .row-fluid > .span7 { width:28.232189968%; }
  .row-fluid > .span8 { width:32.453825851%; }
  .row-fluid > .span9 { width:36.675461734%; }
  .row-fluid > .span10 { width:40.897097617%; }
  .row-fluid > .span11 { width:45.1187335%; }
  .row-fluid > .span12 { width:49.340369383%; }
  .row-fluid > .span13 { width:53.562005266%; }
  .row-fluid > .span14 { width:57.783641149%; }
  .row-fluid > .span15 { width:62.005277032%; }
  .row-fluid > .span16 { width:66.226912915%; }
  .row-fluid > .span17 { width:70.448548798%; }
  .row-fluid > .span18 { width:74.670184681%; }
  .row-fluid > .span19 { width:78.891820564%; }
  .row-fluid > .span20 { width:83.113456447%; }
  .row-fluid > .span21 { width:87.33509233%; }
  .row-fluid > .span22 { width:91.556728213%; }
  .row-fluid > .span23 { width:95.778364096%; }
  .row-fluid > .span24 { width:99.999999979%; }
  input.span1, textarea.span1, .uneditable-input.span1 { width:12px; }
  input.span2, textarea.span2, .uneditable-input.span2 { width:44px; }
  input.span3, textarea.span3, .uneditable-input.span3 { width:76px; }
  input.span4, textarea.span4, .uneditable-input.span4 { width:108px; }
  input.span5, textarea.span5, .uneditable-input.span5 { width:140px; }
  input.span6, textarea.span6, .uneditable-input.span6 { width:172px; }
  input.span7, textarea.span7, .uneditable-input.span7 { width:204px; }
  input.span8, textarea.span8, .uneditable-input.span8 { width:236px; }
  input.span9, textarea.span9, .uneditable-input.span9 { width:268px; }
  input.span10, textarea.span10, .uneditable-input.span10 { width:300px; }
  input.span11, textarea.span11, .uneditable-input.span11 { width:332px; }
  input.span12, textarea.span12, .uneditable-input.span12 { width:364px; }
  input.span13, textarea.span13, .uneditable-input.span13 { width:396px; }
  input.span14, textarea.span14, .uneditable-input.span14 { width:428px; }
  input.span15, textarea.span15, .uneditable-input.span15 { width:460px; }
  input.span16, textarea.span16, .uneditable-input.span16 { width:492px; }
  input.span17, textarea.span17, .uneditable-input.span17 { width:524px; }
  input.span18, textarea.span18, .uneditable-input.span18 { width:556px; }
  input.span19, textarea.span19, .uneditable-input.span19 { width:588px; }
  input.span20, textarea.span20, .uneditable-input.span20 { width:620px; }
  input.span21, textarea.span21, .uneditable-input.span21 { width:652px; }
  input.span22, textarea.span22, .uneditable-input.span22 { width:684px; }
  input.span23, textarea.span23, .uneditable-input.span23 { width:716px; }
  input.span24, textarea.span24, .uneditable-input.span24 { width:748px; }
}
@media (max-width: 979px) {
  body { padding-top:0; }
  .navbar-fixed-top {
    position:static;
    margin-bottom:21px;
  }
  .navbar-fixed-top .navbar-inner { padding:5px; }
  .navbar .container {
    width:auto;
    padding:0;
  }
  .navbar .brand {
    padding-left:10px;
    padding-right:10px;
    margin:0 0 0 -5px;
  }
  .navbar .nav-collapse { clear:left; }
  .navbar .nav {
    float:none;
    margin:0 0 10.5px;
  }
  .navbar .nav > li { float:none; }
  .navbar .nav > li > a { margin-bottom:2px; }
  .navbar .nav > .divider-vertical { display:none; }
  .navbar .nav .nav-header {
    color:#999999;
    text-shadow:none;
  }
  .navbar .nav > li > a, .navbar .dropdown-menu a {
    padding:6px 15px;
    font-weight:bold;
    color:#999999;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
  }
  .navbar .dropdown-menu li + li a { margin-bottom:2px; }
  .navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover { background-color:#222222; }
  .navbar .dropdown-menu {
    position:static;
    top:auto;
    left:auto;
    float:none;
    display:block;
    max-width:none;
    margin:0 15px;
    padding:0;
    background-color:transparent;
    border:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  .navbar .dropdown-menu:before, .navbar .dropdown-menu:after { display:none; }
  .navbar .dropdown-menu .divider { display:none; }
  .navbar-form, .navbar-search {
    float:none;
    padding:10.5px 15px;
    margin:10.5px 0;
    border-top:1px solid #222222;
    border-bottom:1px solid #222222;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar .nav.pull-right {
    float:none;
    margin-left:0;
  }
  .navbar-static .navbar-inner {
    padding-left:10px;
    padding-right:10px;
  }
  .btn-navbar { display:block; }
  .nav-collapse {
    overflow:hidden;
    height:0;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse { height:auto !important; }
}
