<!-- Meta data -->
<meta name="author" content="WetumkaInteractive" />
<!-- NOT VALID META
<meta name="copyright" content="wetumka.net" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />
-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <base href="{{ url:base }}" /> -->
<title>{{ template:title }}</title>
<!-- CSS -->
{{ if global:environment == 'development' }}
	<link rel="stylesheet" href="/{{theme:path}}/css/screen.css" />
{{ else }}
	<link rel="stylesheet" href="/{{theme:path}}/publish/css-1443571123069/production.css" />
{{ endif }}

{{ asset:render_css_inline }}
<!-- JS -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>
<script type="text/javascript">
	var assetPath = "/{{theme:path}}";
	requirejs.config({
	  "baseUrl": assetPath + "/js/",
	  "paths": {
	  	// paths 
	    "jquery": "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min",
	    "snapsvg": "//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min"
	  }
	});
</script>
<script type="text/javascript" src="//use.typekit.net/iji6ukv.js"></script>
<script type="text/javascript">try{Typekit.load({ async: true });}catch(e){}</script>
{{ asset:render_js_inline }}

<!-- page metadata -->
<meta property="og:image" content="{{ url:site }}files/thumb/{{ variables:og_image_id }}/{{ variables:og_image_size }}.jpg"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ variables:twitter_username }}" />
<meta name="twitter:image" content="{{ url:site }}files/thumb/{{ variables:twitter_image_id }}/{{ variables:twitter_image_size }}.jpg" />

{{ if {url:segments segment="1"} !== 'blog' }}
	<meta property="og:title" content="{{ template:title }}"/>
	<meta property="og:site_name" content="{{ settings:site_name }}"/>
	<meta property="og:description" content="{{ page:meta_description }}"/>
	<meta name="twitter:title" content="{{ template:title }}" />
	<meta name="twitter:description" content="{{ page:meta_description }}" />
{{ endif }}

{{template:metadata}}
{{ theme:favicon }}
<link rel="icon" type="image/png" href="/{{theme:path}}/img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/{{theme:path}}/img/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/{{theme:path}}/img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/{{theme:path}}/img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/{{theme:path}}/img/favicon-16x16.png" sizes="16x16">