// Core variables and mixins
@import "less/variables.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/mixins.less";

// Reset
@import "../../../../../libraries/bootstrap-3.0.2/less/normalize.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/print.less";

// Core CSS
@import "less/scaffolding.less";
@import "less/type.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/code.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/grid.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/tables.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/forms.less";
@import "less/buttons.less";

// Components
@import "../../../../../libraries/bootstrap-3.0.2/less/component-animations.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/glyphicons.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/dropdowns.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/button-groups.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/input-groups.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/navs.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/navbar.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/breadcrumbs.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/pagination.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/pager.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/labels.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/badges.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/jumbotron.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/thumbnails.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/alerts.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/progress-bars.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/media.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/list-group.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/panels.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/wells.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/close.less";

// Components w/ JavaScript
@import "../../../../../libraries/bootstrap-3.0.2/less/modals.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/tooltip.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/popovers.less";
//@import "../../../../../libraries/bootstrap-3.0.2/less/carousel.less";

// Utility classes
@import "../../../../../libraries/bootstrap-3.0.2/less/utilities.less";
@import "../../../../../libraries/bootstrap-3.0.2/less/responsive-utilities.less";

// Utility Classes Custom
.impact{
  text-transform:uppercase;
  font-weight:100;
}
// Header, Content, Footer Styles
.wrapper {
  overflow:hidden;
  .site-header{
    .navbar-default{
      border:none;
      background-color:transparent;
      margin-bottom:0;
    }
    h1{
      margin:0;
      font-size:@font-size-h4;
      a.logo{
        float:left;
        background: url(@img-path + '/header-logo.png') no-repeat left center;
        background-size: 35px 30px;
        margin-top:14px;
        margin-bottom:12px;
        margin-left:8px;
        padding-left:42px;
        font-family:@webFont2;
        color:@wiDark;
        text-shadow: 0 1px 0 @wiPink;
        text-decoration:none;
      }
    }
  }
  .site-content{
    position:relative;
    .block{
      z-index:1;
      background-image:url(@img-path + '/body-bkg.png');
      background-repeat:repeat;
      position: relative;
    }
  }
  .site-footer{
    img.logo{
      width:45px;
      height:48px;
      margin-top:@font-baseline * .5;
    }
    address{
      margin-top:@font-baseline * .5;
    }
    p.small{
      margin-top:@font-baseline * .5;
      font-size:10px;
      margin-bottom:0;
    }
    ul{
      padding-left:0;
      list-style:none;
      margin-bottom:@font-baseline * .5;
    }
  }
}

/* -------------------------------
Splash Angles
---------------------------------- */
.splash{
  @height: 80px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  
  &.top-up:before,
  &.top-dn:before,
  &.bottom-up:after,
  &.bottom-dn:after
  {
    position: absolute;
    content:'';
    display:block;
    margin-left:-5%;
    width:110%;
    background-image:url(@img-path + '/body-bkg.png');
    background-repeat:repeat;
    height:@height;
    margin-top:@height * -0.5;
  }
  &.top-up:before,&.bottom-up:after{
    .rotate(-5deg);
  }
  &.top-dn:before,&.bottom-dn:after{
    .rotate(5deg);
  }
}


/* -------------------------------
Sections
---------------------------------- */
section{
  .splash{
    background-color:#999;
    p.lead{
      padding-top:@font-baseline * 3;
      padding-bottom:@font-baseline * 3;
      margin-bottom:0;
      
    }
  }
  > .block{
    padding-top:@font-baseline * .5;
    padding-bottom:@font-baseline;
    .impact{
      
    }
  }
}

.about-section{
  .splash{
    background-image:url(@img-path + '/HP-swami-background.jpg');
    h1.impact{
      margin:0;
      padding-top:@font-baseline;
      padding-bottom:@font-baseline * .5;
    }
  }
  .big-image{
    position: relative;
    max-width: 130%;
    right:-3%;
    bottom:-20px;
    z-index:2;
  }
}

.service-section{
  .splash{
    background-image:url(@img-path + '/HP-service-background.jpg');
    p.lead{
      padding-top:@font-baseline * 4;
      text-shadow:0 0 3px white;
    }
  }
  .block{
    padding-top:0;
    h4{
      font-size:@font-size-base * .5;
      line-height: @font-baseline * .5;
      font-weight:600;
      margin-top:0;
      margin-bottom: @font-baseline * .5;
    }
    .service-icon{
      &:before{
        content:'';
        width:100%;
        height: @font-baseline * 1.5;
        display:block;
        background-image:url(@img-path + '/HP-icons.png');
        background-size:200px auto;
        background-repeat:no-repeat;
      }
      &.marketing-dev:before{
        background-position:center -5px;
      }
      &.application-dev:before{
        background-position:center -75px;
      }
      &.ecom-dev:before{
        background-position:center -130px;
      }
    }
  }
}

.technology-section{
  .splash{
    background-image:url(@img-path + '/HP-tech-background.jpg');
    p.lead{
      color:#fff; 
    }
  }
  .block{
    padding-top:0;
    .tech-icon{
      margin-top: @font-baseline * -2.5;
      &:before{
        content:'';
        width:100%;
        height: @font-baseline * 3.5;
        display:block;
        background-image:url(@img-path + '/HP-icons.png');
        background-size:300px auto;
        background-repeat:no-repeat;
        background-position:center -290px;
      }
    }
    ul{
      padding-left:0;
      list-style:none;
    }
  }
}

.work-section{
  .splash{
    p{
      padding-top:@font-baseline * 2.5;
      padding-bottom:@font-baseline * 2.5;
    }
  }
}
/* -------------------------------
Modules - aka .mod
---------------------------------- */
.mod{
  margin-bottom:@font-baseline;
  &.work-thumb{
    background-color:#fff;
    .box-shadow(0 1px 2px 0 fade(black,20%));
    > .bd{
      padding:@font-baseline * .5;
      padding-bottom:0;
    }
    > .fd{
      line-height:@font-baseline;
    }
  }
  > .hd{
    
  }
  > .bd{
    
  }
  > .fd{
    
  }
}

/* -------------------------------
Responsive Media Query
---------------------------------- */
// only small devices)
@media (max-width: @screen-xs-max) {
  @import "dev-xsmall";
}
// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
  @import "dev-small";
}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
  @import "dev-medium";
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
  @import "dev-large";
}
// Extra Large devices (large desktops, 1400px and up)
@media (min-width: 1401px) {
  .wrapper {
    width:1400px;
    margin:0 auto;
    .box-shadow(0 0 2px rgba(0,0,0,.5));
    .site-header{
      width:inherit;
    }
  }
}