{{ if {url:segments segment="1"} == 'utilities' || {url:segments segment="2"} == 'thank-you' }}

<meta name="googlebot" content="noarchive"/>
<meta name="robots" content="none"/>
<meta name="robots" content="noindex, nofollow"/>
{{ endif }}
<meta name="author" content="WetumkaInteractive"/>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="{{ url:base }}"/>
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>

<script type="text/javascript" src="//use.typekit.net/cpn6qbw.js"></script>
<script type="text/javascript">try{Typekit.load()}catch(e){};</script>

{{ if global:environment == 'development' }}

{{ less:compile file="build.less" output="style.css" }}
{{ else }}

<link rel="stylesheet" href='/{{theme:path}}/publish/css/38f225d.css'/>
{{ endif }}
{{ asset:render_css }}
{{ asset:render_css_inline }}

{{ theme:favicon }}


<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","{{ settings:ga_tracking }}"]);_gaq.push(["_trackPageview"]);_gaq.push(["_trackPageLoadTime"]);</script>

<script src="/libraries/modernizr/modernizr-2.6.2.min.js" type="text/javascript"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery||document.write('<script src="/libraries/jquery/jquery-1.9.1.min.js" type="text/javascript"><\/script>');</script>

{{template:metadata}}