{{ streams:form

		stream="capture_general_inquiry"
		return="/contact/thank-you/hello"
		mode="new"

		notify_a="edward@wetumka.io"
    notify_template_a="online_form_notice"
    notify_from_a="hello@wetumka.io|General Inquiry"

    notify_b="email"
    notify_template_b="outbound_contact_general"
    notify_from_b="hello@wetumka.io|Hello Wetumka Interactive"
    
}}{{ /streams:form }}

<form enctype="multipart/form-data" method="post" class="contact-form" id="contact_form">
	<fieldset class="event-show-fieldset event-show-fieldset-active" id="contact_start">
	  <div class="mod-form">
	    <label for="input_fullname">Full name</label>
	    <div class="mod-form-input">
	      <input tabindex="1" name="full_name" type="text" id="input_fullname" placeholder="..." title="eg. John Smith" required>
	    </div>
	  </div>
	  <div class="mod-form">
	    <label for="input_email">Email</label>
	    <div class="mod-form-input">
	      <input tabindex="2" name="email" type="email" id="input_email" title="eg. john@example.com" placeholder="eg. john@website.com" required>
	      <span class="mod-form-help">We won't sell your email, check out our <a href="{{ pages:url id="19" }}">privacy policy</a>.</span>
	    </div>
	  </div>
	  <div class="mod-form">
			<label for="input_message">Message</label>
			<div class="mod-form-textarea"><textarea tabindex="1" placeholder="..." name="comment" id="input_message" required></textarea></div>
		</div>
		<div class="mod-form">
	    <div class="mod-form-btn">
	      <button id="button_submit" type="submit" class="btn btn-primary">Submit</button>
	    </div>
	  </div>
	</fieldset>
</form>