{{ pages:children id="12" }}
<div class="mod-member">
	<img src="" data-src="{{ custom_fields }}{{ member_avatar:thumb }}{{ /custom_fields }}" alt="picture of {{ title }}" />
	<header class="mod-member-hd">
		<h4>{{ title }}</h4>
		<strong>{{ custom_fields }}{{ member_title }} - {{ member_location:full }}{{ /custom_fields }}</strong>
	</header>
	<section class="mod-member-bd">{{ custom_fields }}{{ member_bio_short }}{{ /custom_fields }}</section>
	<div class="mod-member-ft">
		<ul>
		{{ streams:members_social no_results="" sort="asc" order_by="ordering_count" include_by="team_members" include=entry_id }}
			<li><a href="{{ link_url }}" target="_blank" class="social-icon">{{ social_media:key }}</a></li>
		{{ /streams:members_social }}
		</ul>
	</div>
</div>
{{ /pages:children }}