{{ streams:testimonials sort="asc" order_by="ordering_count"}}
<div class="mod-testimonial">
	<img data-src="{{ image_1:thumb }}" alt="{{ display_name }} logo" />
	<header class="mod-testimonial-hd">
		{{ if client_relationship }}
		<a class="client-logo" href="{{ client_relationship:link_url }}" target="_blank" title="Visit {{ client_relationship:display_name }}">
				<img data-src="{{ client_relationship:image_1:thumb }}" alt="{{ client_relationship:display_name }} logo" />
		</a>
		{{ endif }}
		<h4>{{ display_name }}</h4>
		<strong>{{ display_title }} ({{ state:full }})</strong>
	</header>
	<section class="mod-testimonial-bd"><q>{{ display_content }}</q></section>
</div>
{{ /streams:testimonials }}