/*
*
*
frame.less
*
*
*/


/* Header */
.site-header{
	h1{position:absolute;}
	nav{
		padding-left:140px;
		li{float:left;list-style:none;}	
	}
}
/* Content */
.mod {
	&.block-post,&.page-post{
		
		.hd{
			height:130px;
		}
		.bd{
			margin-bottom:4em;
		}
	}
	&.block-gallery{
	 position:relative;
	 .hd{
	   h4{position:absolute;}
	 }
	 .bd{
	   position:absolute;
	 }
	}
	&.comments{
	
	}
}

/* Footer */
.site-footer{
	.social-icon{
		list-style:none; margin:0;
		li{
			float:left; padding:0 15px 15px 0;
			a,img{display:block;}
		}
	}
}

/* Forms */
label {
	display:none;
}

// RESPONSIVE STYLES
// -----------------
@footerHeight = 400px;

@media (min-width: 980px) {
  html, body, .site-wrapper{
    height:100%;
  }
  .site-content{
    min-height:100%;
    margin-bottom:@footerHeight * -1;
    &:after{
      content:"";
      display:block;
      height:@footerHeight;
    }
    >.row{
      padding-top:90px; 
    }
  }
  .site-footer{
    min-height:@footerHeight;
  }
}
@media (max-width: 767px) {
 .block-gallery img{width:100%;}
}