{{ contact:form
	name="text|required"
	email="text|required|valid_email"
	company="text|required"
	title="text"
	phone="text"
	url="text"
	project="dropdown|required" 
	project_size="dropdown|required" 
	project_time="dropdown|required" 
	project_budget="dropdown|required" 
	promo="text"
	message="textarea"
	success-redirect="/contact/thank-you?tg=form-rfp"
	button="Submit Form"
	template="contact-rfp"
}}

<?php
	// Form values and attributes
	$form_data = array();
	// Contact Information
	$form_data['name'] = array('name'=>'name','id'=>'form_name','value'=>NULL,'class'=>'text required','maxlength'=>'80');
	$form_data['email'] = array('name'=>'email','id'=>'form_email','value'=>NULL,'class'=>'text required email','maxlength'=>'80');
	$form_data['company'] = array('name'=>'company','id'=>'form_company','value'=>NULL,'class'=>'text required','maxlength'=>'80');
	$form_data['title'] = array('name'=>'title','id'=>'form_title','value'=>NULL,'class'=>'text','maxlength'=>'80');
	$form_data['phone'] = array('name'=>'phone','id'=>'form_phone','value'=>NULL,'class'=>'text','maxlength'=>'12', 'placeholder'=>'xxx-xxx-xxxx');
	$form_data['url'] = array('name'=>'url','id'=>'form_url','value'=>NULL,'class'=>'text','maxlength'=>'120','placeholder'=>'http://www.mysite.com');
	// Project Information
	$form_data['project'] = array('name'=>'project','id'=>'form_project','extra'=>'class="span-9 required"','options'=>array(""=>"",'basic'=>'Basic Package','pro'=>'Pro Package','custom'=>'Custom Package','redesign'=>'Redesign or New Features','mobile'=>'Mobile','marketing'=>'Online Marketing'));
	$form_data['project_budget'] = array('name'=>'project_budget','id'=>'form_project_budget','extra'=>'class="span-9 required"','options'=>array(""=>"",'small'=>'< $1,000','medium'=>'$1,000 - $4,000','large'=>'$4,000 - $10,000','x-large'=>'over $10,000'));
	$form_data['project_size'] = array('name'=>'project_size','id'=>'form_project_size','extra'=>'class="span-9 required"','options'=>array(""=>"",'small'=>'Small Business','medium'=>'Medium Business','large'=>'Large Business','ecom-small'=>'Ecom - 100+ products','ecom-large'=>'Ecom - 1,000+ products'));
	$form_data['project_time'] = array('name'=>'project_time','id'=>'form_project_time','extra'=>'class="span-9 required"','options'=>array(""=>"",'short'=>'30 days','90 days'=>'3 months','180 days'=>'6 months','270 days'=>'9 months','year'=>'1 year'));
	// Other Information
	$form_data['promo'] = array('name'=>'promo','id'=>'form_promo','value'=>NULL,'class'=>'text','maxlength'=>'25');
	$form_data['message'] = array('name'=>'message','id'=>'form_message','value'=>NULL,'class'=>'span-10');
?>

<?= form_fieldset('Contact Information') ?>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Full Name:',$form_data['name']['id']); ?></div></div>         
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['name']); ?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('E-mail Address:',$form_data['email']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['email']);?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Company:', $form_data['company']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['company']);?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
	<div class="append-bottom clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Position/Title:',$form_data['title']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['title']);?></div></div>
	</div>
	<div class="append-bottom clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Phone:',$form_data['phone']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['phone']);?></div></div>
	</div>
	<div class="append-bottom clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Website:',$form_data['url']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['url']);?></div></div>
	</div>
<?= form_fieldset_close() ?>
<?= form_fieldset('Project Information') ?>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Project Type:', $form_data['project']['id']); ?></div></div>
		<div class="span-10 last"><div class="select-wrapper"><?= form_dropdown($form_data['project']['name'],$form_data['project']['options'],NULL,$form_data['project']['extra'].'id="'.$form_data['project']['id'].'"'); ?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Project Size:', $form_data['project_size']['id']); ?></div></div>
		<div class="span-10 last"><div class="select-wrapper"><?= form_dropdown($form_data['project_size']['name'],$form_data['project_size']['options'],NULL,$form_data['project_size']['extra'].'id="'.$form_data['project_size']['id'].'"'); ?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Project Time:', $form_data['project_time']['id']); ?></div></div>
		<div class="span-10 last"><div class="select-wrapper"><?= form_dropdown($form_data['project_time']['name'],$form_data['project_time']['options'],NULL,$form_data['project_time']['extra'].'id="'.$form_data['project_time']['id'].'"'); ?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Project Budget:', $form_data['project_budget']['id']); ?></div></div>
		<div class="span-10 last"><div class="select-wrapper"><?= form_dropdown($form_data['project_budget']['name'],$form_data['project_budget']['options'],NULL,$form_data['project_budget']['extra'].'id="'.$form_data['project_budget']['id'].'"'); ?></div></div>
		<div class="prepend-4 span-9 field-help">Required</div>
	</div>
<?= form_fieldset_close() ?>
<?= form_fieldset('Other Information') ?>
	<div class="append-bottom clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Promo Code:',  $form_data['promo']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['promo']);?></div></div>
	</div>
	<div class="append-bottom clearfix">
		<div class="span-4"><?= form_label('Other Details:',  $form_data['message']['id']); ?></div>
		<div class="span-10 last">
			<?= form_textarea($form_data['message']); ?>
		</div>
	</div>
<?= form_fieldset_close() ?>
{{ /contact:form }}