{{ if {url:segments segment="1"} == 'utilities' || {url:segments segment="2"} == 'thank-you' }}

<meta name="googlebot" content="noarchive"/>
<meta name="robots" content="none"/>
<meta name="robots" content="noindex, nofollow"/>
{{ endif }}
<meta name="author" content="WetumkaInteractive"/>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ theme:favicon file="favicon.ico" base="url" }}
<base href="{{ url:base }}"/>
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>

{{ theme:css file="http://fonts.googleapis.com/css?family=Michroma|Orbitron" }}
{{ if global:environment == 'production' }}

<link rel="stylesheet" href='/{{theme:path}}/publish/css/82da49d.css'/>
{{ else }}
				
{{ less:compile file="build.less" output="style.css" }}
{{ endif }}

<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","{{ settings:ga_tracking }}"]);_gaq.push(["_trackPageview"]);_gaq.push(["_trackPageLoadTime"]);</script>

<script src="/js/modernizr-2.5.3.min.js" type="text/javascript"></script>

{{theme:js file="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}}
<script>window.jQuery||document.write('<script src="/js/jquery-1.7.1.min.js" type="text/javascript"><\/script>');</script>

{{template:metadata}}