<!-- this layout is very unique, so using inline styles -->
<div class="pblock pblock-1 row">
	<div class="mod pcontent span14">
		<div class="hd">
			<h1>Hi, and welcome</h1>
		</div>
		<div class="bd">
			<p>Thanks for visiting my site, scroll down and let me tell you a little about myself. When you're done, drop me a line and tell me if you liked it. Enjoy!</p>
		</div>
		<div class="fd"></div>
	</div>
	<div class="badge"></div>
	<div class="dash-border" style="position:absolute; top:95px;">
		<div class="line-horz" style="width:136px; left:600px;"></div>
		<div class="line-vert" style="left:723px; top:14px; height:205px;"></div>
		<div class="line-horz" style="width:544px; top:206px; left:182px;"></div>
		<div class="line-vert" style="height:1480px; left:169px; top:211px;"></div>
	</div>
</div>
<div class="pblock pblock-2 row">
	<div class="mod pcontent span14">
		<div class="hd">
			<h2>Flyin Hawaiian</h2>
		</div>
		<div class="bd">
			<p>I was raised on the Big Island of Hawaii, traveled to Orlando for College, and my career has taken me to San Luis Obispo, Austin (Texas), and now sunny San Diego.</p>
		</div>
		<div class="fd"></div>
	</div>
	<div class="dash-border" style="position:absolute; top:200px;">
		<div class="line-vert" style="height:119px; left:169px; top:4px;"></div>
		<div class="line-vert" style="height:612px; left:97px; top:968px;"></div>
	</div>
	<div class="bkg-1" style="left:-83px; top:210px; width:84px;"></div>
	<div class="bkg-2" style="top:210px; right:-5px; height:60px; width:6px; background-position: right top;"></div>
</div>
<div class="pblock pblock-3 row">
	<div class="mod pcontent span14">
		<div class="hd">
			<h2>Swingline stapler</h2>
		</div>
		<div class="bd">
			<p>I am building the internet, trying to make cyberspace a better place one site at a time.</p>
		</div>
		<div class="fd">
			<p class="left-brain">Front-end and web app development are my passion. Gearing up for a future in mobile. Exciting times ahead.</p>
			<p class="right-brain">User-Interface and experience design are important to me. My tools are pencil, paper, post-it notes, Fireworks, and creative thinking.</p>
		</div>
	</div>
	<div class="dash-border" style="position:absolute; top:200px;">
		<div class="line-vert" style="height:1258px; left:947px; top:338px;"></div>
	</div>
</div>
<div class="pblock pblock-4 row">
	<div class="mod pcontent span14">
		<div class="hd">
			<h2>Unplugged</h2>
		</div>
		<div class="bd">
			<p>I enjoy free time away from technology and streaming information. When not logging hours on my computer you can find me at the beach or exploring San Diego.</p>
		</div>
		<div class="fd">
			<iframe frameborder="0" height="326" src="http://player.vimeo.com/video/23886403?portrait=0" width="580"></iframe>
		</div>
	</div>
	<div class="palms">
		<div class="palm-1"></div>
		<div class="palm-2"></div>
	</div>
	<div class="dash-border" style="position:absolute;">
		<div class="line-vert" style="height:374px; left:947px; top:-4px;"></div>
		<div class="line-vert" style="height:1105px; left:0px; top:692px;"></div>
	</div>
</div>
<div class="pblock pblock-5 row">
	<div class="mod pcontent span14">
		<div class="hd">
			<h3>Thanks for visiting</h3>
		</div>
		<div class="bd">
			<p>Hope you enjoyed the little journey. Feel free to explore the rest of the site. Drop me a line of you want to say Hi, or have a question.</p>
		</div>
		<div class="fd"></div>
	</div>
</div>