<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img data-src="holder.js/900x500" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>Fresh wax delivered to your door monthly</h1>
					<p>Always have fresh wax on hand for you next session.</p>
					<p>
						<a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img data-src="holder.js/900x500" alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>We donate fifty cents of ever order to a ocean friendly charity.</h1>
					<p>After all what's the point if we can't keep enjoying the ocean.</p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>