<!-- Begin header -->
<header class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{ settings:site_name }}</a>
			</div>
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
			    	{{ navigation:links group="header-public" }}
			    	
			    	{{ if user:logged_in }}
			    		<li><a href="{{ pages:url id="10" }}">Somthing Else</a></li>
			    	{{ else }}
			    		<li><a href="{{ pages:url id="10" }}">Join Now</a></li>
			    	{{ endif }}
				</ul>
				
				{{ if user:logged_in }}
					<p class="navbar-text navbar-right">Hello <a class="navbar-link" href="/my-profile">{{ user:display_name }}</a> | <a class="navbar-link" href="/users/logout">Logout</a></p>
				{{ else }}
					<a class="navbar-link navbar-text navbar-right" href="/users/login">Sign in</a>
				{{ endif }}

			</nav>
		</div>
	</div>
</header>
<!-- End header -->
