<div class="mod footer">
	<div class="hd">
	</div>
	<div class="bd clearfix">
		<div class="span-13 prepend-1 append-1">
			<div class="span-5">
				<ul>
					{{navigation:links group="footer"}}
				</ul>
			</div>
			<div class="span-8 last">
				<ul>
					{{navigation:links group="services"}}
				</ul>
			</div>
			<hr class="clear space"/>
			<div class="copyright">
				Copyright &copy; {{helper:date format="Y"}} {{settings:site_name}}. All Rights Reserved.
			</div>
			<hr class="prepend-top" />
			<div class="span-5">
				<a href="http://www.wetumka.net" title="Visit Wetumka Interactive, helping your business make an impact on the web.">Wetumka Built</a>
			</div>
			<div class="span-8 last">
				
			</div>
		</div>
		<div class="span-8 append-1 last">
			<div class="map">
				<img alt="Google map" src="http://maps.googleapis.com/maps/api/staticmap?center=800+Santa+Fe+Drive+Encinitas,CA+92024&amp;zoom=13&amp;size=310x250&amp;sensor=false&amp;markers=320+Santa+Fe+Drive+Suite+104+Encinitas,CA+92024" /> <a class="cta modal overlay-directions"><span>Get Directions</span></a>
			</div>
		</div>
	</div>
</div>
<div class="overlay" id="map_directions">
	<h5>Get directions</h5>
    <p>Enter your address to get turn by turn directions to our office.</p>
    <form action="http://maps.google.com/maps" method="get" target="_blank">
        <input type="text" name="saddr" class="span-13 title" />
        <input type="submit" class="button" value="Get directions now" />
        <div class="span-13 small">Example: 123 Johnson Ave, Encinitas CA 92024</div>
        <input type="hidden" name="daddr" value="320 Santa Fe Drive Encinitas, CA 92024" />
    </form>
</div>
<div class="overlay" id="office_hours">
    <h5>Office Hours</h5>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>8:30AM&ndash;12:30PM</td>
            <td>1:30PM&ndash;5:00PM</td>
        </tr>
        <tr>
            <td class="day">Monday</td>
            <td class="open">Open</td>
            <td class="open">Open</td>
        </tr>
        <tr>
            <td class="day">Tuesday</td>
            <td class="open">Open</td>
            <td class="open">Open</td>
        </tr>
        <tr>
            <td class="day">Wednesday</td>
            <td class="open">Open</td>
            <td class="closed">Closed</td>
        </tr>
        <tr>
            <td class="day">Thursday</td>
            <td class="open">Open</td>
            <td class="open">Open</td>
        </tr>
        <tr>
            <td class="day">Friday</td>
            <td class="open">Open</td>
            <td class="open">Open</td>
        </tr>
        <tr>
            <td class="day">Saturday</td>
            <td colspan="2" class="closed">Closed</td>
        </tr>
        <tr>
            <td class="day">Sunday</td>
            <td colspan="2" class="closed">Closed</td>
        </tr>
    </table>
</div>
