/**
 * All APP specific CSS goes in here.
 *
 * @Version: 1.0
 * @Author: Scott Parry - PyroCMS Dev Team
 * @URL: http://pyrocms.com
 */


/**
 * Workless overrides
 */
body.pyro
{
	background: #D9D2D2;
}



/**
 * Login
 */
body.login 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #ffffff;
	overflow: hidden;
	text-shadow: none;
	color: #333333;
}

body.login ul
{
	list-style: none;
}

div.settings li
{
	list-style: none;
}

ol.site, ol.user, .add-user ol
{
	list-style: none;
}

#login 
{
	background: #ffffff;
	width: 350px;
	height: 350px;
	padding: 35px 25px 50px 25px;
	margin: 10% auto;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 1px solid #cccccc;
}

#login .login_icon 
{
	width: 54px;
	height: 54px;
	margin-left: 150px;
	filter: alpha(opacity=30);
  	-khtml-opacity: 0.3;
  	-moz-opacity: 0.3;
  	opacity: 0.3;
}

#login h1 
{
	color: #F27F09;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	margin-top: 15px;
	margin-bottom: 25px;
}

#login input[type="text"], 
#login input[type="password"] 
{
	width: 268px;
	padding: 10px;
	margin-bottom: 15px;
	margin-left: 25px;
	font-size: 13px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	outline: none;
  	background: #f9f9f9;
	color: #6d6e76;
	font-size: 16px;
	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all;
}

#login input[type="text"]:focus, 
#login input[type="password"]:focus 
{
	background: #ffffff;
	box-shadow: 0 0 3px #F27F09;
	border: 1px solid #F26D00;
}

#login #remember_me 
{
	width: 350px;
	color: #aaaaaa;
	text-align: center;
	margin: 0 auto;
}

#login #login_button
{
	width: 350px;
	text-align: center;
	margin: 25px auto;
}

#login #login_button input[type="submit"]
{
	width: 290px;
	background: #F27F09; 
	display: inline-block; 
	margin: 0 auto;
	margin-left: -10px;
	padding: 10px 25px; 
	font-size: 16px;
	color: #ffffff; 
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border: 0;
	outline: 0;
	-webkit-transition: 250ms linear all; 
	-moz-transition: 250ms linear all; 
	transition: 250ms linear all;
}

#login #login_button input[type="submit"]:hover	
{ 
	background: #F26D00; 
}

#login .block-message
{
	width: 260px!important;
	margin: 0 auto;
	margin-left: 25px;
	text-align: center;
	font-size: 14px;
  	margin-bottom: 18px;
  	padding: 14px;
  	color: #333333;
  	border-radius: 2px
}

#login .block-message p
{
	text-align: center;
	margin-bottom: 5px;
}

.block-message-error 
{
  	background: #f8dcda;
  	border: 1px solid #f4c8c5;
}
.block-message-warning 
{
  	background: #fff0c0;
  	border: 1px solid #ffe38d;
}
.block-message-success 
{
  	background: #dff1df;
  	border: 1px solid #bbe2bb;
}
.block-message-info 
{
  	background: #c7eefe;
  	border: 1px solid #ade6fe;
}



/*
 * Topbar
 */
.topbar 
{
	height: 50px;
}

header#main 
{
	margin: 8px 8px 0 8px;
	padding: 0;
	float: left;
}

header#main a 
{
	font-size: 12px;
	color: #ffffff;
}



/*
 * Navigation
 */
nav#primary
{
	float: right;
	margin-right: -25px;
}

nav#primary select
{
	float: right;
	margin-top: 15px;
}



/*
 * Subbar
 */
.subbar 
{
	position: absolute;
	z-index: 9997;
	top: 25px!important;
	right: 0;
	left: 0;
	height: 30px;
	background: #f7f7f7;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f3f3));
  	background-image: -moz-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: -ms-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
  	background-image: -webkit-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: -o-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: linear-gradient(#f7f7f7, #f3f3f3);
  	border: 1px solid #ffffff;
  	border-bottom: 1px solid #eeeeee;
  	padding: 15px 15px 13px 0;
  	margin-top: 15px;
  	border-top-right-radius: 5px;
  	-moz-border-radius-topright: 5px; 	
  	-webkit-border-top-right-radius: 5px;
  	border-top-left-radius: 5px;
  	-moz-border-radius-topleft: 5px; 	
  	-webkit-border-top-left-radius: 5px;
  	box-shadow: 0px 0px 1px #aaaaaa;
  	-moz-box-shadow: 0px 0px 1px #aaaaaa;
  	-webkit-box-shadow: 0px 0px 1px #aaaaaa;
}

.subbar h2, 
.subbar h2 a 
{
  	color: #555555;
  	text-shadow: 1px 1px 0 #ffffff;
	margin: 3px 0 0 0;
	padding: 0 0 0 5px;
	float: left;
	font-size: 20px;
}

.subbar small 
{
	color: #888888;
	margin: 12px 0 0 0;
	float: left;
	text-shadow: 0 1px 1px #ffffff;
	font-size: 13px;
	display: none;
}



/*
 * Content
 */
#content-body 
{
	margin-top: 150px;
}

#content
{
	background: #ffffff;
	width: 100%;
	min-height: 300px;
	margin: 0;
	padding: 16px 16px 50px 16px;
	float: left;
	border-bottom-right-radius: 5px;
  	-moz-border-radius-bottomright: 5px; 	
  	-webkit-border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	-moz-border-radius-bottomleft: 5px; 	
  	-webkit-border-bottom-left-radius: 5px;
	box-shadow: 0px 0px 1px #aaaaaa;
  	-moz-box-shadow: 0px 0px 1px #aaaaaa;
  	-webkit-box-shadow: 0px 0px 1px #aaaaaa;
}

#content h3 {
  	width: 100%;
	min-height: 25px;
  	background: #f7f7f7;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f3f3f3));
  	background-image: -moz-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: -ms-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
  	background-image: -webkit-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: -o-linear-gradient(#f7f7f7, #f3f3f3);
  	background-image: linear-gradient(#f7f7f7, #f3f3f3);
  	border: 1px solid #ffffff;
  	border-bottom: 1px solid #eeeeee;
  	padding: 0 15px 0 15px;
  	margin-top: -20px;
	margin-left: -16px;
  	border-top-right-radius: 5px;
  	-moz-border-radius-topright: 5px; 	
  	-webkit-border-top-right-radius: 5px;
  	border-top-left-radius: 5px;
  	-moz-border-radius-topleft: 5px; 	
  	-webkit-border-top-left-radius: 5px;
  	box-shadow: 0px 0px 1px #aaaaaa;
  	-moz-box-shadow: 0px 0px 1px #aaaaaa;
  	-webkit-box-shadow: 0px 0px 1px #aaaaaa;
}

#content td .button
{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	box-shadow: none;
	text-shadow: none;
}

#content td a
{
	color: #ff5c00;
	font-size: 12px;
}

#content td a:hover
{
	color: #333333;
}



/*
 * Footer
 */
footer
{
	width: 100%;
	background: #262626;
	color: #cccccc;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	font-size: 12px;
	height: 0;
	padding: 15px 0 25px 0;
	border-top: 1px solid #ffffff;
	position: fixed;
	bottom: 0;
}

#lang-select
{
	float: right;
	margin-top: -10px;
	margin-right: -35px;
}



/** Responsive @media queries for responsive design.
 * Ensure this is included after all your other CSS.
 */



/** 
 * Mobile
 */
nav#primary select
{
	display: inherit;
}

nav#primary ul 
{ 
	display: none; 
}

.one_full 
{ 
	width: 280px; 
}

.one_half 
{ 
	width: 280px; 
}

.one_third 
{ 
	width: 280px; 
}

.two_third 
{ 
	width: 280px; 
}

.one_quarter 
{ 
	width: 280px; 
}
	
.wrapper 
{
	width: 280px;
}

/** 
 * iPhone landscape 
 */
@media only screen and (min-width: 480px) {
	
	nav#primary select
	{
		display: inherit;
	}

	nav#primary ul 
	{ 
		display: none; 
	}
	
	.one_full 
	{ 
		width: 420px; 
	}

	.one_half 
	{ 
		width: 190px; 
	}

	.one_third 
	{ 
		width: 110px; 
	}

	.two_third 
	{ 
		width: 250px; 
	}

	.one_quarter 
	{ 
		width: 185px; 
	}
	
	.wrapper 
	{
		width: 400px;
	}
}

/** 
 * Small tablet portrait 
 */
@media only screen and (min-width: 640px) {
	
	nav#primary select
	{
		display: inherit;
	}

	nav#primary ul 
	{ 
		display: none; 
	}
	
	.one_full 
	{ 
		width: 650px; 
	}

	.one_half 
	{ 
		width: 310px; 
	}

	.one_third 
	{ 
		width: 200px; 
	}

	.two_third 
	{ 
		width: 425px; 
	}

	.one_quarter 
	{ 
		width: 140px; 
	}
	
	.wrapper 
	{
		width: 500px;
	}
}

/** 
 * iPad portrait 
 */
@media only screen and (min-width: 768px) {
	
	nav#primary select
	{
		display: inherit;
	}

	nav#primary ul 
	{ 
		display: none; 
	}
	
	.one_full 
	{ 
		width: 700px; 
	}

	.one_half 
	{ 
		width: 360px; 
	}

	.one_third 
	{ 
		width: 230px; 
	}

	.two_third 
	{ 
		width: 490px; 
	}

	.one_quarter 
	{ 
		width: 160px; 
	}
	
	.wrapper 
	{
		width: 600px;
	}
}

/**
 * Small browser / iPad landscape 
 */
@media only screen and (min-width: 1024px) {
	
	nav#primary select
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}
	
	.one_full 
	{ 
		width: 700px; 
	}

	.one_half 
	{ 
		width: 385px; 
	}

	.one_third 
	{ 
		width: 250px; 
	}

	.two_third 
	{ 
		width: 525px; 
	}

	.one_quarter 
	{ 
		width: 180px; 
	}
	
	.wrapper 
	{
		width: 800px;
	}
}

/** 
 * Generic browser 
 */
@media only screen and (min-width: 1280px) {
	
	nav#primary select
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}
	
	.one_full 
	{ 
		width: 700px; 
	}

	.one_half 
	{ 
		width: 400px; 
	}

	.one_third 
	{ 
		width: 265px; 
	}

	.two_third 
	{ 
		width: 555px; 
	}

	.one_quarter 
	{ 
		width: 185px; 
	}
	
	.wrapper 
	{
		width: 1000px;
	}
}

/** 
 * Large browser 
 */
@media only screen and (min-width: 1600px) {
	
	nav#primary select
	{
		display: none;
	}
	
	nav#primary ul 
	{ 
		display: inherit; 
	}
	
	.one_full 
	{ 
		width: 700px; 
	}

	.one_half 
	{ 
		width: 487px; 
	}

	.one_third 
	{ 
		width: 315px; 
	}

	.two_third 
	{ 
		width: 655px; 
	}

	.one_quarter 
	{ 
		width: 230px; 
	}
	
	.wrapper 
	{
		width: 1200px;
	}
}