{{ contact:form
	name="text|required"
	email="text|required|valid_email"
	subject="text|required"
	department="dropdown|Eye Health|LASIK/RPK|Cataract|Optical|Schedule Appointment|Billing|Feedback|Other" 
	message="textarea|required"
	success-redirect="/contact?tg=form-contact-mobile"
	button="Send"
	template="default-contact"
	multi="department|testuser@localhost|testuser1@localhost|testuser2@localhost|testuser3@localhost|testuser4@localhost|testuser5@localhost|testuser6@localhost|testuser@localhost"
}}
<?php
//multi="department|drcrosby@ncsdeye.com|drcrosby@ncsdeye.com|drcrosby@ncsdeye.com|optical@ncsdeye.com|drcrosby@ncsdeye.com|dschlosser@ncsdeye.com|drcrosby@ncsdeye.com|drcrosby@ncsdeye.com"

	// Form values and attributes
	$form_data = array();
	// Contact Information
	$form_data['name'] = array('name'=>'name','id'=>'form_name','value'=>NULL,'class'=>'text required','maxlength'=>'80');
	$form_data['email'] = array('name'=>'email','id'=>'form_email','value'=>NULL,'class'=>'text required email','maxlength'=>'80');
	$form_data['phone'] = array('name'=>'phone','id'=>'form_phone','value'=>NULL,'class'=>'text','maxlength'=>'12', 'placeholder'=>'xxx-xxx-xxxx');
	$form_data['company'] = array('name'=>'company','id'=>'form_company','value'=>NULL,'class'=>'text required','maxlength'=>'80');
	$form_data['subject'] = array('name'=>'subject','id'=>'form_subject','value'=>NULL,'class'=>'text required','maxlength'=>'120');
	$form_data['department'] = array('name'=>'department','id'=>'form_department','extra'=>'class="span-9"','options'=>array(
			'Eye Health'=>'Eye Health',
			'LASIK/RPK'=>'LASIK/RPK',
			'Cataract'=>'Cataract',
			'Optical'=>'Optical',
			'Schedule Appointment'=>'Schedule Appointment',
			'Billing'=>'Billing',
			'Feedback'=>'Feedback',
			'Other'=>'Other'));
	$form_data['message'] = array('name'=>'message','id'=>'form_message','value'=>NULL,'class'=>'span-10 required');
?>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Full Name:',$form_data['name']['id']); ?></div></div>         
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['name']); ?></div></div>
		<div class="prepend-4 span-9 input-help required">Required</div>
	</div>
	<div class="clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('E-mail Address:',$form_data['email']['id']); ?></div></div>
		<div class="span-9 last"><div class="input-wrapper"><?= form_input($form_data['email']);?></div></div>
		<div class="prepend-4 span-9 input-help required">Required</div>
	</div>
	<div class="append-bottom clearfix">
		<div class="span-4"><div class="label-wrapper"><?= form_label('Subject:',$form_data['subject']['id']); ?></div></div>
		<div class="span-9 last">
			<div class="input-wrapper"><?= form_input($form_data['subject']);?></div>
			<div class="span-9 last input-help required">Required</div>
			<div class="select-wrapper"><?= form_dropdown($form_data['department']['name'],$form_data['department']['options'],NULL,$form_data['department']['extra'].' id="'.$form_data['department']['id'].'"'); ?></div>
		</div>
	</div>
	<div class="append-bottom clearfix">
		<div class="span-4"><?= form_label('Message:',$form_data['message']['id']); ?></div>
		<div class="span-10 last">
			<div class="textarea-wrapper"><?= form_textarea($form_data['message']); ?></div>
			<div class="span-10 input-help required">Required</div>
		</div>
	</div>
	
{{ /contact:form }}