<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{template:title}} | {{settings:site_name}}</title>
<!-- CSS Stylesheets -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
{{theme:css file="mobile.css"}}
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
{{theme:js file="mobile.js"}}
<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
<script type="text/javascript">
	//Global JS Vars
	pyro_vars = {
		address_1:'{{variables:address_1}}',
		address_2:'{{variables:address_2}}',
		address_city:'{{variables:address_city}}',
		address_state:'{{variables:address_state}}',
		address_zip:'{{variables:address_zip}}',
		site_name: '{{settings:site_name}}',
		phone: '{{variables:phone}}'
	}
		
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Page Template Meta -->
{{template:metadata}}