{{ 
    streams:form
    stream="quote_request"
    mode="new"
    
    error_start='<span class="help-inline error">'
    error_end="</span>"
    
    success_message=""
    failure_message="Sorry but something is not working, try again later"
    
    notify_a="email"
    notify_template_a="quote-request-reply"
    
    notify_b=settings:contact_email
    notify_template_b="quote-request-notice"
    
    return="/get-a-quote/thank-you?tg=form-quote"
}}

{{ form_open }}

<?= form_fieldset('Contact Information') ?>
    <div class="control-group">
        <label class="control-label" for="{{full_name:slug}}">{{ if full_name:required }}<span class="required">*</span>{{ endif }}{{ full_name:label }}</label>
        <div class="controls">
            <input type="text" placeholder="{{ full_name:instructions }}" name="{{full_name:slug}}" value="" id="{{full_name:slug}}"/>
            {{ full_name:error }}
        </div>
    </div>
	
	<div class="control-group">
        <label class="control-label" for="{{email:slug}}">{{ if email:required }}<span class="required">*</span>{{ endif }}{{ email:label }}</label>
        <div class="controls">
            <input type="text" placeholder="{{ email:instructions }}" name="{{email:slug}}" value="" id="{{email:slug}}"/>
            {{ email:error }}
        </div>
    </div>
	
	<div class="control-group">
        <label class="control-label" for="{{company_name:slug}}">{{ if company_name:required }}<span class="required">*</span>{{ endif }}{{ company_name:label }}</label>
        <div class="controls">
            <input type="text" placeholder="{{ company_name:instructions }}" name="{{company_name:slug}}" value="" id="{{company_name:slug}}"/>
            {{ company_name:error }}
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="{{phone:slug}}">{{ if phone:required }}<span class="required">*</span>{{ endif }}{{ phone:label }}</label>
        <div class="controls">
            <input type="text" placeholder="{{ phone:instructions }}" name="{{phone:slug}}" value="" id="{{phone:slug}}"/>
            {{ phone:error }}
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="{{website:slug}}">{{ if website:required }}<span class="required">*</span>{{ endif }}{{ website:label }}</label>
        <div class="controls">
            <input type="text" placeholder="{{ website:instructions }}" name="{{website:slug}}" value="" id="{{website:slug}}"/>
            {{ website:error }}
        </div>
    </div>
<?= form_fieldset_close() ?>
<?= form_fieldset('Sign Information') ?>
	<div class="control-group">
        <label class="control-label" for="{{sign_type:slug}}">{{ if sign_type:required }}<span class="required">*</span>{{ endif }}{{ sign_type:label }}</label>
        <div class="controls">
            {{ sign_type:input }}
            {{ if sign_type:instructions }}<span class="help-inline">{{ sign_type:instructions }}</span>{{ endif }}
            {{ sign_type:error }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{location:slug}}">{{ if location:required }}<span class="required">*</span>{{ endif }}{{ location:label }}</label>
        <div class="controls">
            {{ location:input }}
            {{ if location:instructions }}<span class="help-inline">{{ location:instructions }}</span>{{ endif }}
            {{ location:error }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{timeline:slug}}">{{ if timeline:required }}<span class="required">*</span>{{ endif }}{{ timeline:label }}</label>
        <div class="controls">
            {{ timeline:input }}
            {{ if timeline:instructions }}<span class="help-inline">{{ timeline:instructions }}</span>{{ endif }}
            {{ timeline:error }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{raq_file:slug}}">{{ if raq_file:required }}<span class="required">*</span>{{ endif }}{{ raq_file:label }}</label>
        <div class="controls">
            {{ raq_file:input }}
            {{ if raq_file:instructions }}<span class="help-inline">{{ raq_file:instructions }}</span>{{ endif }}
            {{ raq_file:error }}
        </div>
    </div>
<?= form_fieldset_close() ?>
<?= form_fieldset('Other Information') ?>
	<div class="control-group">
        <label class="control-label" for="{{promo:slug}}">{{ if promo:required }}<span class="required">*</span>{{ endif }}{{ promo:label }}</label>
        <div class="controls">
            <input type="text" placeholder="{{ promo:instructions }}" name="{{promo:slug}}" value="" id="{{promo:slug}}"/>
            {{ promo:error }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{details:slug}}">{{ if details:required }}<span class="required">*</span>{{ endif }}{{ details:label }}</label>
        <div class="controls">
            <textarea name="{{details:slug}}" id="{{details:slug}}" ></textarea>
            {{ if details:instructions }}<span class="help-inline">{{ details:instructions }}</span>{{ endif }}
            {{ details:error }}
        </div>
    </div>
<?= form_fieldset_close() ?>
    <div class="row-fluid">
    <div class="span6 offset6">
        <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
    </div>
    </div>
{{ form_close }}

{{ /streams:form }}
