<!-- Begin header -->
<header id="header" class="site-header">
    <nav id="main-nav">
        <div class="site-nav site-nav-1">
    		<div id="logo">
    		    <h1 class="logo"><a href="{{url:site}}">{{settings:site_name}}</a></h1>
    		</div>
	    	<ul class="nav">
	    	{{navigation:links group="header"}}
	    	</ul>
	    	<div class="phone">
	    	    Call Us<br/>
	    	    {{ variables:phone }}
	    	</div>
    	</div>
    	<div class="site-nav site-nav-2">
    	    <ul class="nav">
    	    {{navigation:links group="header-subnav"}}
    	    </ul>
    	</div>
    	<div class="site-nav-control" id="headerToggle"></div>
    </nav>
</header>
<!-- End header -->