<!DOCTYPE HTML>
<html>
	<head>
		{{theme:partial name="metadata"}}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(
		  	['_setAccount', 'UA-25729995-1'],
		  	['_trackPageview'],
			['_trackPageLoadTime']
		  );
		  
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="container" class="container">
				<div id="header" class="header mod">
					{{theme:partial name="header"}}
				</div>
				<div id="content">
					{{template:body}}
				</div>
				<div id="footer">
					{{theme:partial name="footer"}}
				</div>
			</div>
		</div>
	</body>
</html>
