.newsletter-messages {
	background-color: #f3f3f3;
	color: #444444;
	padding: 30px;
	display: none;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 12px #d8d8d8;
	-o-border-shadow: 0px 0px 12px #d8d8d8;
	-moz-box-shadow: 0px 0px 12px #d8d8d8;
	-webkit-box-shadow: 0px 0px 12px #d8d8d8;
}

.newsletter-messages .message {
	font-size: 16px;
}

.newsletter-messages .sending {
	font-size: 16px;
	display: none;
}

.newsletter-messages img {
	vertical-align: middle;
}

.statistics {
	margin-top: 50px;
	list-style: none;
	width: 300px;
}

.statistics .data {
	float: right;
}

#template-loading {
	vertical-align: middle;
	display: none;
}

.url-add {
	vertical-align: middle;
	cursor: pointer;
}

.url-remove {
	vertical-align: middle;
	cursor: pointer;
}

.template-delete .button {
    display: inline-block;
    line-height: 100%;
    padding: 7px 16px 8px;
}