<!-- Begin footer -->
<footer>
	<div class="row">
		<div class="columns three">
			<h4>Information</h4>
			<ul class="links">
				{{ navigation:links group="information" }}
			</ul>
		</div>
		<div class="columns three">
			<h4>Services</h4>
			<ul>
				{{ navigation:links group="services" }}
			</ul>
		</div>
		<div class="columns three">
			<!--
			<h4>Service Area</h4>
			<ul class="links">
				{{ navigation:links group="service_area" }}
			</ul>
			-->
		</div>
		<div class="columns three">
			<h4>Get a Quote</h4>
			<p>Are you ready to get your auto wrapped? We are eager to start, but we need some information first.</p>
			<a href="{{pages:url id="17"}}" class="nice radius large green button">Get Started!</a>
		</div>
	</div>
</footer>
<div class="legal">Copyright &copy; 2011 John Allen Sign Company, LLC.</div>
<!-- End footer -->