<div class="mod quote-leadin">
	<div class="hd"><h4>What type of vehicle would you like to get wrapped?</h4></div>
	<div class="bd">
		<ul>
		{{if page:slug == "auto-wraps"}}
			<li><a id="quote-hatchback" href="{{ pages:url id="17" }}#hatchback"><span class="icon icon-auto auto-1"></span>Hatchback</a></li>
			<li><a id="quote-coupe" href="{{ pages:url id="17" }}#coupe"><span class="icon icon-auto auto-2"></span>Coupe</a></li>
			<li><a id="quote-sedan" href="{{ pages:url id="17" }}#sedan"><span class="icon icon-auto auto-3"></span>Sedan</a></li>
			<li><a id="quote-wagon" href="{{ pages:url id="17" }}#wagon"><span class="icon icon-auto auto-4"></span>Wagon</a></li>
			<li><a id="quote-convertible" href="{{ pages:url id="17" }}#convertible"><span class="icon icon-auto auto-5"></span>Convertible</a></li>
		{{elseif page:slug == "truck-van-wraps"}}
			<li><a id="quote-truck" href="{{ pages:url id="17" }}#truck"><span class="icon icon-auto auto-6"></span>Truck</a></li>
			<li><a id="quote-suv" href="{{ pages:url id="17" }}#suv"><span class="icon icon-auto auto-7"></span>SUV</a></li>
			<li><a id="quote-passvan" href="{{ pages:url id="17" }}#passenger-van"><span class="icon icon-auto auto-8"></span>Passenger Van</a></li>
			<li><a id="quote-panelvan" href="{{ pages:url id="17" }}#panel-van"><span class="icon icon-auto auto-9"></span>Panel Van</a></li>
		{{endif}}
		</ul>
	</div>
</div>
