<!-- Start Upsell Pods -->
<div id="box" class="row three-box-zone top-spacer">
	<div class="columns four">
		{{ snippet:mod_kingkam }}
	</div>
	<div class="columns four">
		&nbsp;
	</div>
	<div class="columns four">
		<!-- <div class="mod panel recent-posts">
			<div class="hd">
				<h4>Latest News</h4>
			</div>
			<div class="bd">
				<ul>
				{{ blog:posts limit="3" order="desc" }}
					<li>
						<a href="/blog/view/{{ slug }}">{{ title }}</a>
					</li>
				{{ /blog:posts }}
				</ul>
			</div>
			<div class="fd">
				<a class="cta banner" href="/blog">View more articles &raquo;</a>
			</div>
		</div> -->
	</div>
</div>
<!-- End Upsell Pods -->