body.about-page{
	.intro-section{
		padding-bottom:0;
	}
	.team-section{
		> .block{
			background-color: transparent;
		}
	}
	.partners-section{
		background-color:$brand-red;
		border-top:solid 140px #fff;
		> .block{
			background-color: transparent;
		}
	}
	// .event-visible{
	// 	opacity:0;
	// 	@include transition(opacity 1s .5s);
	// 	&.event-visible-active{
	// 		opacity:1;
	// 	}
	// }
}