body.about-page{
	.intro-section{
		padding-bottom:0;
	}
	.team-section{
		> .block{
			background-color: transparent;
		}
		.mod-members-hd h2{
			color:#fff;
			text-shadow: 0 1px 1px #000;
		}
		@media (min-width: $screen-sm-min) {
			.px-density-2x &{
				background-image: url(../img/flatBlueTexture_fade_2x.png),url(../img/flatBlueTexture_2x.png);
				background-size: 200px;
			}
			.px-density-1x &{
				background-image: url(../img/flatBlueTexture_fade_1x.png),url(../img/flatBlueTexture_1x.png);
			}
			background-position:center top, center center;
			background-repeat: repeat-x, repeat;
			@include animation(scroll_water 15s linear infinite);
		}
	}
	.partners-section{
		border-top:solid 140px #fff;
		padding-bottom:60px;
		> .block{
			background-color: transparent;
		}
		@include mod-style-red;
	}
	// scroll in animation
	.mod-members-bd,.mod-partners-bd{
		& > div{
			opacity:0;
		}
		&.event-visible-active > div{
			&:nth-child(even){
				@include animation(enter_right 400ms ease-out 600ms 1);
				@include animation-fill-mode(forwards);
			}
			&:nth-child(odd){
				@include animation(enter_left 400ms ease-out 600ms 1);
				@include animation-fill-mode(forwards);
			}
		}
	}
}