body.hello-page{
	.intro-section{
		padding-bottom:0;
		text-align:center;
		h2{
		  font-weight: 500;
		}
		> .block{
			border-bottom:none;
		}
	}
	.team-section{
		> .block{
			background-color: transparent;
		}
		.mod-members-hd{
			h2{
				color:#fff;
				text-shadow: 0 1px 1px #000;
				margin-bottom:22px;
			}
			p{
				text-align:center;
				@extend .lead;
				padding: 0px 60px 80px;
				@media (max-width: $screen-xs-max) {
					padding:0px 30px 70px;
				}
			}
		}
		@include section-blue;
	}
	.client-section{
		border-top:solid 140px #fff;
		> .block{
			background-color: transparent;
		}
		@include section-red;
	}
	// scroll in animation
	.mod-testimonials-bd{
		padding-top: 100px;
		& > div{
			opacity:0;
		}
		&.event-visible-active > div{
			&:nth-child(even){
				@include animation(enter_right 400ms ease-out 600ms 1);
				@include animation-fill-mode(forwards);
			}
			&:nth-child(odd){
				@include animation(enter_left 400ms ease-out 600ms 1);
				@include animation-fill-mode(forwards);
			}
		}
	}
}