body.contact-page{
	.contact-section{
		@include section-blue;
	}
	.contact-form{
		.event-show-fieldset{
			display:none;
			&-active{
				display:block;
			}
		}
	}
	.side-column{
		.widget{
			@extend .col-xs-6;
			@extend .col-sm-12;
		}
		@media (min-width: $screen-sm-min){
			padding-left:0;
			padding-right:0;
		}
	}
}