body.contact-page{
	.intro-section{
		@extend .container;
		> .block{
			@extend .row;
			> .block-inner{
				@extend .col-md-10;
				@extend .col-md-push-1;
			}
		}
	}
	.contact-section{
		@include section-blue;
	}
	.contact-form{
		.event-show-fieldset{
			display:none;
			&-active{
				display:block;
			}
		}
		@media (max-width: $screen-xs-max){
			padding-bottom:100px;
		}
	}
	.side-column{
		.widget{
			@extend .col-xs-6;
			@extend .col-sm-12;
			&-hd{
				margin-top:0;
				margin-bottom:8px;
			}
		}
		@media (min-width: $screen-sm-min){
			padding-left:0;
			padding-right:0;
		}
	}
}