body.home-page{
	@media (min-width: $screen-sm-min){
		.intro-section{
			padding-top:0;
		}
	}
	.headline {
		font-size:30px;
		text-shadow: 0 2px 3px rgba(black,.75);
		letter-spacing:-2.5px;
		> span{
			display:block;
			font-size:40px;
			margin-top:10px;
			text-shadow: 0 6px 9px rgba(black,.5);
			letter-spacing:-1.5px;
			color:#fff;
		}
		.animate-text{
			height:90px;
		}
		@media (max-width: $screen-xs-max) {
			margin-bottom:10px;
		}
		// xs
		@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			font-size:40px;
			> span{
				font-size:60px;
			}
			.animate-text{
				height:130px;
			}
		}
		// small
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			font-size:48px;
			> span{
				font-size:72px;
			}
			.animate-text{
				height:155px;
			}
		}
		// medium
		@media (min-width: $screen-md-min) {
			font-size:65px;
			> span{
				font-size:96px;
			}
			.animate-text{
				height:200px;
			}
		}
	}
	.animate-letters{
		position: absolute;
		width:100%;
		left:0;
		> span{
			@include transition-duration(400ms);
			@include transition-timing-function(ease-in);
			@include transition-property(transform);
			@include transform(rotateY(90deg));
			display:inline-block;
			&.space{
				display:inline;
			}
			&.dash{
				font-family:$font-family-sans-serif;
			}
		}
		&.active{
			> span{
				@include transform(rotateY(0deg));
			}
		}
		@at-root body.home-page.disable-headline-animation .animate-letters.active > span{
			@include transform(rotateY(90deg));
		}
	}
	.fit-window{
		display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
		// @media (max-width: $screen-xs-max) {
		// 	padding-bottom:80px;
		// }
		@media (max-width: $screen-xs-max) {
			min-height:0;
  	}
	}
	.welcome-section,.fish-section,.cta-section{
		> .block{
			> .block-inner{
				@extend .col-md-10;
				@extend .col-md-offset-1;
			}
		}
	}
	.fishing-section{
		> .block{
			> .block-inner{
				@extend .col-md-offset-1;
				@extend .col-md-10;
			}
		}
	}
	.welcome-section{
		position: relative;
	}
	.fish-section {
		@include background-image(linear-gradient(to top, darken($blue-darkest, 12%), $blue-darkest));
		position: relative;
		> .block{
			position: relative;
			z-index: 11;
		}
		p{
			margin-bottom:1.8em;
		}
		.fish{
			width:100px;
			position: absolute;
			left:-140px;
			@include animation(fish linear infinite);
			@include animation-play-state(paused);

			@at-root .svg-home-active .fish{
				@include animation-play-state(running!important);
			}
			&.style-1{
				@include small-fish(
					$bodyTop:#157ead,
					$bodyBot:#4090b4,
					$tail:#016099,
					$stripe:#157ead,
					$mouth:#045177,
					$eyeMark:#78374e,
					$eyeCenter:#13384c,
					$eyeOuter:#81a8bb
				);
			}
			&.style-2{
				@include small-fish(
					$bodyTop:#0e6b96,
					$bodyBot:#28769a,
					$tail:#025a8a,
					$stripe:#0e6b96,
					$mouth:#045177,
					$eyeMark:#49415f,
					$eyeCenter:#0d425c,
					$eyeOuter:#4e809b
				);
			}
			&.style-3{
				@include small-fish(
					$bodyTop:#095d85,
					$bodyBot:#166286,
					$tail:#03547e,
					$stripe:#095d85,
					$mouth:#045177,
					$eyeMark:#49415f,
					$eyeCenter:#0d425c,
					$eyeOuter:#4e809b
				);
			}
			&.style-4{
				@include small-fish(
					$bodyTop:#07567c,
					$bodyBot:#166286,
					$tail:#045078,
					$stripe:#07567c,
					$mouth:#045177,
					$eyeMark:#49415f,
					$eyeCenter:#0d425c,
					$eyeOuter:#4e809b
				);
			}
		}
	}
	.fishing-section{
		background-color:darken($blue-darkest, 12%);
	}
	.cta-section {
		@include background-image(linear-gradient(to top, darken($blue-darkest, 20%), darken($blue-darkest, 12%)));
		text-align:center;
		.mod-capture{
			max-height:0;
			overflow:hidden;
			@include transition(all 1300ms ease-out 200ms);
		}
		&.active{
			.mod-capture{max-height:1000px;}
			.video-player{display:none;}
		}
		@media (max-width: $screen-sm-max) {
			padding:100px 0;
		}
	}
	.hooks{
		position: fixed;
		z-index: 10;
		top:0;
		width:100%;
		.hook{
			position: absolute;
			top:0;
			width:50px;
			@include transition(all 600ms ease-in);
			@include transform(translateY(-100%));
			.hook-line{
				stroke:#3586AD;
			}
			.hook-shape{
				fill:#9C9DA2;
			}
			// extra small
			@media (max-width: $screen-xs-max) {
				display:none;
				&:nth-child(1){
					right: 2px;
					display:block;
				}
			}
			// small
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				display: none;
				&:nth-child(1){
					left:90%;
					display:block;
				}
				&:nth-child(2){
					left:87%;
					display:block;
				}
			}
			// medium
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				&:nth-child(1){
					left:79%;
				}
				&:nth-child(2){
					left:75%;
				}
				&:nth-child(3){
					left:88%;
				}
				&:nth-child(4){
					left:94%;
				}
			}
			@media (min-width: $screen-lg-min) {
				&:nth-child(1){
					left:3%;
				}
				&:nth-child(2){
					left:87%;
				}
				&:nth-child(3){
					left:91%;
				}
				&:nth-child(4){
					left:94%;
				}
			}
		}
		&.visible{
			.hook{
				@include transform(translateY(0));
			}
		}
		&.locked{
			position: relative!important;
		}
	}
	.embed-responsive-16by9{
		background-color:rgba(white,.1);
		display: flex;
    align-items: center;
    justify-content: center;
		button.cta{
			position:absolute;
			top:50%;
			width:150px;
			margin-left:-75px;
			margin-top:-25px;
		}
	}
	.scroll-teaser{
		display:none;
		font-family:$font-family-sans-serif;
		text-align:center;
    @media (min-width: $screen-sm-min) {
    	position: fixed;
			display:block;
			bottom: 30px;
			left: 50%;
			margin-left: -50px;
			width: 100px;
			opacity:0;

			@include transition(opacity 300ms);
			@include animation(tada 3s linear infinite);
			@include animation-play-state(paused);
			&.active{
				@include animation-play-state(running);
				opacity:1;
			}
    }
	}
	.mod-capture{
		text-align:center;
	}
	.waves-wrapper{
		min-height:0;
		@media (min-width: $screen-sm-min) {
			position: fixed;
		}
		.wave.wave-1{
			border-bottom-width:100px;
			margin-bottom:0;
		}
	}
}