body.work-page{
	.intro-section{
		padding-bottom:0;
		text-align:center;
	}
	.info-section{
		> .block{
			background-color: transparent;
		}
		.mod-services-hd h2{
			color:#fff;
			text-shadow: 0 1px 1px #000;
		}
		@include section-blue;
	}
	// .info-section{
	// 	> .block{
	// 		.block-inner{
	// 			padding:20px ($gutters / 2);
	// 			@media (min-width: $screen-sm-min) {
	// 				padding:45px $gutters;
	// 			}
	// 		}
	// 	}
	// 	@include section-blue;
	// }
	.client-section{
		border-top:solid 140px #fff;
		> .block{
			background-color: transparent;
		}
		@include section-red;
	}
}