<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{settings:site_name}} &bull; {{template:title}}</title>
<!-- CSS Stylesheets -->
{{theme:css file="screen.css"}}
{{theme:css file="print.css" media="print"}}
{{theme:css file="main.css"}}
<!--[if lt IE 8]>{{theme:css file="ie.css"}}<![endif]-->
<!-- Javascripts -->
<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>

<!-- Page Template Meta -->
{{template:metadata}}